set_location reset_cond.M_stage_q_RNO[0] 17 17 4 # SB_LUT4 (LogicCell: reset_cond.M_stage_q[0]_LC_0)
set_location reset_cond.M_stage_q[0] 17 17 4 # SB_DFF (LogicCell: reset_cond.M_stage_q[0]_LC_0)
set_location reset_cond.M_stage_q_RNO[1] 17 17 0 # SB_LUT4 (LogicCell: reset_cond.M_stage_q[1]_LC_1)
set_location reset_cond.M_stage_q[1] 17 17 0 # SB_DFF (LogicCell: reset_cond.M_stage_q[1]_LC_1)
set_location reset_cond.M_stage_q_RNO[2] 17 17 3 # SB_LUT4 (LogicCell: reset_cond.M_stage_q[2]_LC_2)
set_location reset_cond.M_stage_q[2] 17 17 3 # SB_DFF (LogicCell: reset_cond.M_stage_q[2]_LC_2)
set_location reset_cond.M_stage_q_RNO[3] 17 17 7 # SB_LUT4 (LogicCell: reset_cond.M_stage_q[3]_LC_3)
set_location reset_cond.M_stage_q[3] 17 17 7 # SB_DFF (LogicCell: reset_cond.M_stage_q[3]_LC_3)
set_location sr_chain.M_main_clock_count_d8_0_c_RNO 31 18 4 # SB_LUT4 (LogicCell: sr_chain.M_main_clock_count_d8_0_c_RNO_LC_4)
set_location sr_chain.M_main_clock_count_d8_1_c_RNO 31 18 1 # SB_LUT4 (LogicCell: sr_chain.M_main_clock_count_d8_1_c_RNO_LC_5)
set_location sr_chain.M_main_clock_count_d8_2_c_RNO 31 19 3 # SB_LUT4 (LogicCell: sr_chain.M_main_clock_count_d8_2_c_RNO_LC_6)
set_location sr_chain.M_main_clock_count_d8_3_c_RNO 31 17 0 # SB_LUT4 (LogicCell: sr_chain.M_main_clock_count_d8_3_c_RNO_LC_7)
set_location sr_chain.M_main_clock_count_d8_4_c_RNO 31 17 1 # SB_LUT4 (LogicCell: sr_chain.M_main_clock_count_d8_4_c_RNO_LC_8)
set_location sr_chain.M_main_clock_count_d8_5_c_RNO 31 18 7 # SB_LUT4 (LogicCell: sr_chain.M_main_clock_count_d8_5_c_RNO_LC_9)
set_location sr_chain.M_main_clock_count_d8_6_c_RNI1I401 31 17 5 # SB_LUT4 (LogicCell: sr_chain.M_main_clock_count_d8_6_c_RNI1I401_LC_10)
set_location sr_chain.M_main_clock_count_d8_6_c_RNI2VR22 29 18 3 # SB_LUT4 (LogicCell: sr_chain.M_main_clock_count_d8_6_c_RNI2VR22_LC_11)
set_location sr_chain.M_main_clock_count_d8_6_c_RNIA6DO1 31 18 2 # SB_LUT4 (LogicCell: sr_chain.M_main_clock_count_d8_6_c_RNIA6DO1_LC_12)
set_location sr_chain.M_main_clock_count_d8_6_c_RNII1RI 31 17 4 # SB_LUT4 (LogicCell: sr_chain.M_main_clock_count_d8_6_c_RNII1RI_LC_13)
set_location sr_chain.M_main_clock_count_d8_6_c_inv 30 18 6 # SB_LUT4 (LogicCell: sr_chain.M_main_clock_count_d8_6_c_inv_LC_14)
set_location sr_chain.M_main_clock_count_d8_6_c 30 18 6 # SB_CARRY (LogicCell: sr_chain.M_main_clock_count_d8_6_c_inv_LC_14)
set_location sr_chain.M_main_clock_count_q_RNO[0] 32 17 0 # SB_LUT4 (LogicCell: sr_chain.M_main_clock_count_q[0]_LC_15)
set_location sr_chain.M_main_clock_count_q[0] 32 17 0 # SB_DFFSR (LogicCell: sr_chain.M_main_clock_count_q[0]_LC_15)
set_location sr_chain.un1_M_main_clock_count_q_1_cry_0_c 32 17 0 # SB_CARRY (LogicCell: sr_chain.M_main_clock_count_q[0]_LC_15)
set_location sr_chain.M_main_clock_count_q_RNO[1] 32 17 1 # SB_LUT4 (LogicCell: sr_chain.M_main_clock_count_q[1]_LC_16)
set_location sr_chain.M_main_clock_count_q[1] 32 17 1 # SB_DFFSR (LogicCell: sr_chain.M_main_clock_count_q[1]_LC_16)
set_location sr_chain.un1_M_main_clock_count_q_1_cry_1_c 32 17 1 # SB_CARRY (LogicCell: sr_chain.M_main_clock_count_q[1]_LC_16)
set_location sr_chain.M_main_clock_count_q_RNO[10] 32 18 2 # SB_LUT4 (LogicCell: sr_chain.M_main_clock_count_q[10]_LC_17)
set_location sr_chain.M_main_clock_count_q[10] 32 18 2 # SB_DFFSR (LogicCell: sr_chain.M_main_clock_count_q[10]_LC_17)
set_location sr_chain.un1_M_main_clock_count_q_1_cry_10_c 32 18 2 # SB_CARRY (LogicCell: sr_chain.M_main_clock_count_q[10]_LC_17)
set_location sr_chain.M_main_clock_count_q_RNO[11] 32 18 3 # SB_LUT4 (LogicCell: sr_chain.M_main_clock_count_q[11]_LC_18)
set_location sr_chain.M_main_clock_count_q[11] 32 18 3 # SB_DFFSR (LogicCell: sr_chain.M_main_clock_count_q[11]_LC_18)
set_location sr_chain.un1_M_main_clock_count_q_1_cry_11_c 32 18 3 # SB_CARRY (LogicCell: sr_chain.M_main_clock_count_q[11]_LC_18)
set_location sr_chain.M_main_clock_count_q_RNO[12] 32 18 4 # SB_LUT4 (LogicCell: sr_chain.M_main_clock_count_q[12]_LC_19)
set_location sr_chain.M_main_clock_count_q[12] 32 18 4 # SB_DFFSR (LogicCell: sr_chain.M_main_clock_count_q[12]_LC_19)
set_location sr_chain.un1_M_main_clock_count_q_1_cry_12_c 32 18 4 # SB_CARRY (LogicCell: sr_chain.M_main_clock_count_q[12]_LC_19)
set_location sr_chain.M_main_clock_count_q_RNO[13] 32 18 5 # SB_LUT4 (LogicCell: sr_chain.M_main_clock_count_q[13]_LC_20)
set_location sr_chain.M_main_clock_count_q[13] 32 18 5 # SB_DFFSR (LogicCell: sr_chain.M_main_clock_count_q[13]_LC_20)
set_location sr_chain.un1_M_main_clock_count_q_1_cry_13_c 32 18 5 # SB_CARRY (LogicCell: sr_chain.M_main_clock_count_q[13]_LC_20)
set_location sr_chain.M_main_clock_count_q_RNO[14] 32 18 6 # SB_LUT4 (LogicCell: sr_chain.M_main_clock_count_q[14]_LC_21)
set_location sr_chain.M_main_clock_count_q[14] 32 18 6 # SB_DFFSR (LogicCell: sr_chain.M_main_clock_count_q[14]_LC_21)
set_location sr_chain.un1_M_main_clock_count_q_1_cry_14_c 32 18 6 # SB_CARRY (LogicCell: sr_chain.M_main_clock_count_q[14]_LC_21)
set_location sr_chain.M_main_clock_count_q_RNO[15] 32 18 7 # SB_LUT4 (LogicCell: sr_chain.M_main_clock_count_q[15]_LC_22)
set_location sr_chain.M_main_clock_count_q[15] 32 18 7 # SB_DFFSR (LogicCell: sr_chain.M_main_clock_count_q[15]_LC_22)
set_location sr_chain.un1_M_main_clock_count_q_1_cry_15_c 32 18 7 # SB_CARRY (LogicCell: sr_chain.M_main_clock_count_q[15]_LC_22)
set_location sr_chain.M_main_clock_count_q_RNO[16] 32 19 0 # SB_LUT4 (LogicCell: sr_chain.M_main_clock_count_q[16]_LC_23)
set_location sr_chain.M_main_clock_count_q[16] 32 19 0 # SB_DFFSR (LogicCell: sr_chain.M_main_clock_count_q[16]_LC_23)
set_location sr_chain.un1_M_main_clock_count_q_1_cry_16_c 32 19 0 # SB_CARRY (LogicCell: sr_chain.M_main_clock_count_q[16]_LC_23)
set_location sr_chain.M_main_clock_count_q_RNO[17] 32 19 1 # SB_LUT4 (LogicCell: sr_chain.M_main_clock_count_q[17]_LC_24)
set_location sr_chain.M_main_clock_count_q[17] 32 19 1 # SB_DFFSR (LogicCell: sr_chain.M_main_clock_count_q[17]_LC_24)
set_location sr_chain.un1_M_main_clock_count_q_1_cry_17_c 32 19 1 # SB_CARRY (LogicCell: sr_chain.M_main_clock_count_q[17]_LC_24)
set_location sr_chain.M_main_clock_count_q_RNO[18] 32 19 2 # SB_LUT4 (LogicCell: sr_chain.M_main_clock_count_q[18]_LC_25)
set_location sr_chain.M_main_clock_count_q[18] 32 19 2 # SB_DFFSR (LogicCell: sr_chain.M_main_clock_count_q[18]_LC_25)
set_location sr_chain.un1_M_main_clock_count_q_1_cry_18_c 32 19 2 # SB_CARRY (LogicCell: sr_chain.M_main_clock_count_q[18]_LC_25)
set_location sr_chain.M_main_clock_count_q_RNO[19] 32 19 3 # SB_LUT4 (LogicCell: sr_chain.M_main_clock_count_q[19]_LC_26)
set_location sr_chain.M_main_clock_count_q[19] 32 19 3 # SB_DFFSR (LogicCell: sr_chain.M_main_clock_count_q[19]_LC_26)
set_location sr_chain.un1_M_main_clock_count_q_1_cry_19_c 32 19 3 # SB_CARRY (LogicCell: sr_chain.M_main_clock_count_q[19]_LC_26)
set_location sr_chain.M_main_clock_count_q_RNO[2] 32 17 2 # SB_LUT4 (LogicCell: sr_chain.M_main_clock_count_q[2]_LC_27)
set_location sr_chain.M_main_clock_count_q[2] 32 17 2 # SB_DFFSR (LogicCell: sr_chain.M_main_clock_count_q[2]_LC_27)
set_location sr_chain.un1_M_main_clock_count_q_1_cry_2_c 32 17 2 # SB_CARRY (LogicCell: sr_chain.M_main_clock_count_q[2]_LC_27)
set_location sr_chain.M_main_clock_count_q_RNO[20] 32 19 4 # SB_LUT4 (LogicCell: sr_chain.M_main_clock_count_q[20]_LC_28)
set_location sr_chain.M_main_clock_count_q[20] 32 19 4 # SB_DFFSR (LogicCell: sr_chain.M_main_clock_count_q[20]_LC_28)
set_location sr_chain.un1_M_main_clock_count_q_1_cry_20_c 32 19 4 # SB_CARRY (LogicCell: sr_chain.M_main_clock_count_q[20]_LC_28)
set_location sr_chain.M_main_clock_count_q_RNO[21] 32 19 5 # SB_LUT4 (LogicCell: sr_chain.M_main_clock_count_q[21]_LC_29)
set_location sr_chain.M_main_clock_count_q[21] 32 19 5 # SB_DFFSR (LogicCell: sr_chain.M_main_clock_count_q[21]_LC_29)
set_location sr_chain.un1_M_main_clock_count_q_1_cry_21_c 32 19 5 # SB_CARRY (LogicCell: sr_chain.M_main_clock_count_q[21]_LC_29)
set_location sr_chain.M_main_clock_count_q_RNO[22] 32 19 6 # SB_LUT4 (LogicCell: sr_chain.M_main_clock_count_q[22]_LC_30)
set_location sr_chain.M_main_clock_count_q[22] 32 19 6 # SB_DFFSR (LogicCell: sr_chain.M_main_clock_count_q[22]_LC_30)
set_location sr_chain.un1_M_main_clock_count_q_1_cry_22_c 32 19 6 # SB_CARRY (LogicCell: sr_chain.M_main_clock_count_q[22]_LC_30)
set_location sr_chain.M_main_clock_count_q_RNO[23] 32 19 7 # SB_LUT4 (LogicCell: sr_chain.M_main_clock_count_q[23]_LC_31)
set_location sr_chain.M_main_clock_count_q[23] 32 19 7 # SB_DFFSR (LogicCell: sr_chain.M_main_clock_count_q[23]_LC_31)
set_location sr_chain.un1_M_main_clock_count_q_1_cry_23_c 32 19 7 # SB_CARRY (LogicCell: sr_chain.M_main_clock_count_q[23]_LC_31)
set_location sr_chain.M_main_clock_count_q_RNO[24] 32 20 0 # SB_LUT4 (LogicCell: sr_chain.M_main_clock_count_q[24]_LC_32)
set_location sr_chain.M_main_clock_count_q[24] 32 20 0 # SB_DFFSR (LogicCell: sr_chain.M_main_clock_count_q[24]_LC_32)
set_location sr_chain.M_main_clock_count_q_RNO[3] 32 17 3 # SB_LUT4 (LogicCell: sr_chain.M_main_clock_count_q[3]_LC_33)
set_location sr_chain.M_main_clock_count_q[3] 32 17 3 # SB_DFFSR (LogicCell: sr_chain.M_main_clock_count_q[3]_LC_33)
set_location sr_chain.un1_M_main_clock_count_q_1_cry_3_c 32 17 3 # SB_CARRY (LogicCell: sr_chain.M_main_clock_count_q[3]_LC_33)
set_location sr_chain.M_main_clock_count_q_RNO[4] 32 17 4 # SB_LUT4 (LogicCell: sr_chain.M_main_clock_count_q[4]_LC_34)
set_location sr_chain.M_main_clock_count_q[4] 32 17 4 # SB_DFFSR (LogicCell: sr_chain.M_main_clock_count_q[4]_LC_34)
set_location sr_chain.un1_M_main_clock_count_q_1_cry_4_c 32 17 4 # SB_CARRY (LogicCell: sr_chain.M_main_clock_count_q[4]_LC_34)
set_location sr_chain.M_main_clock_count_q_RNO[5] 32 17 5 # SB_LUT4 (LogicCell: sr_chain.M_main_clock_count_q[5]_LC_35)
set_location sr_chain.M_main_clock_count_q[5] 32 17 5 # SB_DFFSR (LogicCell: sr_chain.M_main_clock_count_q[5]_LC_35)
set_location sr_chain.un1_M_main_clock_count_q_1_cry_5_c 32 17 5 # SB_CARRY (LogicCell: sr_chain.M_main_clock_count_q[5]_LC_35)
set_location sr_chain.M_main_clock_count_q_RNO[6] 32 17 6 # SB_LUT4 (LogicCell: sr_chain.M_main_clock_count_q[6]_LC_36)
set_location sr_chain.M_main_clock_count_q[6] 32 17 6 # SB_DFFSR (LogicCell: sr_chain.M_main_clock_count_q[6]_LC_36)
set_location sr_chain.un1_M_main_clock_count_q_1_cry_6_c 32 17 6 # SB_CARRY (LogicCell: sr_chain.M_main_clock_count_q[6]_LC_36)
set_location sr_chain.M_main_clock_count_q_RNO[7] 32 17 7 # SB_LUT4 (LogicCell: sr_chain.M_main_clock_count_q[7]_LC_37)
set_location sr_chain.M_main_clock_count_q[7] 32 17 7 # SB_DFFSR (LogicCell: sr_chain.M_main_clock_count_q[7]_LC_37)
set_location sr_chain.un1_M_main_clock_count_q_1_cry_7_c 32 17 7 # SB_CARRY (LogicCell: sr_chain.M_main_clock_count_q[7]_LC_37)
set_location sr_chain.M_main_clock_count_q_RNO[8] 32 18 0 # SB_LUT4 (LogicCell: sr_chain.M_main_clock_count_q[8]_LC_38)
set_location sr_chain.M_main_clock_count_q[8] 32 18 0 # SB_DFFSR (LogicCell: sr_chain.M_main_clock_count_q[8]_LC_38)
set_location sr_chain.un1_M_main_clock_count_q_1_cry_8_c 32 18 0 # SB_CARRY (LogicCell: sr_chain.M_main_clock_count_q[8]_LC_38)
set_location sr_chain.M_main_clock_count_q_RNO[9] 32 18 1 # SB_LUT4 (LogicCell: sr_chain.M_main_clock_count_q[9]_LC_39)
set_location sr_chain.M_main_clock_count_q[9] 32 18 1 # SB_DFFSR (LogicCell: sr_chain.M_main_clock_count_q[9]_LC_39)
set_location sr_chain.un1_M_main_clock_count_q_1_cry_9_c 32 18 1 # SB_CARRY (LogicCell: sr_chain.M_main_clock_count_q[9]_LC_39)
set_location sr_chain.M_sr_bit_q_RNO 30 20 5 # SB_LUT4 (LogicCell: sr_chain.M_sr_bit_q_LC_40)
set_location sr_chain.M_sr_bit_q 30 20 5 # SB_DFF (LogicCell: sr_chain.M_sr_bit_q_LC_40)
set_location sr_chain.M_sr_bit_q_RNO_0 30 20 2 # SB_LUT4 (LogicCell: sr_chain.M_sr_bit_q_RNO_0_LC_41)
set_location sr_chain.M_sr_bit_q_RNO_1 30 20 4 # SB_LUT4 (LogicCell: sr_chain.M_sr_bit_q_RNO_1_LC_42)
set_location sr_chain.M_sr_bit_q_RNO_2 30 17 6 # SB_LUT4 (LogicCell: sr_chain.M_sr_bit_q_RNO_2_LC_43)
set_location sr_chain.M_sr_bit_q_RNO_3 30 20 3 # SB_LUT4 (LogicCell: sr_chain.M_sr_bit_q_RNO_3_LC_44)
set_location sr_chain.M_sr_clock_count_q_RNI29HJ2[0] 31 19 5 # SB_LUT4 (LogicCell: sr_chain.M_sr_clock_count_q_RNI29HJ2[0]_LC_45)
set_location sr_chain.M_sr_clock_count_q_RNI63IL[1] 30 17 0 # SB_LUT4 (LogicCell: sr_chain.M_sr_clock_count_q_RNI63IL[1]_LC_46)
set_location sr_chain.M_sr_clock_count_q_RNIL1D81[1] 30 17 4 # SB_LUT4 (LogicCell: sr_chain.M_sr_clock_count_q_RNIL1D81[1]_LC_47)
set_location sr_chain.M_sr_clock_count_q_RNIV7TL1[4] 30 17 1 # SB_LUT4 (LogicCell: sr_chain.M_sr_clock_count_q_RNIV7TL1[4]_LC_48)
set_location sr_chain.M_sr_clock_count_q_RNO[0] 31 17 2 # SB_LUT4 (LogicCell: sr_chain.M_sr_clock_count_q[0]_LC_49)
set_location sr_chain.M_sr_clock_count_q[0] 31 17 2 # SB_DFF (LogicCell: sr_chain.M_sr_clock_count_q[0]_LC_49)
set_location sr_chain.M_sr_clock_count_q_RNO[1] 30 17 7 # SB_LUT4 (LogicCell: sr_chain.M_sr_clock_count_q[1]_LC_50)
set_location sr_chain.M_sr_clock_count_q[1] 30 17 7 # SB_DFF (LogicCell: sr_chain.M_sr_clock_count_q[1]_LC_50)
set_location sr_chain.M_sr_clock_count_q_RNO[2] 30 17 5 # SB_LUT4 (LogicCell: sr_chain.M_sr_clock_count_q[2]_LC_51)
set_location sr_chain.M_sr_clock_count_q[2] 30 17 5 # SB_DFF (LogicCell: sr_chain.M_sr_clock_count_q[2]_LC_51)
set_location sr_chain.M_sr_clock_count_q_RNO[3] 29 17 2 # SB_LUT4 (LogicCell: sr_chain.M_sr_clock_count_q[3]_LC_52)
set_location sr_chain.M_sr_clock_count_q[3] 29 17 2 # SB_DFFSR (LogicCell: sr_chain.M_sr_clock_count_q[3]_LC_52)
set_location sr_chain.M_sr_clock_count_q_RNO[4] 29 17 0 # SB_LUT4 (LogicCell: sr_chain.M_sr_clock_count_q[4]_LC_53)
set_location sr_chain.M_sr_clock_count_q[4] 29 17 0 # SB_DFFSR (LogicCell: sr_chain.M_sr_clock_count_q[4]_LC_53)
set_location sr_chain.M_sr_data_buffer_q_RNO[3] 31 17 3 # SB_LUT4 (LogicCell: sr_chain.M_sr_data_buffer_q[3]_LC_54)
set_location sr_chain.M_sr_data_buffer_q[3] 31 17 3 # SB_DFF (LogicCell: sr_chain.M_sr_data_buffer_q[3]_LC_54)
set_location sr_chain.M_sr_is_sending_q_RNI73BG 31 18 6 # SB_LUT4 (LogicCell: sr_chain.M_sr_is_sending_q_RNI73BG_LC_55)
set_location sr_chain.M_sr_is_sending_q_RNI73BG_0 30 17 2 # SB_LUT4 (LogicCell: sr_chain.M_sr_is_sending_q_RNI73BG_0_LC_56)
set_location sr_chain.M_sr_is_sending_q_RNIMJKT 30 17 3 # SB_LUT4 (LogicCell: sr_chain.M_sr_is_sending_q_RNIMJKT_LC_57)
set_location sr_chain.M_sr_is_sending_q_RNO 31 18 3 # SB_LUT4 (LogicCell: sr_chain.M_sr_is_sending_q_LC_58)
set_location sr_chain.M_sr_is_sending_q 31 18 3 # SB_DFF (LogicCell: sr_chain.M_sr_is_sending_q_LC_58)
set_location sr_chain.M_sr_rest_cycles_q_RNO[0] 28 18 0 # SB_LUT4 (LogicCell: sr_chain.M_sr_rest_cycles_q[0]_LC_59)
set_location sr_chain.M_sr_rest_cycles_q[0] 28 18 0 # SB_DFFSR (LogicCell: sr_chain.M_sr_rest_cycles_q[0]_LC_59)
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_0_s1_c 28 18 0 # SB_CARRY (LogicCell: sr_chain.M_sr_rest_cycles_q[0]_LC_59)
set_location sr_chain.M_sr_rest_cycles_q_RNO[1] 29 19 1 # SB_LUT4 (LogicCell: sr_chain.M_sr_rest_cycles_q[1]_LC_60)
set_location sr_chain.M_sr_rest_cycles_q[1] 29 19 1 # SB_DFFSR (LogicCell: sr_chain.M_sr_rest_cycles_q[1]_LC_60)
set_location sr_chain.M_sr_rest_cycles_q_RNO[10] 29 19 4 # SB_LUT4 (LogicCell: sr_chain.M_sr_rest_cycles_q[10]_LC_61)
set_location sr_chain.M_sr_rest_cycles_q[10] 29 19 4 # SB_DFFSR (LogicCell: sr_chain.M_sr_rest_cycles_q[10]_LC_61)
set_location sr_chain.M_sr_rest_cycles_q_RNO[11] 29 18 4 # SB_LUT4 (LogicCell: sr_chain.M_sr_rest_cycles_q[11]_LC_62)
set_location sr_chain.M_sr_rest_cycles_q[11] 29 18 4 # SB_DFFSR (LogicCell: sr_chain.M_sr_rest_cycles_q[11]_LC_62)
set_location sr_chain.M_sr_rest_cycles_q_RNO[12] 29 19 7 # SB_LUT4 (LogicCell: sr_chain.M_sr_rest_cycles_q[12]_LC_63)
set_location sr_chain.M_sr_rest_cycles_q[12] 29 19 7 # SB_DFFSR (LogicCell: sr_chain.M_sr_rest_cycles_q[12]_LC_63)
set_location sr_chain.M_sr_rest_cycles_q_RNO[13] 29 20 5 # SB_LUT4 (LogicCell: sr_chain.M_sr_rest_cycles_q[13]_LC_64)
set_location sr_chain.M_sr_rest_cycles_q[13] 29 20 5 # SB_DFFSR (LogicCell: sr_chain.M_sr_rest_cycles_q[13]_LC_64)
set_location sr_chain.M_sr_rest_cycles_q_RNO[14] 29 20 6 # SB_LUT4 (LogicCell: sr_chain.M_sr_rest_cycles_q[14]_LC_65)
set_location sr_chain.M_sr_rest_cycles_q[14] 29 20 6 # SB_DFFSR (LogicCell: sr_chain.M_sr_rest_cycles_q[14]_LC_65)
set_location sr_chain.M_sr_rest_cycles_q_RNO[15] 29 19 5 # SB_LUT4 (LogicCell: sr_chain.M_sr_rest_cycles_q[15]_LC_66)
set_location sr_chain.M_sr_rest_cycles_q[15] 29 19 5 # SB_DFFSR (LogicCell: sr_chain.M_sr_rest_cycles_q[15]_LC_66)
set_location sr_chain.M_sr_rest_cycles_q_RNO[16] 29 20 4 # SB_LUT4 (LogicCell: sr_chain.M_sr_rest_cycles_q[16]_LC_67)
set_location sr_chain.M_sr_rest_cycles_q[16] 29 20 4 # SB_DFFSR (LogicCell: sr_chain.M_sr_rest_cycles_q[16]_LC_67)
set_location sr_chain.M_sr_rest_cycles_q_RNO[17] 29 20 1 # SB_LUT4 (LogicCell: sr_chain.M_sr_rest_cycles_q[17]_LC_68)
set_location sr_chain.M_sr_rest_cycles_q[17] 29 20 1 # SB_DFFSR (LogicCell: sr_chain.M_sr_rest_cycles_q[17]_LC_68)
set_location sr_chain.M_sr_rest_cycles_q_RNO[18] 29 21 2 # SB_LUT4 (LogicCell: sr_chain.M_sr_rest_cycles_q[18]_LC_69)
set_location sr_chain.M_sr_rest_cycles_q[18] 29 21 2 # SB_DFFSR (LogicCell: sr_chain.M_sr_rest_cycles_q[18]_LC_69)
set_location sr_chain.M_sr_rest_cycles_q_RNO[19] 29 20 2 # SB_LUT4 (LogicCell: sr_chain.M_sr_rest_cycles_q[19]_LC_70)
set_location sr_chain.M_sr_rest_cycles_q[19] 29 20 2 # SB_DFFSR (LogicCell: sr_chain.M_sr_rest_cycles_q[19]_LC_70)
set_location sr_chain.M_sr_rest_cycles_q_RNO[2] 29 20 0 # SB_LUT4 (LogicCell: sr_chain.M_sr_rest_cycles_q[2]_LC_71)
set_location sr_chain.M_sr_rest_cycles_q[2] 29 20 0 # SB_DFFSR (LogicCell: sr_chain.M_sr_rest_cycles_q[2]_LC_71)
set_location sr_chain.M_sr_rest_cycles_q_RNO[20] 29 21 4 # SB_LUT4 (LogicCell: sr_chain.M_sr_rest_cycles_q[20]_LC_72)
set_location sr_chain.M_sr_rest_cycles_q[20] 29 21 4 # SB_DFFSR (LogicCell: sr_chain.M_sr_rest_cycles_q[20]_LC_72)
set_location sr_chain.M_sr_rest_cycles_q_RNO[21] 29 21 6 # SB_LUT4 (LogicCell: sr_chain.M_sr_rest_cycles_q[21]_LC_73)
set_location sr_chain.M_sr_rest_cycles_q[21] 29 21 6 # SB_DFFSR (LogicCell: sr_chain.M_sr_rest_cycles_q[21]_LC_73)
set_location sr_chain.M_sr_rest_cycles_q_RNO[22] 29 21 7 # SB_LUT4 (LogicCell: sr_chain.M_sr_rest_cycles_q[22]_LC_74)
set_location sr_chain.M_sr_rest_cycles_q[22] 29 21 7 # SB_DFFSR (LogicCell: sr_chain.M_sr_rest_cycles_q[22]_LC_74)
set_location sr_chain.M_sr_rest_cycles_q_RNO[23] 28 21 3 # SB_LUT4 (LogicCell: sr_chain.M_sr_rest_cycles_q[23]_LC_75)
set_location sr_chain.M_sr_rest_cycles_q[23] 28 21 3 # SB_DFFSR (LogicCell: sr_chain.M_sr_rest_cycles_q[23]_LC_75)
set_location sr_chain.M_sr_rest_cycles_q_RNO[24] 28 21 0 # SB_LUT4 (LogicCell: sr_chain.M_sr_rest_cycles_q[24]_LC_76)
set_location sr_chain.M_sr_rest_cycles_q[24] 28 21 0 # SB_DFFSR (LogicCell: sr_chain.M_sr_rest_cycles_q[24]_LC_76)
set_location sr_chain.M_sr_rest_cycles_q_RNO[3] 29 19 3 # SB_LUT4 (LogicCell: sr_chain.M_sr_rest_cycles_q[3]_LC_77)
set_location sr_chain.M_sr_rest_cycles_q[3] 29 19 3 # SB_DFFSR (LogicCell: sr_chain.M_sr_rest_cycles_q[3]_LC_77)
set_location sr_chain.M_sr_rest_cycles_q_RNO[4] 29 20 3 # SB_LUT4 (LogicCell: sr_chain.M_sr_rest_cycles_q[4]_LC_78)
set_location sr_chain.M_sr_rest_cycles_q[4] 29 20 3 # SB_DFFSR (LogicCell: sr_chain.M_sr_rest_cycles_q[4]_LC_78)
set_location sr_chain.M_sr_rest_cycles_q_RNO[5] 29 20 7 # SB_LUT4 (LogicCell: sr_chain.M_sr_rest_cycles_q[5]_LC_79)
set_location sr_chain.M_sr_rest_cycles_q[5] 29 20 7 # SB_DFFSR (LogicCell: sr_chain.M_sr_rest_cycles_q[5]_LC_79)
set_location sr_chain.M_sr_rest_cycles_q_RNO[6] 30 21 0 # SB_LUT4 (LogicCell: sr_chain.M_sr_rest_cycles_q[6]_LC_80)
set_location sr_chain.M_sr_rest_cycles_q[6] 30 21 0 # SB_DFFSR (LogicCell: sr_chain.M_sr_rest_cycles_q[6]_LC_80)
set_location sr_chain.M_sr_rest_cycles_q_RNO[7] 30 21 3 # SB_LUT4 (LogicCell: sr_chain.M_sr_rest_cycles_q[7]_LC_81)
set_location sr_chain.M_sr_rest_cycles_q[7] 30 21 3 # SB_DFFSR (LogicCell: sr_chain.M_sr_rest_cycles_q[7]_LC_81)
set_location sr_chain.M_sr_rest_cycles_q_RNO[8] 29 18 6 # SB_LUT4 (LogicCell: sr_chain.M_sr_rest_cycles_q[8]_LC_82)
set_location sr_chain.M_sr_rest_cycles_q[8] 29 18 6 # SB_DFFSR (LogicCell: sr_chain.M_sr_rest_cycles_q[8]_LC_82)
set_location sr_chain.M_sr_rest_cycles_q_RNO[9] 29 18 7 # SB_LUT4 (LogicCell: sr_chain.M_sr_rest_cycles_q[9]_LC_83)
set_location sr_chain.M_sr_rest_cycles_q[9] 29 18 7 # SB_DFFSR (LogicCell: sr_chain.M_sr_rest_cycles_q[9]_LC_83)
set_location sr_chain.un1_M_sr_rest_cycles_q_1_0_c_RNO 29 19 0 # SB_LUT4 (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_1_0_c_RNO_LC_84)
set_location sr_chain.un1_M_sr_rest_cycles_q_1_1_c_RNO 30 20 0 # SB_LUT4 (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_1_1_c_RNO_LC_85)
set_location sr_chain.un1_M_sr_rest_cycles_q_1_2_c_RNO 29 18 5 # SB_LUT4 (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_1_2_c_RNO_LC_86)
set_location sr_chain.un1_M_sr_rest_cycles_q_1_3_c_RNO 29 19 6 # SB_LUT4 (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_1_3_c_RNO_LC_87)
set_location sr_chain.un1_M_sr_rest_cycles_q_1_4_c_RNO 30 20 6 # SB_LUT4 (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_1_4_c_RNO_LC_88)
set_location sr_chain.un1_M_sr_rest_cycles_q_1_5_c_RNO 29 21 5 # SB_LUT4 (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_1_5_c_RNO_LC_89)
set_location sr_chain.un1_M_sr_rest_cycles_q_1_6_c_RNIFAS5 28 21 2 # SB_LUT4 (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_1_6_c_RNIFAS5_LC_90)
set_location sr_chain.un1_M_sr_rest_cycles_q_1_6_c_RNIH9O82 27 21 7 # SB_LUT4 (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_1_6_c_RNIH9O82_LC_91)
set_location sr_chain.un1_M_sr_rest_cycles_q_1_6_c_inv 30 19 6 # SB_LUT4 (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_1_6_c_inv_LC_92)
set_location sr_chain.un1_M_sr_rest_cycles_q_1_6_c 30 19 6 # SB_CARRY (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_1_6_c_inv_LC_92)
set_location sr_chain.M_main_clock_count_d8_THRU_LUT4_0 30 18 7 # SB_LUT4 (LogicCell: sr_chain.M_main_clock_count_d8_THRU_LUT4_0_LC_93)
set_location sr_chain.un1_M_sr_rest_cycles_q_1_6_THRU_LUT4_0 30 19 7 # SB_LUT4 (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_1_6_THRU_LUT4_0_LC_94)
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_0_s1_THRU_LUT4_0 28 18 1 # SB_LUT4 (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_9_cry_0_s1_THRU_LUT4_0_LC_95)
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_1_s1_c 28 18 1 # SB_CARRY (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_9_cry_0_s1_THRU_LUT4_0_LC_95)
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_10_s1_THRU_LUT4_0 28 19 3 # SB_LUT4 (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_9_cry_10_s1_THRU_LUT4_0_LC_96)
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_11_s1_c 28 19 3 # SB_CARRY (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_9_cry_10_s1_THRU_LUT4_0_LC_96)
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_11_s1_THRU_LUT4_0 28 19 4 # SB_LUT4 (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_9_cry_11_s1_THRU_LUT4_0_LC_97)
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_12_s1_c 28 19 4 # SB_CARRY (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_9_cry_11_s1_THRU_LUT4_0_LC_97)
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_12_s1_THRU_LUT4_0 28 19 5 # SB_LUT4 (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_9_cry_12_s1_THRU_LUT4_0_LC_98)
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_13_s1_c 28 19 5 # SB_CARRY (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_9_cry_12_s1_THRU_LUT4_0_LC_98)
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_13_s1_THRU_LUT4_0 28 19 6 # SB_LUT4 (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_9_cry_13_s1_THRU_LUT4_0_LC_99)
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_14_s1_c 28 19 6 # SB_CARRY (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_9_cry_13_s1_THRU_LUT4_0_LC_99)
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_14_s1_THRU_LUT4_0 28 19 7 # SB_LUT4 (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_9_cry_14_s1_THRU_LUT4_0_LC_100)
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_15_s1_c 28 19 7 # SB_CARRY (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_9_cry_14_s1_THRU_LUT4_0_LC_100)
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_15_s1_THRU_LUT4_0 28 20 0 # SB_LUT4 (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_9_cry_15_s1_THRU_LUT4_0_LC_101)
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_16_s1_c 28 20 0 # SB_CARRY (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_9_cry_15_s1_THRU_LUT4_0_LC_101)
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_16_s1_THRU_LUT4_0 28 20 1 # SB_LUT4 (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_9_cry_16_s1_THRU_LUT4_0_LC_102)
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_17_s1_c 28 20 1 # SB_CARRY (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_9_cry_16_s1_THRU_LUT4_0_LC_102)
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_17_s1_THRU_LUT4_0 28 20 2 # SB_LUT4 (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_9_cry_17_s1_THRU_LUT4_0_LC_103)
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_18_s1_c 28 20 2 # SB_CARRY (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_9_cry_17_s1_THRU_LUT4_0_LC_103)
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_18_s1_THRU_LUT4_0 28 20 3 # SB_LUT4 (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_9_cry_18_s1_THRU_LUT4_0_LC_104)
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_19_s1_c 28 20 3 # SB_CARRY (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_9_cry_18_s1_THRU_LUT4_0_LC_104)
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_19_s1_THRU_LUT4_0 28 20 4 # SB_LUT4 (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_9_cry_19_s1_THRU_LUT4_0_LC_105)
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_20_s1_c 28 20 4 # SB_CARRY (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_9_cry_19_s1_THRU_LUT4_0_LC_105)
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_1_s1_THRU_LUT4_0 28 18 2 # SB_LUT4 (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_9_cry_1_s1_THRU_LUT4_0_LC_106)
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_2_s1_c 28 18 2 # SB_CARRY (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_9_cry_1_s1_THRU_LUT4_0_LC_106)
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_20_s1_THRU_LUT4_0 28 20 5 # SB_LUT4 (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_9_cry_20_s1_THRU_LUT4_0_LC_107)
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_21_s1_c 28 20 5 # SB_CARRY (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_9_cry_20_s1_THRU_LUT4_0_LC_107)
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_21_s1_THRU_LUT4_0 28 20 6 # SB_LUT4 (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_9_cry_21_s1_THRU_LUT4_0_LC_108)
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_22_s1_c 28 20 6 # SB_CARRY (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_9_cry_21_s1_THRU_LUT4_0_LC_108)
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_22_s1_THRU_LUT4_0 28 20 7 # SB_LUT4 (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_9_cry_22_s1_THRU_LUT4_0_LC_109)
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_23_s1_c 28 20 7 # SB_CARRY (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_9_cry_22_s1_THRU_LUT4_0_LC_109)
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_2_s1_THRU_LUT4_0 28 18 3 # SB_LUT4 (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_9_cry_2_s1_THRU_LUT4_0_LC_110)
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_3_s1_c 28 18 3 # SB_CARRY (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_9_cry_2_s1_THRU_LUT4_0_LC_110)
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_3_s1_THRU_LUT4_0 28 18 4 # SB_LUT4 (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_9_cry_3_s1_THRU_LUT4_0_LC_111)
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_4_s1_c 28 18 4 # SB_CARRY (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_9_cry_3_s1_THRU_LUT4_0_LC_111)
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_4_s1_THRU_LUT4_0 28 18 5 # SB_LUT4 (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_9_cry_4_s1_THRU_LUT4_0_LC_112)
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_5_s1_c 28 18 5 # SB_CARRY (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_9_cry_4_s1_THRU_LUT4_0_LC_112)
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_5_s1_THRU_LUT4_0 28 18 6 # SB_LUT4 (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_9_cry_5_s1_THRU_LUT4_0_LC_113)
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_6_s1_c 28 18 6 # SB_CARRY (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_9_cry_5_s1_THRU_LUT4_0_LC_113)
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_6_s1_THRU_LUT4_0 28 18 7 # SB_LUT4 (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_9_cry_6_s1_THRU_LUT4_0_LC_114)
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_7_s1_c 28 18 7 # SB_CARRY (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_9_cry_6_s1_THRU_LUT4_0_LC_114)
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_7_s1_THRU_LUT4_0 28 19 0 # SB_LUT4 (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_9_cry_7_s1_THRU_LUT4_0_LC_115)
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_8_s1_c 28 19 0 # SB_CARRY (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_9_cry_7_s1_THRU_LUT4_0_LC_115)
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_8_s1_THRU_LUT4_0 28 19 1 # SB_LUT4 (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_9_cry_8_s1_THRU_LUT4_0_LC_116)
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_9_s1_c 28 19 1 # SB_CARRY (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_9_cry_8_s1_THRU_LUT4_0_LC_116)
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_9_s1_THRU_LUT4_0 28 19 2 # SB_LUT4 (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_9_cry_9_s1_THRU_LUT4_0_LC_117)
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_10_s1_c 28 19 2 # SB_CARRY (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_9_cry_9_s1_THRU_LUT4_0_LC_117)
set_location sr_chain.M_main_clock_count_d8_0_c 30 18 0 # SB_CARRY (LogicCell: sr_chain.M_main_clock_count_d8_0_c_LC_118)
set_location sr_chain.M_main_clock_count_d8_1_c 30 18 1 # SB_CARRY (LogicCell: sr_chain.M_main_clock_count_d8_1_c_LC_119)
set_location sr_chain.M_main_clock_count_d8_2_c 30 18 2 # SB_CARRY (LogicCell: sr_chain.M_main_clock_count_d8_2_c_LC_120)
set_location sr_chain.M_main_clock_count_d8_3_c 30 18 3 # SB_CARRY (LogicCell: sr_chain.M_main_clock_count_d8_3_c_LC_121)
set_location sr_chain.M_main_clock_count_d8_4_c 30 18 4 # SB_CARRY (LogicCell: sr_chain.M_main_clock_count_d8_4_c_LC_122)
set_location sr_chain.M_main_clock_count_d8_5_c 30 18 5 # SB_CARRY (LogicCell: sr_chain.M_main_clock_count_d8_5_c_LC_123)
set_location sr_chain.un1_M_sr_rest_cycles_q_1_0_c 30 19 0 # SB_CARRY (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_1_0_c_LC_124)
set_location sr_chain.un1_M_sr_rest_cycles_q_1_1_c 30 19 1 # SB_CARRY (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_1_1_c_LC_125)
set_location sr_chain.un1_M_sr_rest_cycles_q_1_2_c 30 19 2 # SB_CARRY (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_1_2_c_LC_126)
set_location sr_chain.un1_M_sr_rest_cycles_q_1_3_c 30 19 3 # SB_CARRY (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_1_3_c_LC_127)
set_location sr_chain.un1_M_sr_rest_cycles_q_1_4_c 30 19 4 # SB_CARRY (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_1_4_c_LC_128)
set_location sr_chain.un1_M_sr_rest_cycles_q_1_5_c 30 19 5 # SB_CARRY (LogicCell: sr_chain.un1_M_sr_rest_cycles_q_1_5_c_LC_129)
set_location GND -1 -1 -1 # GND
set_io clk_ibuf_gb_io 16 0 1 # ICE_GB_IO
set_io dout_obuf[0] 0 22 1 # ICE_IO
set_io dout_obuf[1] 0 20 0 # ICE_IO
set_io dout_obuf[2] 0 25 1 # ICE_IO
set_io dout_obuft[3] 0 25 0 # ICE_IO
set_io dout_obuft[4] 0 21 1 # ICE_IO
set_io dout_obuft[5] 0 21 0 # ICE_IO
set_io dout_obuft[6] 0 30 1 # ICE_IO
set_io last_obuf 0 30 0 # ICE_IO
set_io reset_cond.M_stage_q_RNIFG9D[3] 16 33 1 # ICE_GB
set_io rst_n_ibuf 17 0 0 # ICE_IO
set_io sr_chain.M_main_clock_count_d8_6_c_RNI1I401_0 33 17 0 # ICE_GB
set_io sr_clk_obuf 0 17 1 # ICE_IO
set_io sr_data_obuf 0 16 0 # ICE_IO
set_io sr_latch_obuf 0 16 1 # ICE_IO
set_io usb_rx_ibuf 33 1 1 # ICE_IO
set_io usb_tx_obuf 22 0 1 # ICE_IO
set_location CONSTANT_ONE_LUT4 27 20 6 # SB_LUT4 (LogicCell: LC_130)
