set_location IN_MUX_bfv_14_25_0_ 14 25 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_15_26_0_ 15 26 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_15_27_0_ 15 27 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_15_28_0_ 15 28 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_15_29_0_ 15 29 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_13_28_0_ 13 28 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_14_30_0_ 14 30 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_14_31_0_ 14 31 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_14_32_0_ 14 32 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_10_26_0_ 10 26 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_14_23_0_ 14 23 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 6 22 6 #SB_LUT4
set_location GB_BUFFER_M_reset_cond_out_g_0_THRU_LUT4_0 16 32 5 #SB_LUT4
set_location slower_clock.un1_M_count_d_1_cry_8_THRU_LUT4_0 15 27 0 #SB_LUT4
set_location slower_clock.un1_M_count_d_1_cry_24_THRU_LUT4_0 15 29 0 #SB_LUT4
set_location slower_clock.un1_M_count_d_1_cry_23_THRU_LUT4_0 15 28 7 #SB_LUT4
set_location slower_clock.un1_M_count_d_1_cry_22_THRU_LUT4_0 15 28 6 #SB_LUT4
set_location slower_clock.un1_M_count_d_1_cry_21_THRU_LUT4_0 15 28 5 #SB_LUT4
set_location slower_clock.un1_M_count_d_1_cry_20_THRU_LUT4_0 15 28 4 #SB_LUT4
set_location slower_clock.un1_M_count_d_1_cry_18_THRU_LUT4_0 15 28 2 #SB_LUT4
set_location slower_clock.un1_M_count_d_1_cry_16_THRU_LUT4_0 15 28 0 #SB_LUT4
set_location slower_clock.un1_M_count_d_1_cry_15_THRU_LUT4_0 15 27 7 #SB_LUT4
set_location slower_clock.un1_M_count_d_1_cry_14_THRU_LUT4_0 15 27 6 #SB_LUT4
set_location slower_clock.un1_M_count_d_1_cry_13_THRU_LUT4_0 15 27 5 #SB_LUT4
set_location slower_clock.M_count_d7_THRU_LUT4_0 13 28 7 #SB_LUT4
set_location adcs.un1_M_main_clock_count_d_1_cry_4_THRU_LUT4_0 10 26 4 #SB_LUT4
set_location adcs.un1_M_main_clock_count_d_1_cry_3_THRU_LUT4_0 10 26 3 #SB_LUT4
set_location adcs.un1_M_main_clock_count_d_1_cry_2_THRU_LUT4_0 10 26 2 #SB_LUT4
set_location sample_fifo.M_waddr_delay_q_1_THRU_LUT4_0 13 23 6 #SB_LUT4
set_location sample_fifo.M_waddr_delay_q_0_THRU_LUT4_0 11 24 6 #SB_LUT4
set_location adcs.M_spi_cycle_q_RNI0MKH1_0_adcs.M_spi_cycle_q_0_REP_LUT4_0 12 22 5 #SB_LUT4
set_location adcs.M_samples_q_esr_7_THRU_LUT4_0 10 20 4 #SB_LUT4
set_location adcs.M_samples_q_esr_15_THRU_LUT4_0 11 25 0 #SB_LUT4
set_location un1_M_samples_until_sync_byte_q_1_cry_4_c 14 25 4 #SB_CARRY
set_location un1_M_samples_until_sync_byte_q_1_cry_3_c_RNIISA01 14 25 4 #SB_LUT4
set_location un1_M_samples_until_sync_byte_q_1_cry_3_c 14 25 3 #SB_CARRY
set_location un1_M_samples_until_sync_byte_q_1_cry_2_c 14 25 2 #SB_CARRY
set_location un1_M_samples_until_sync_byte_q_1_cry_1_c_RNIEM801 14 25 2 #SB_LUT4
set_location un1_M_samples_until_sync_byte_q_1_cry_1_c 14 25 1 #SB_CARRY
set_location un1_M_samples_until_sync_byte_q_1_cry_0_c 14 25 0 #SB_CARRY
set_location uart_tx.un1_M_ctr_q_3_cry_3_c 14 23 3 #SB_CARRY
set_location uart_tx.un1_M_ctr_q_3_cry_2_c 14 23 2 #SB_CARRY
set_location uart_tx.un1_M_ctr_q_3_cry_1_c 14 23 1 #SB_CARRY
set_location uart_tx.un1_M_ctr_q_3_cry_0_c 14 23 0 #SB_CARRY
set_location uart_tx.M_txReg_q_RNO_5 13 22 1 #SB_LUT4
set_location uart_tx.M_txReg_q_RNO_4 13 22 4 #SB_LUT4
set_location uart_tx.M_txReg_q_RNO_3 13 22 5 #SB_LUT4
set_location uart_tx.M_txReg_q_RNO_2 14 21 2 #SB_LUT4
set_location uart_tx.M_txReg_q_RNO_1 14 21 0 #SB_LUT4
set_location uart_tx.M_txReg_q_RNO_0 14 21 1 #SB_LUT4
set_location uart_tx.M_txReg_q_RNO 15 21 0 #SB_LUT4
set_location uart_tx.M_txReg_q 15 21 0 #SB_DFFSS
set_location uart_tx.M_state_q_RNO_3[0] 13 22 7 #SB_LUT4
set_location uart_tx.M_state_q_RNO_2[0] 13 24 5 #SB_LUT4
set_location uart_tx.M_state_q_RNO_1[0] 13 24 0 #SB_LUT4
set_location uart_tx.M_state_q_RNO[1] 13 24 4 #SB_LUT4
set_location uart_tx.M_state_q_RNO_0[0] 13 24 6 #SB_LUT4
set_location uart_tx.M_state_q_RNO[0] 13 24 1 #SB_LUT4
set_location uart_tx.M_state_q_RNILEFM_1[1] 12 24 0 #SB_LUT4
set_location uart_tx.M_state_q_RNILEFM[1] 14 24 7 #SB_LUT4
set_location uart_tx.M_state_q_RNILEFM_0[1] 14 22 1 #SB_LUT4
set_location uart_tx.M_state_q[1] 13 24 4 #SB_DFF
set_location uart_tx.M_state_q[0] 13 24 1 #SB_DFF
set_location uart_tx.M_savedData_q[7] 13 21 7 #SB_DFFE
set_location uart_tx.M_savedData_q[6] 13 21 6 #SB_DFFE
set_location uart_tx.M_savedData_q[5] 13 21 5 #SB_DFFE
set_location uart_tx.M_savedData_q[4] 13 21 4 #SB_DFFE
set_location uart_tx.M_savedData_q[3] 13 21 3 #SB_DFFE
set_location uart_tx.M_savedData_q[2] 13 21 2 #SB_DFFE
set_location uart_tx.M_savedData_q[1] 13 21 1 #SB_DFFE
set_location uart_tx.M_savedData_q[0] 13 21 0 #SB_DFFE
set_location uart_tx.M_ctr_q_RNO[4] 14 23 5 #SB_LUT4
set_location uart_tx.M_ctr_q_RNO[3] 14 22 0 #SB_LUT4
set_location uart_tx.M_ctr_q_RNO[2] 14 23 2 #SB_LUT4
set_location uart_tx.M_ctr_q_RNO[1] 14 23 1 #SB_LUT4
set_location uart_tx.M_ctr_q_RNO_0[4] 14 23 4 #SB_LUT4
set_location uart_tx.M_ctr_q_RNO_0[3] 14 23 3 #SB_LUT4
set_location uart_tx.M_ctr_q_RNO_0[0] 14 23 0 #SB_LUT4
set_location uart_tx.M_ctr_q_RNO[0] 14 22 2 #SB_LUT4
set_location uart_tx.M_ctr_q_RNIK4UR1[4] 14 23 7 #SB_LUT4
set_location uart_tx.M_ctr_q_RNI66VN[0] 14 23 6 #SB_LUT4
set_location uart_tx.M_ctr_q[4] 14 23 5 #SB_DFF
set_location uart_tx.M_ctr_q[3] 14 22 0 #SB_DFF
set_location uart_tx.M_ctr_q[2] 14 23 2 #SB_DFF
set_location uart_tx.M_ctr_q[1] 14 23 1 #SB_DFF
set_location uart_tx.M_ctr_q[0] 14 22 2 #SB_DFF
set_location uart_tx.M_bitCtr_q_RNO[2] 13 22 6 #SB_LUT4
set_location uart_tx.M_bitCtr_q_RNO[1] 13 22 0 #SB_LUT4
set_location uart_tx.M_bitCtr_q_RNO[0] 14 22 4 #SB_LUT4
set_location uart_tx.M_bitCtr_q_RNIAMAN2[0] 13 22 3 #SB_LUT4
set_location uart_tx.M_bitCtr_q[2] 13 22 6 #SB_DFF
set_location uart_tx.M_bitCtr_q[1] 13 22 0 #SB_DFF
set_location uart_tx.M_bitCtr_q[0] 14 22 4 #SB_DFF
set_location slower_clock.un1_M_count_d_1_cry_9_c 15 27 0 #SB_CARRY
set_location slower_clock.un1_M_count_d_1_cry_8_c 15 26 7 #SB_CARRY
set_location slower_clock.un1_M_count_d_1_cry_7_c 15 26 6 #SB_CARRY
set_location slower_clock.un1_M_count_d_1_cry_6_c 15 26 5 #SB_CARRY
set_location slower_clock.un1_M_count_d_1_cry_5_c 15 26 4 #SB_CARRY
set_location slower_clock.un1_M_count_d_1_cry_4_c 15 26 3 #SB_CARRY
set_location slower_clock.un1_M_count_d_1_cry_3_c 15 26 2 #SB_CARRY
set_location slower_clock.un1_M_count_d_1_cry_2_c 15 26 1 #SB_CARRY
set_location slower_clock.un1_M_count_d_1_cry_26_c 15 29 1 #SB_CARRY
set_location slower_clock.un1_M_count_d_1_cry_25_c 15 29 0 #SB_CARRY
set_location slower_clock.un1_M_count_d_1_cry_24_c 15 28 7 #SB_CARRY
set_location slower_clock.un1_M_count_d_1_cry_23_c 15 28 6 #SB_CARRY
set_location slower_clock.un1_M_count_d_1_cry_22_c 15 28 5 #SB_CARRY
set_location slower_clock.un1_M_count_d_1_cry_21_c 15 28 4 #SB_CARRY
set_location slower_clock.un1_M_count_d_1_cry_20_c 15 28 3 #SB_CARRY
set_location slower_clock.un1_M_count_d_1_cry_1_c 15 26 0 #SB_CARRY
set_location slower_clock.un1_M_count_d_1_cry_19_c 15 28 2 #SB_CARRY
set_location slower_clock.un1_M_count_d_1_cry_18_c 15 28 1 #SB_CARRY
set_location slower_clock.un1_M_count_d_1_cry_17_c 15 28 0 #SB_CARRY
set_location slower_clock.un1_M_count_d_1_cry_16_c 15 27 7 #SB_CARRY
set_location slower_clock.un1_M_count_d_1_cry_15_c 15 27 6 #SB_CARRY
set_location slower_clock.un1_M_count_d_1_cry_14_c 15 27 5 #SB_CARRY
set_location slower_clock.un1_M_count_d_1_cry_13_c 15 27 4 #SB_CARRY
set_location slower_clock.un1_M_count_d_1_cry_12_c 15 27 3 #SB_CARRY
set_location slower_clock.un1_M_count_d_1_cry_11_c 15 27 2 #SB_CARRY
set_location slower_clock.un1_M_count_d_1_cry_10_c 15 27 1 #SB_CARRY
set_location slower_clock.M_divided_clock_q_RNO 13 29 7 #SB_LUT4
set_location slower_clock.M_divided_clock_q 13 29 7 #SB_DFFSR
set_location slower_clock.M_count_q_RNO[9] 14 28 2 #SB_LUT4
set_location slower_clock.M_count_q_RNO[8] 15 26 7 #SB_LUT4
set_location slower_clock.M_count_q_RNO[7] 15 26 6 #SB_LUT4
set_location slower_clock.M_count_q_RNO[6] 15 26 5 #SB_LUT4
set_location slower_clock.M_count_q_RNO[5] 15 26 4 #SB_LUT4
set_location slower_clock.M_count_q_RNO[4] 15 26 3 #SB_LUT4
set_location slower_clock.M_count_q_RNO[3] 15 26 2 #SB_LUT4
set_location slower_clock.M_count_q_RNO[27] 15 29 2 #SB_LUT4
set_location slower_clock.M_count_q_RNO[26] 15 29 1 #SB_LUT4
set_location slower_clock.M_count_q_RNO[25] 16 31 0 #SB_LUT4
set_location slower_clock.M_count_q_RNO[24] 14 29 7 #SB_LUT4
set_location slower_clock.M_count_q_RNO[23] 14 29 5 #SB_LUT4
set_location slower_clock.M_count_q_RNO[22] 14 29 4 #SB_LUT4
set_location slower_clock.M_count_q_RNO[21] 14 29 3 #SB_LUT4
set_location slower_clock.M_count_q_RNO[20] 15 28 3 #SB_LUT4
set_location slower_clock.M_count_q_RNO[2] 15 26 1 #SB_LUT4
set_location slower_clock.M_count_q_RNO[19] 14 29 2 #SB_LUT4
set_location slower_clock.M_count_q_RNO[18] 15 28 1 #SB_LUT4
set_location slower_clock.M_count_q_RNO[17] 14 29 1 #SB_LUT4
set_location slower_clock.M_count_q_RNO[16] 14 28 5 #SB_LUT4
set_location slower_clock.M_count_q_RNO[15] 14 28 4 #SB_LUT4
set_location slower_clock.M_count_q_RNO[14] 14 28 3 #SB_LUT4
set_location slower_clock.M_count_q_RNO[13] 15 27 4 #SB_LUT4
set_location slower_clock.M_count_q_RNO[12] 15 27 3 #SB_LUT4
set_location slower_clock.M_count_q_RNO[11] 15 27 2 #SB_LUT4
set_location slower_clock.M_count_q_RNO[10] 15 27 1 #SB_LUT4
set_location slower_clock.M_count_q_RNO[1] 14 26 2 #SB_LUT4
set_location slower_clock.M_count_q_RNO[0] 14 26 3 #SB_LUT4
set_location slower_clock.M_count_q[9] 14 28 2 #SB_DFFSR
set_location slower_clock.M_count_q[8] 15 26 7 #SB_DFFSR
set_location slower_clock.M_count_q[7] 15 26 6 #SB_DFFSR
set_location slower_clock.M_count_q[6] 15 26 5 #SB_DFFSR
set_location slower_clock.M_count_q[5] 15 26 4 #SB_DFFSR
set_location slower_clock.M_count_q[4] 15 26 3 #SB_DFFSR
set_location slower_clock.M_count_q[3] 15 26 2 #SB_DFFSR
set_location slower_clock.M_count_q[27] 15 29 2 #SB_DFFSR
set_location slower_clock.M_count_q[26] 15 29 1 #SB_DFFSR
set_location slower_clock.M_count_q[25] 16 31 0 #SB_DFFSR
set_location slower_clock.M_count_q[24] 14 29 7 #SB_DFFSR
set_location slower_clock.M_count_q[23] 14 29 5 #SB_DFFSR
set_location slower_clock.M_count_q[22] 14 29 4 #SB_DFFSR
set_location slower_clock.M_count_q[21] 14 29 3 #SB_DFFSR
set_location slower_clock.M_count_q[20] 15 28 3 #SB_DFFSR
set_location slower_clock.M_count_q[2] 15 26 1 #SB_DFFSR
set_location slower_clock.M_count_q[19] 14 29 2 #SB_DFFSR
set_location slower_clock.M_count_q[18] 15 28 1 #SB_DFFSR
set_location slower_clock.M_count_q[17] 14 29 1 #SB_DFFSR
set_location slower_clock.M_count_q[16] 14 28 5 #SB_DFFSR
set_location slower_clock.M_count_q[15] 14 28 4 #SB_DFFSR
set_location slower_clock.M_count_q[14] 14 28 3 #SB_DFFSR
set_location slower_clock.M_count_q[13] 15 27 4 #SB_DFFSR
set_location slower_clock.M_count_q[12] 15 27 3 #SB_DFFSR
set_location slower_clock.M_count_q[11] 15 27 2 #SB_DFFSR
set_location slower_clock.M_count_q[10] 15 27 1 #SB_DFFSR
set_location slower_clock.M_count_q[1] 14 26 2 #SB_DFFSR
set_location slower_clock.M_count_q[0] 14 26 3 #SB_DFFSR
set_location slower_clock.M_count_d7_6_c_RNO 14 27 5 #SB_LUT4
set_location slower_clock.M_count_d7_6_c 13 28 6 #SB_CARRY
set_location slower_clock.M_count_d7_5_c_RNO 14 27 1 #SB_LUT4
set_location slower_clock.M_count_d7_5_c 13 28 5 #SB_CARRY
set_location slower_clock.M_count_d7_4_c_RNO 14 27 0 #SB_LUT4
set_location slower_clock.M_count_d7_4_c 13 28 4 #SB_CARRY
set_location slower_clock.M_count_d7_3_c_RNO 14 27 7 #SB_LUT4
set_location slower_clock.M_count_d7_3_c 13 28 3 #SB_CARRY
set_location slower_clock.M_count_d7_2_c_RNO 14 29 6 #SB_LUT4
set_location slower_clock.M_count_d7_2_c 13 28 2 #SB_CARRY
set_location slower_clock.M_count_d7_1_c_RNO 14 29 0 #SB_LUT4
set_location slower_clock.M_count_d7_1_c 13 28 1 #SB_CARRY
set_location slower_clock.M_count_d7_0_c_RNO 14 28 1 #SB_LUT4
set_location slower_clock.M_count_d7_0_c 13 28 0 #SB_CARRY
set_location slow_clock.un1_M_count_d_1_cry_9_c 14 31 0 #SB_CARRY
set_location slow_clock.un1_M_count_d_1_cry_8_c 14 30 7 #SB_CARRY
set_location slow_clock.un1_M_count_d_1_cry_7_c 14 30 6 #SB_CARRY
set_location slow_clock.un1_M_count_d_1_cry_6_c 14 30 5 #SB_CARRY
set_location slow_clock.un1_M_count_d_1_cry_5_c 14 30 4 #SB_CARRY
set_location slow_clock.un1_M_count_d_1_cry_4_c 14 30 3 #SB_CARRY
set_location slow_clock.un1_M_count_d_1_cry_3_c 14 30 2 #SB_CARRY
set_location slow_clock.un1_M_count_d_1_cry_2_c 14 30 1 #SB_CARRY
set_location slow_clock.un1_M_count_d_1_cry_21_c 14 32 4 #SB_CARRY
set_location slow_clock.un1_M_count_d_1_cry_20_c 14 32 3 #SB_CARRY
set_location slow_clock.un1_M_count_d_1_cry_1_c 14 30 0 #SB_CARRY
set_location slow_clock.un1_M_count_d_1_cry_19_c 14 32 2 #SB_CARRY
set_location slow_clock.un1_M_count_d_1_cry_18_c 14 32 1 #SB_CARRY
set_location slow_clock.un1_M_count_d_1_cry_17_c 14 32 0 #SB_CARRY
set_location slow_clock.un1_M_count_d_1_cry_16_c 14 31 7 #SB_CARRY
set_location slow_clock.un1_M_count_d_1_cry_15_c 14 31 6 #SB_CARRY
set_location slow_clock.un1_M_count_d_1_cry_14_c 14 31 5 #SB_CARRY
set_location slow_clock.un1_M_count_d_1_cry_13_c 14 31 4 #SB_CARRY
set_location slow_clock.un1_M_count_d_1_cry_12_c 14 31 3 #SB_CARRY
set_location slow_clock.un1_M_count_d_1_cry_11_c 14 31 2 #SB_CARRY
set_location slow_clock.un1_M_count_d_1_cry_10_c 14 31 1 #SB_CARRY
set_location slow_clock.M_divided_clock_q_RNO 13 31 3 #SB_LUT4
set_location slow_clock.M_divided_clock_q 13 31 3 #SB_DFFSR
set_location slow_clock.M_count_q_RNO[9] 15 31 5 #SB_LUT4
set_location slow_clock.M_count_q_RNO[8] 15 30 4 #SB_LUT4
set_location slow_clock.M_count_q_RNO[7] 14 30 6 #SB_LUT4
set_location slow_clock.M_count_q_RNO[6] 15 30 7 #SB_LUT4
set_location slow_clock.M_count_q_RNO[5] 14 30 4 #SB_LUT4
set_location slow_clock.M_count_q_RNO[4] 14 30 3 #SB_LUT4
set_location slow_clock.M_count_q_RNO[3] 14 30 2 #SB_LUT4
set_location slow_clock.M_count_q_RNO[22] 15 32 5 #SB_LUT4
set_location slow_clock.M_count_q_RNO[21] 14 32 4 #SB_LUT4
set_location slow_clock.M_count_q_RNO[20] 14 32 3 #SB_LUT4
set_location slow_clock.M_count_q_RNO[2] 14 30 1 #SB_LUT4
set_location slow_clock.M_count_q_RNO[19] 15 32 3 #SB_LUT4
set_location slow_clock.M_count_q_RNO[18] 15 30 2 #SB_LUT4
set_location slow_clock.M_count_q_RNO[17] 14 32 0 #SB_LUT4
set_location slow_clock.M_count_q_RNO[16] 14 31 7 #SB_LUT4
set_location slow_clock.M_count_q_RNO[15] 14 31 6 #SB_LUT4
set_location slow_clock.M_count_q_RNO[14] 15 31 2 #SB_LUT4
set_location slow_clock.M_count_q_RNO[13] 14 31 4 #SB_LUT4
set_location slow_clock.M_count_q_RNO[12] 14 31 3 #SB_LUT4
set_location slow_clock.M_count_q_RNO[11] 16 29 2 #SB_LUT4
set_location slow_clock.M_count_q_RNO[10] 14 31 1 #SB_LUT4
set_location slow_clock.M_count_q_RNO[1] 15 30 5 #SB_LUT4
set_location slow_clock.M_count_q_RNO_0[9] 14 31 0 #SB_LUT4
set_location slow_clock.M_count_q_RNO_0[8] 14 30 7 #SB_LUT4
set_location slow_clock.M_count_q_RNO_0[6] 14 30 5 #SB_LUT4
set_location slow_clock.M_count_q_RNO_0[22] 14 32 5 #SB_LUT4
set_location slow_clock.M_count_q_RNO_0[19] 14 32 2 #SB_LUT4
set_location slow_clock.M_count_q_RNO_0[18] 14 32 1 #SB_LUT4
set_location slow_clock.M_count_q_RNO_0[14] 14 31 5 #SB_LUT4
set_location slow_clock.M_count_q_RNO_0[11] 14 31 2 #SB_LUT4
set_location slow_clock.M_count_q_RNO[0] 15 30 6 #SB_LUT4
set_location slow_clock.M_count_q_RNIUN08[3] 16 30 3 #SB_LUT4
set_location slow_clock.M_count_q_RNIQL48[10] 14 28 0 #SB_LUT4
set_location slow_clock.M_count_q_RNIQ658[22] 15 32 7 #SB_LUT4
set_location slow_clock.M_count_q_RNIKG48[1] 13 30 1 #SB_LUT4
set_location slow_clock.M_count_q_RNIGK26[16] 15 31 7 #SB_LUT4
set_location slow_clock.M_count_q_RNI8GFU[8] 15 31 1 #SB_LUT4
set_location slow_clock.M_count_q_RNI4V28[8] 15 31 0 #SB_LUT4
set_location slow_clock.M_count_q[9] 15 31 5 #SB_DFFSR
set_location slow_clock.M_count_q[8] 15 30 4 #SB_DFFSR
set_location slow_clock.M_count_q[7] 14 30 6 #SB_DFFSR
set_location slow_clock.M_count_q[6] 15 30 7 #SB_DFFSR
set_location slow_clock.M_count_q[5] 14 30 4 #SB_DFFSR
set_location slow_clock.M_count_q[4] 14 30 3 #SB_DFFSR
set_location slow_clock.M_count_q[3] 14 30 2 #SB_DFFSR
set_location slow_clock.M_count_q[22] 15 32 5 #SB_DFFSR
set_location slow_clock.M_count_q[21] 14 32 4 #SB_DFFSR
set_location slow_clock.M_count_q[20] 14 32 3 #SB_DFFSR
set_location slow_clock.M_count_q[2] 14 30 1 #SB_DFFSR
set_location slow_clock.M_count_q[19] 15 32 3 #SB_DFFSR
set_location slow_clock.M_count_q[18] 15 30 2 #SB_DFFSR
set_location slow_clock.M_count_q[17] 14 32 0 #SB_DFFSR
set_location slow_clock.M_count_q[16] 14 31 7 #SB_DFFSR
set_location slow_clock.M_count_q[15] 14 31 6 #SB_DFFSR
set_location slow_clock.M_count_q[14] 15 31 2 #SB_DFFSR
set_location slow_clock.M_count_q[13] 14 31 4 #SB_DFFSR
set_location slow_clock.M_count_q[12] 14 31 3 #SB_DFFSR
set_location slow_clock.M_count_q[11] 16 29 2 #SB_DFFSR
set_location slow_clock.M_count_q[10] 14 31 1 #SB_DFFSR
set_location slow_clock.M_count_q[1] 15 30 5 #SB_DFFSR
set_location slow_clock.M_count_q[0] 15 30 6 #SB_DFFSR
set_location sample_fifo.ram.mem_mem_0_1_RNIG5JI1_6 9 20 7 #SB_LUT4
set_location sample_fifo.ram.mem_mem_0_1_RNIG5JI1_5 12 20 2 #SB_LUT4
set_location sample_fifo.ram.mem_mem_0_1_RNIG5JI1_4 9 20 6 #SB_LUT4
set_location sample_fifo.ram.mem_mem_0_1_RNIG5JI1_3 7 23 7 #SB_LUT4
set_location sample_fifo.ram.mem_mem_0_1_RNIG5JI1_2 7 23 5 #SB_LUT4
set_location sample_fifo.ram.mem_mem_0_1_RNIG5JI1_1 7 23 1 #SB_LUT4
set_location sample_fifo.ram.mem_mem_0_1_RNIG5JI1_0 9 20 3 #SB_LUT4
set_location sample_fifo.ram.mem_mem_0_1_RNIG5JI1 9 20 2 #SB_LUT4
set_location sample_fifo.ram.mem_mem_0_1 8 23 0 #SB_RAM40_4K
set_location sample_fifo.ram.mem_mem_0_0_RNIVP6P1 9 20 5 #SB_LUT4
set_location sample_fifo.ram.mem_mem_0_0_RNIVO5P1 14 20 0 #SB_LUT4
set_location sample_fifo.ram.mem_mem_0_0_RNIUO6P1 12 20 6 #SB_LUT4
set_location sample_fifo.ram.mem_mem_0_0_RNIUN5P1 12 20 3 #SB_LUT4
set_location sample_fifo.ram.mem_mem_0_0_RNITN6P1 12 20 7 #SB_LUT4
set_location sample_fifo.ram.mem_mem_0_0_RNITM5P1 12 19 4 #SB_LUT4
set_location sample_fifo.ram.mem_mem_0_0_RNISM6P1 7 21 7 #SB_LUT4
set_location sample_fifo.ram.mem_mem_0_0_RNISL5P1 7 21 5 #SB_LUT4
set_location sample_fifo.ram.mem_mem_0_0_RNIRK5P1 7 21 1 #SB_LUT4
set_location sample_fifo.ram.mem_mem_0_0_RNIJC8K1 12 20 0 #SB_LUT4
set_location sample_fifo.ram.mem_mem_0_0_RNIIB8K1 11 19 3 #SB_LUT4
set_location sample_fifo.ram.mem_mem_0_0_RNI4U5P1 7 21 2 #SB_LUT4
set_location sample_fifo.ram.mem_mem_0_0_RNI3T5P1 7 21 0 #SB_LUT4
set_location sample_fifo.ram.mem_mem_0_0_RNI2S5P1 9 20 1 #SB_LUT4
set_location sample_fifo.ram.mem_mem_0_0_RNI1R5P1 9 20 4 #SB_LUT4
set_location sample_fifo.ram.mem_mem_0_0_RNI0Q5P1 9 20 0 #SB_LUT4
set_location sample_fifo.ram.mem_mem_0_0 8 21 0 #SB_RAM40_4K
set_location sample_fifo.SUM_0_o2[0] 12 24 1 #SB_LUT4
set_location sample_fifo.N_175_i 13 22 2 #SB_LUT4
set_location sample_fifo.M_waddr_q_RNO_2[0] 10 24 7 #SB_LUT4
set_location sample_fifo.M_waddr_q_RNO_1[0] 10 24 2 #SB_LUT4
set_location sample_fifo.M_waddr_q_RNO[1] 10 23 4 #SB_LUT4
set_location sample_fifo.M_waddr_q_RNO_0[0] 10 24 0 #SB_LUT4
set_location sample_fifo.M_waddr_q_RNO[0] 10 24 1 #SB_LUT4
set_location sample_fifo.M_waddr_q[1] 10 23 4 #SB_DFF
set_location sample_fifo.M_waddr_q[0] 10 24 1 #SB_DFF
set_location sample_fifo.M_waddr_delay_q_RNITL46[1] 13 23 4 #SB_LUT4
set_location sample_fifo.M_waddr_delay_q_RNIO99C[0] 12 23 1 #SB_LUT4
set_location sample_fifo.M_waddr_delay_q_RNI6F132[0] 13 24 3 #SB_LUT4
set_location sample_fifo.M_waddr_delay_q_RNI4OIH[1] 12 23 5 #SB_LUT4
set_location sample_fifo.M_waddr_delay_q_RNI4OIH[0] 12 23 7 #SB_LUT4
set_location sample_fifo.M_waddr_delay_q[1] 13 23 6 #SB_DFFSR
set_location sample_fifo.M_waddr_delay_q[0] 11 24 6 #SB_DFFSR
set_location sample_fifo.M_uart_tx_new_data_0_sqmuxa_1_i_i_o2 12 23 6 #SB_LUT4
set_location sample_fifo.M_uart_tx_data_0_i[7] 13 21 7 #SB_LUT4
set_location sample_fifo.M_uart_tx_data_0_i[6] 13 21 6 #SB_LUT4
set_location sample_fifo.M_uart_tx_data_0_i[5] 13 21 5 #SB_LUT4
set_location sample_fifo.M_uart_tx_data_0_i[4] 13 21 4 #SB_LUT4
set_location sample_fifo.M_uart_tx_data_0_i[3] 13 21 3 #SB_LUT4
set_location sample_fifo.M_uart_tx_data_0_i[2] 13 21 2 #SB_LUT4
set_location sample_fifo.M_uart_tx_data_0_i[1] 13 21 1 #SB_LUT4
set_location sample_fifo.M_uart_tx_data_0_i[0] 13 21 0 #SB_LUT4
set_location sample_fifo.M_send_sync_byte_d_0_sqmuxa_i_i_a3_3 14 24 1 #SB_LUT4
set_location sample_fifo.M_send_sync_byte_d_0_sqmuxa_i_i_a3 14 24 2 #SB_LUT4
set_location sample_fifo.M_read_fifo_requested_d_2_sqmuxa_0_a3_0 13 24 2 #SB_LUT4
set_location sample_fifo.M_raddr_q_RNO[1] 13 23 3 #SB_LUT4
set_location sample_fifo.M_raddr_q_RNO[0] 13 23 5 #SB_LUT4
set_location sample_fifo.M_raddr_q_RNIGO19[0] 12 23 4 #SB_LUT4
set_location sample_fifo.M_raddr_q_RNIF36H[1] 10 23 0 #SB_LUT4
set_location sample_fifo.M_raddr_q[1] 13 23 3 #SB_DFFSR
set_location sample_fifo.M_raddr_q[0] 13 23 5 #SB_DFFSR
set_location reset_cond.M_stage_q_RNO[3] 32 16 7 #SB_LUT4
set_location reset_cond.M_stage_q_RNO[2] 32 15 7 #SB_LUT4
set_location reset_cond.M_stage_q_RNO[1] 31 15 1 #SB_LUT4
set_location reset_cond.M_stage_q_RNO[0] 31 15 4 #SB_LUT4
set_location reset_cond.M_stage_q[3] 32 16 7 #SB_DFF
set_location reset_cond.M_stage_q[2] 32 15 7 #SB_DFF
set_location reset_cond.M_stage_q[1] 31 15 1 #SB_DFF
set_location reset_cond.M_stage_q[0] 31 15 4 #SB_DFF
set_location adcs.un1_M_main_clock_count_d_1_cry_5_c 10 26 4 #SB_CARRY
set_location adcs.un1_M_main_clock_count_d_1_cry_4_c 10 26 3 #SB_CARRY
set_location adcs.un1_M_main_clock_count_d_1_cry_3_c 10 26 2 #SB_CARRY
set_location adcs.un1_M_main_clock_count_d_1_cry_2_c 10 26 1 #SB_CARRY
set_location adcs.un1_M_main_clock_count_d_1_cry_1_c 10 26 0 #SB_CARRY
set_location adcs.M_spi_cycle_q_rep0_i_RNO[0] 9 25 6 #SB_LUT4
set_location adcs.M_spi_cycle_q_rep0_i[0] 9 25 6 #SB_DFFSS
set_location adcs.M_spi_cycle_q_RNO[4] 11 23 5 #SB_LUT4
set_location adcs.M_spi_cycle_q_RNO[3] 11 23 6 #SB_LUT4
set_location adcs.M_spi_cycle_q_RNO[2] 11 23 7 #SB_LUT4
set_location adcs.M_spi_cycle_q_RNO[1] 12 22 1 #SB_LUT4
set_location adcs.M_spi_cycle_q_RNIR468[1] 12 22 6 #SB_LUT4
set_location adcs.M_spi_cycle_q_RNIR468_0[1] 11 22 5 #SB_LUT4
set_location adcs.M_spi_cycle_q_RNILRE5[3] 11 23 3 #SB_LUT4
set_location adcs.M_spi_cycle_q_RNIKQE5[4] 11 22 4 #SB_LUT4
set_location adcs.M_spi_cycle_q_RNIJPE5[3] 11 20 5 #SB_LUT4
set_location adcs.M_spi_cycle_q_RNIIFIO_5[1] 12 21 1 #SB_LUT4
set_location adcs.M_spi_cycle_q_RNIIFIO_4[1] 12 21 0 #SB_LUT4
set_location adcs.M_spi_cycle_q_RNIIFIO_3[1] 11 22 7 #SB_LUT4
set_location adcs.M_spi_cycle_q_RNIIFIO_2[1] 11 21 5 #SB_LUT4
set_location adcs.M_spi_cycle_q_RNIIFIO_1[1] 11 22 3 #SB_LUT4
set_location adcs.M_spi_cycle_q_RNIIFIO[1] 11 21 1 #SB_LUT4
set_location adcs.M_spi_cycle_q_RNIIFIO_0[1] 10 22 4 #SB_LUT4
set_location adcs.M_spi_cycle_q_RNII2LD[4] 11 23 4 #SB_LUT4
set_location adcs.M_spi_cycle_q_RNII2LD_1[4] 12 24 6 #SB_LUT4
set_location adcs.M_spi_cycle_q_RNII2LD_0[4] 11 20 6 #SB_LUT4
set_location adcs.M_spi_cycle_q_RNIHNE5[1] 12 23 3 #SB_LUT4
set_location adcs.M_spi_cycle_q_RNIHNE5_0[1] 11 22 6 #SB_LUT4
set_location adcs.M_spi_cycle_q_RNIFT441[4] 10 21 6 #SB_LUT4
set_location adcs.M_spi_cycle_q_RNIE71G1[4] 10 23 1 #SB_LUT4
set_location adcs.M_spi_cycle_q_RNI92CK1[1] 12 24 5 #SB_LUT4
set_location adcs.M_spi_cycle_q_RNI6JTA[3] 11 22 0 #SB_LUT4
set_location adcs.M_spi_cycle_q_RNI6JTA_0[3] 12 24 4 #SB_LUT4
set_location adcs.M_spi_cycle_q_RNI45AR[4] 11 26 1 #SB_LUT4
set_location adcs.M_spi_cycle_q_RNI3BOI[4] 9 21 2 #SB_LUT4
set_location adcs.M_spi_cycle_q_RNI0MKH1[0] 10 25 7 #SB_LUT4
set_location adcs.M_spi_cycle_q[4] 11 23 5 #SB_DFFSR
set_location adcs.M_spi_cycle_q[3] 11 23 6 #SB_DFFSR
set_location adcs.M_spi_cycle_q[2] 11 23 7 #SB_DFFSR
set_location adcs.M_spi_cycle_q[1] 12 22 1 #SB_DFFSR
set_location adcs.M_spi_cycle_q[0] 12 22 5 #SB_DFFSR
set_location adcs.M_samples_until_sync_byte_q_0_0_a2[4] 14 25 6 #SB_LUT4
set_location adcs.M_samples_until_sync_byte_q_0_0_a2[2] 14 24 3 #SB_LUT4
set_location adcs.M_samples_until_sync_byte_q_0_0_a2[0] 14 24 6 #SB_LUT4
set_location adcs.M_samples_q_esr_RNO[7] 11 20 4 #SB_LUT4
set_location adcs.M_samples_q_esr_RNO[6] 11 20 1 #SB_LUT4
set_location adcs.M_samples_q_esr_RNO[5] 10 19 3 #SB_LUT4
set_location adcs.M_samples_q_esr_RNO[4] 10 19 1 #SB_LUT4
set_location adcs.M_samples_q_esr_RNO[3] 10 19 4 #SB_LUT4
set_location adcs.M_samples_q_esr_RNO[22] 12 21 2 #SB_LUT4
set_location adcs.M_samples_q_esr_RNO[21] 10 19 7 #SB_LUT4
set_location adcs.M_samples_q_esr_RNO[20] 10 19 6 #SB_LUT4
set_location adcs.M_samples_q_esr_RNO[2] 11 21 7 #SB_LUT4
set_location adcs.M_samples_q_esr_RNO[19] 11 21 6 #SB_LUT4
set_location adcs.M_samples_q_esr_RNO[18] 11 21 3 #SB_LUT4
set_location adcs.M_samples_q_esr_RNO[17] 10 22 3 #SB_LUT4
set_location adcs.M_samples_q_esr_RNO[16] 11 21 4 #SB_LUT4
set_location adcs.M_samples_q_esr_RNO[15] 12 24 3 #SB_LUT4
set_location adcs.M_samples_q_esr_RNO[1] 10 22 5 #SB_LUT4
set_location adcs.M_samples_q_esr_RNO_0[7] 11 20 7 #SB_LUT4
set_location adcs.M_samples_q_esr_RNO_0[6] 11 20 0 #SB_LUT4
set_location adcs.M_samples_q_esr_RNO_0[5] 10 19 2 #SB_LUT4
set_location adcs.M_samples_q_esr_RNO_0[4] 10 19 0 #SB_LUT4
set_location adcs.M_samples_q_esr_RNO_0[15] 12 23 2 #SB_LUT4
set_location adcs.M_samples_q_esr_RNO[0] 11 21 2 #SB_LUT4
set_location adcs.M_samples_q_esr_RNIVAUQ1[6] 11 24 2 #SB_LUT4
set_location adcs.M_samples_q_esr_RNIU9UQ1[5] 9 24 2 #SB_LUT4
set_location adcs.M_samples_q_esr_RNIT8UQ1[4] 9 24 5 #SB_LUT4
set_location adcs.M_samples_q_esr_RNIS7UQ1[3] 9 23 1 #SB_LUT4
set_location adcs.M_samples_q_esr_RNIS5KB1[1] 10 23 3 #SB_LUT4
set_location adcs.M_samples_q_esr_RNIR6UQ1[2] 9 24 6 #SB_LUT4
set_location adcs.M_samples_q_esr_RNIQ5UQ1[1] 9 24 4 #SB_LUT4
set_location adcs.M_samples_q_esr_RNIJFRN1[19] 10 23 2 #SB_LUT4
set_location adcs.M_samples_q_esr_RNIIERN1[18] 9 21 6 #SB_LUT4
set_location adcs.M_samples_q_esr_RNIHDRN1[17] 9 23 0 #SB_LUT4
set_location adcs.M_samples_q_esr_RNIFBRN1[15] 9 21 3 #SB_LUT4
set_location adcs.M_samples_q_esr_RNIDOIB3[16] 9 22 4 #SB_LUT4
set_location adcs.M_samples_q_esr_RNIDASN1[22] 9 22 6 #SB_LUT4
set_location adcs.M_samples_q_esr_RNID4N01[7] 10 23 7 #SB_LUT4
set_location adcs.M_samples_q_esr_RNICLEN[17] 11 22 1 #SB_LUT4
set_location adcs.M_samples_q_esr_RNIC9SN1[21] 9 22 2 #SB_LUT4
set_location adcs.M_samples_q_esr_RNIB8SN1[20] 9 22 3 #SB_LUT4
set_location adcs.M_samples_q_esr_RNI2F974[0] 9 23 4 #SB_LUT4
set_location adcs.M_samples_q_esr_RNI0DKD[15] 10 23 5 #SB_LUT4
set_location adcs.M_samples_q_esr_RNI0CUQ1[7] 9 23 5 #SB_LUT4
set_location adcs.M_samples_q_esr[7] 10 20 4 #SB_DFFESR
set_location adcs.M_samples_q_esr[6] 11 20 1 #SB_DFFESR
set_location adcs.M_samples_q_esr[5] 10 19 3 #SB_DFFESR
set_location adcs.M_samples_q_esr[4] 10 19 1 #SB_DFFESR
set_location adcs.M_samples_q_esr[3] 10 19 4 #SB_DFFESR
set_location adcs.M_samples_q_esr[22] 12 21 2 #SB_DFFESR
set_location adcs.M_samples_q_esr[21] 10 19 7 #SB_DFFESR
set_location adcs.M_samples_q_esr[20] 10 19 6 #SB_DFFESR
set_location adcs.M_samples_q_esr[2] 11 21 7 #SB_DFFESR
set_location adcs.M_samples_q_esr[19] 11 21 6 #SB_DFFESR
set_location adcs.M_samples_q_esr[18] 11 21 3 #SB_DFFESR
set_location adcs.M_samples_q_esr[17] 10 22 3 #SB_DFFESR
set_location adcs.M_samples_q_esr[16] 11 21 4 #SB_DFFESR
set_location adcs.M_samples_q_esr[15] 11 25 0 #SB_DFFESR
set_location adcs.M_samples_q_esr[1] 10 22 5 #SB_DFFESR
set_location adcs.M_samples_q_esr[0] 11 21 2 #SB_DFFESR
set_location adcs.M_samples_q_RNO[9] 9 21 0 #SB_LUT4
set_location adcs.M_samples_q_RNO[8] 10 21 0 #SB_LUT4
set_location adcs.M_samples_q_RNO[23] 12 22 3 #SB_LUT4
set_location adcs.M_samples_q_RNO[14] 10 21 5 #SB_LUT4
set_location adcs.M_samples_q_RNO[13] 10 21 4 #SB_LUT4
set_location adcs.M_samples_q_RNO[12] 10 21 3 #SB_LUT4
set_location adcs.M_samples_q_RNO[11] 10 21 7 #SB_LUT4
set_location adcs.M_samples_q_RNO[10] 10 21 1 #SB_LUT4
set_location adcs.M_samples_q_RNO_0[23] 12 22 7 #SB_LUT4
set_location adcs.M_samples_q_RNIP35H1[9] 9 23 6 #SB_LUT4
set_location adcs.M_samples_q_RNILNPI[10] 10 21 2 #SB_LUT4
set_location adcs.M_samples_q_RNIHM8S[23] 11 22 2 #SB_LUT4
set_location adcs.M_samples_q_RNID7JH2[8] 9 22 5 #SB_LUT4
set_location adcs.M_samples_q_RNI5OOK1[23] 9 22 1 #SB_LUT4
set_location adcs.M_samples_q_RNI5NNK1[14] 9 23 2 #SB_LUT4
set_location adcs.M_samples_q_RNI4MNK1[13] 9 23 7 #SB_LUT4
set_location adcs.M_samples_q_RNI3LNK1[12] 9 22 0 #SB_LUT4
set_location adcs.M_samples_q_RNI2KNK1[11] 9 23 3 #SB_LUT4
set_location adcs.M_samples_q_RNI1JNK1[10] 9 22 7 #SB_LUT4
set_location adcs.M_samples_q[9] 9 21 0 #SB_DFFSR
set_location adcs.M_samples_q[8] 10 21 0 #SB_DFFSR
set_location adcs.M_samples_q[23] 12 22 3 #SB_DFFSR
set_location adcs.M_samples_q[14] 10 21 5 #SB_DFFSR
set_location adcs.M_samples_q[13] 10 21 4 #SB_DFFSR
set_location adcs.M_samples_q[12] 10 21 3 #SB_DFFSR
set_location adcs.M_samples_q[11] 10 21 7 #SB_DFFSR
set_location adcs.M_samples_q[10] 10 21 1 #SB_DFFSR
set_location adcs.M_main_clock_count_q_RNO[6] 10 26 5 #SB_LUT4
set_location adcs.M_main_clock_count_q_RNO[5] 10 27 3 #SB_LUT4
set_location adcs.M_main_clock_count_q_RNO[4] 10 27 4 #SB_LUT4
set_location adcs.M_main_clock_count_q_RNO[3] 12 26 1 #SB_LUT4
set_location adcs.M_main_clock_count_q_RNO[2] 10 26 1 #SB_LUT4
set_location adcs.M_main_clock_count_q_RNO[1] 11 27 5 #SB_LUT4
set_location adcs.M_main_clock_count_q_RNO[0] 10 27 7 #SB_LUT4
set_location adcs.M_main_clock_count_q_RNIMB3K[3] 11 26 0 #SB_LUT4
set_location adcs.M_main_clock_count_q_RNI2VPQ[6] 11 26 6 #SB_LUT4
set_location adcs.M_main_clock_count_q[6] 10 26 5 #SB_DFFSR
set_location adcs.M_main_clock_count_q[5] 10 27 3 #SB_DFFSR
set_location adcs.M_main_clock_count_q[4] 10 27 4 #SB_DFFSR
set_location adcs.M_main_clock_count_q[3] 12 26 1 #SB_DFFSR
set_location adcs.M_main_clock_count_q[2] 10 26 1 #SB_DFFSR
set_location adcs.M_main_clock_count_q[1] 11 27 5 #SB_DFFSR
set_location adcs.M_main_clock_count_q[0] 10 27 7 #SB_DFFSR
set_location M_send_sync_byte_q_RNO 11 24 1 #SB_LUT4
set_location M_send_sync_byte_q 11 24 1 #SB_DFFSR
set_location M_samples_until_sync_byte_q_RNO[5] 14 25 5 #SB_LUT4
set_location M_samples_until_sync_byte_q_RNO[3] 14 25 7 #SB_LUT4
set_location M_samples_until_sync_byte_q_RNO[1] 14 24 0 #SB_LUT4
set_location M_samples_until_sync_byte_q_RNO_0[3] 14 25 3 #SB_LUT4
set_location M_samples_until_sync_byte_q_RNO_0[1] 14 25 1 #SB_LUT4
set_location M_samples_until_sync_byte_q[5] 14 25 5 #SB_DFF
set_location M_samples_until_sync_byte_q[4] 14 25 6 #SB_DFF
set_location M_samples_until_sync_byte_q[3] 14 25 7 #SB_DFF
set_location M_samples_until_sync_byte_q[2] 14 24 3 #SB_DFF
set_location M_samples_until_sync_byte_q[1] 14 24 0 #SB_DFF
set_location M_samples_until_sync_byte_q[0] 14 24 6 #SB_DFF
set_location M_samples_to_send_q_RNO[1] 12 22 4 #SB_LUT4
set_location M_samples_to_send_q_RNO[0] 12 22 0 #SB_LUT4
set_location M_samples_to_send_q[1] 12 22 4 #SB_DFFSR
set_location M_samples_to_send_q[0] 12 22 0 #SB_DFFSR
set_location M_samples_buffer_q_esr[9] 9 20 1 #SB_DFFESR
set_location M_samples_buffer_q_esr[8] 9 20 4 #SB_DFFESR
set_location M_samples_buffer_q_esr[7] 9 20 0 #SB_DFFESR
set_location M_samples_buffer_q_esr[6] 14 20 0 #SB_DFFESR
set_location M_samples_buffer_q_esr[5] 12 20 3 #SB_DFFESR
set_location M_samples_buffer_q_esr[4] 12 19 4 #SB_DFFESR
set_location M_samples_buffer_q_esr[3] 7 21 5 #SB_DFFESR
set_location M_samples_buffer_q_esr[23] 9 20 7 #SB_DFFESR
set_location M_samples_buffer_q_esr[22] 12 20 2 #SB_DFFESR
set_location M_samples_buffer_q_esr[21] 9 20 6 #SB_DFFESR
set_location M_samples_buffer_q_esr[20] 7 23 7 #SB_DFFESR
set_location M_samples_buffer_q_esr[2] 7 21 1 #SB_DFFESR
set_location M_samples_buffer_q_esr[19] 7 23 5 #SB_DFFESR
set_location M_samples_buffer_q_esr[18] 7 23 1 #SB_DFFESR
set_location M_samples_buffer_q_esr[17] 9 20 3 #SB_DFFESR
set_location M_samples_buffer_q_esr[16] 9 20 2 #SB_DFFESR
set_location M_samples_buffer_q_esr[15] 9 20 5 #SB_DFFESR
set_location M_samples_buffer_q_esr[14] 12 20 6 #SB_DFFESR
set_location M_samples_buffer_q_esr[13] 12 20 7 #SB_DFFESR
set_location M_samples_buffer_q_esr[12] 7 21 7 #SB_DFFESR
set_location M_samples_buffer_q_esr[11] 7 21 2 #SB_DFFESR
set_location M_samples_buffer_q_esr[10] 7 21 0 #SB_DFFESR
set_location M_samples_buffer_q_esr[1] 12 20 0 #SB_DFFESR
set_location M_samples_buffer_q_esr[0] 11 19 3 #SB_DFFESR
set_location M_read_fifo_requested_q_RNIE5OM1 12 24 2 #SB_LUT4
set_location M_read_fifo_requested_q 13 24 3 #SB_DFF
set_location GND -1 -1 -1 #GND
set_io usb_tx M9
set_io rst_n P8
set_io led[7] N14
set_io led[6] M12
set_io led[5] L14
set_io led[4] L12
set_io led[3] K14
set_io led[2] K12
set_io led[1] K11
set_io led[0] J11
set_io clk P7
set_io adc_data_out E1
set_io adc_clock D1
set_io adc_chip_select A3
set_io adc[2] G1
set_io adc[1] J3
set_io adc[0] J1
