set_location GND -1 -1 -1 # GND
set_io dip_switch_ibuf[0] 0 4 1 # ICE_IO
set_io dip_switch_ibuf[1] 0 11 1 # ICE_IO
set_io dip_switch_ibuf[2] 0 16 1 # ICE_IO
set_io dip_switch_ibuf[3] 0 20 1 # ICE_IO
set_io dip_switch_ibuf[4] 0 21 1 # ICE_IO
set_io dip_switch_ibuf[5] 0 22 1 # ICE_IO
set_io dip_switch_ibuf[6] 9 33 0 # ICE_IO
set_io dip_switch_ibuf[7] 10 33 1 # ICE_IO
set_io led_obuf[0] 33 6 0 # ICE_IO
set_io led_obuf[1] 33 4 1 # ICE_IO
set_io led_obuf[2] 33 4 0 # ICE_IO
set_io led_obuf[3] 33 5 0 # ICE_IO
set_io led_obuf[4] 33 2 0 # ICE_IO
set_io led_obuf[5] 33 3 1 # ICE_IO
set_io led_obuf[6] 33 1 0 # ICE_IO
set_io led_obuf[7] 33 2 1 # ICE_IO
