set_location reset_cond.M_stage_q_RNO[0] 16 25 2 # SB_LUT4 (LogicCell: reset_cond.M_stage_q[0]_LC_0)
set_location reset_cond.M_stage_q[0] 16 25 2 # SB_DFF (LogicCell: reset_cond.M_stage_q[0]_LC_0)
set_location reset_cond.M_stage_q_RNO[1] 16 25 0 # SB_LUT4 (LogicCell: reset_cond.M_stage_q[1]_LC_1)
set_location reset_cond.M_stage_q[1] 16 25 0 # SB_DFF (LogicCell: reset_cond.M_stage_q[1]_LC_1)
set_location reset_cond.M_stage_q_RNO[2] 16 25 7 # SB_LUT4 (LogicCell: reset_cond.M_stage_q[2]_LC_2)
set_location reset_cond.M_stage_q[2] 16 25 7 # SB_DFF (LogicCell: reset_cond.M_stage_q[2]_LC_2)
set_location reset_cond.M_stage_q_RNO[3] 16 25 3 # SB_LUT4 (LogicCell: reset_cond.M_stage_q[3]_LC_3)
set_location reset_cond.M_stage_q[3] 16 25 3 # SB_DFF (LogicCell: reset_cond.M_stage_q[3]_LC_3)
set_location slow_clock.M_count_q_RNI0R28[7] 17 24 1 # SB_LUT4 (LogicCell: slow_clock.M_count_q_RNI0R28[7]_LC_4)
set_location slow_clock.M_count_q_RNI3178[23] 17 25 0 # SB_LUT4 (LogicCell: slow_clock.M_count_q_RNI3178[23]_LC_5)
set_location slow_clock.M_count_q_RNI3Q7G[8] 17 25 3 # SB_LUT4 (LogicCell: slow_clock.M_count_q_RNI3Q7G[8]_LC_6)
set_location slow_clock.M_count_q_RNIKV38[16] 17 24 5 # SB_LUT4 (LogicCell: slow_clock.M_count_q_RNIKV38[16]_LC_7)
set_location slow_clock.M_count_q_RNIMI48[1] 17 24 7 # SB_LUT4 (LogicCell: slow_clock.M_count_q_RNIMI48[1]_LC_8)
set_location slow_clock.M_count_q_RNIN6F01[1] 17 24 2 # SB_LUT4 (LogicCell: slow_clock.M_count_q_RNIN6F01[1]_LC_9)
set_location slow_clock.M_count_q_RNIUN08[3] 17 22 0 # SB_LUT4 (LogicCell: slow_clock.M_count_q_RNIUN08[3]_LC_10)
set_location slow_clock.M_count_q_RNIVC24[13] 17 25 2 # SB_LUT4 (LogicCell: slow_clock.M_count_q_RNIVC24[13]_LC_11)
set_location slow_clock.M_count_q_RNO[0] 17 23 4 # SB_LUT4 (LogicCell: slow_clock.M_count_q[0]_LC_12)
set_location slow_clock.M_count_q[0] 17 23 4 # SB_DFFSR (LogicCell: slow_clock.M_count_q[0]_LC_12)
set_location slow_clock.M_count_q_RNO[1] 17 23 7 # SB_LUT4 (LogicCell: slow_clock.M_count_q[1]_LC_13)
set_location slow_clock.M_count_q[1] 17 23 7 # SB_DFFSR (LogicCell: slow_clock.M_count_q[1]_LC_13)
set_location slow_clock.M_count_q_RNO[10] 17 25 6 # SB_LUT4 (LogicCell: slow_clock.M_count_q[10]_LC_14)
set_location slow_clock.M_count_q[10] 17 25 6 # SB_DFFSR (LogicCell: slow_clock.M_count_q[10]_LC_14)
set_location slow_clock.M_count_q_RNO[11] 18 24 2 # SB_LUT4 (LogicCell: slow_clock.M_count_q[11]_LC_15)
set_location slow_clock.M_count_q[11] 18 24 2 # SB_DFFSR (LogicCell: slow_clock.M_count_q[11]_LC_15)
set_location slow_clock.un1_M_count_d_1_cry_11_c 18 24 2 # SB_CARRY (LogicCell: slow_clock.M_count_q[11]_LC_15)
set_location slow_clock.M_count_q_RNO[12] 17 23 1 # SB_LUT4 (LogicCell: slow_clock.M_count_q[12]_LC_16)
set_location slow_clock.M_count_q[12] 17 23 1 # SB_DFFSR (LogicCell: slow_clock.M_count_q[12]_LC_16)
set_location slow_clock.M_count_q_RNO[13] 18 24 4 # SB_LUT4 (LogicCell: slow_clock.M_count_q[13]_LC_17)
set_location slow_clock.M_count_q[13] 18 24 4 # SB_DFFSR (LogicCell: slow_clock.M_count_q[13]_LC_17)
set_location slow_clock.un1_M_count_d_1_cry_13_c 18 24 4 # SB_CARRY (LogicCell: slow_clock.M_count_q[13]_LC_17)
set_location slow_clock.M_count_q_RNO[14] 18 24 5 # SB_LUT4 (LogicCell: slow_clock.M_count_q[14]_LC_18)
set_location slow_clock.M_count_q[14] 18 24 5 # SB_DFFSR (LogicCell: slow_clock.M_count_q[14]_LC_18)
set_location slow_clock.un1_M_count_d_1_cry_14_c 18 24 5 # SB_CARRY (LogicCell: slow_clock.M_count_q[14]_LC_18)
set_location slow_clock.M_count_q_RNO[15] 17 25 1 # SB_LUT4 (LogicCell: slow_clock.M_count_q[15]_LC_19)
set_location slow_clock.M_count_q[15] 17 25 1 # SB_DFFSR (LogicCell: slow_clock.M_count_q[15]_LC_19)
set_location slow_clock.M_count_q_RNO[16] 18 24 7 # SB_LUT4 (LogicCell: slow_clock.M_count_q[16]_LC_20)
set_location slow_clock.M_count_q[16] 18 24 7 # SB_DFFSR (LogicCell: slow_clock.M_count_q[16]_LC_20)
set_location slow_clock.un1_M_count_d_1_cry_16_c 18 24 7 # SB_CARRY (LogicCell: slow_clock.M_count_q[16]_LC_20)
set_location slow_clock.M_count_q_RNO[17] 18 25 0 # SB_LUT4 (LogicCell: slow_clock.M_count_q[17]_LC_21)
set_location slow_clock.M_count_q[17] 18 25 0 # SB_DFFSR (LogicCell: slow_clock.M_count_q[17]_LC_21)
set_location slow_clock.un1_M_count_d_1_cry_17_c 18 25 0 # SB_CARRY (LogicCell: slow_clock.M_count_q[17]_LC_21)
set_location slow_clock.M_count_q_RNO[18] 18 25 1 # SB_LUT4 (LogicCell: slow_clock.M_count_q[18]_LC_22)
set_location slow_clock.M_count_q[18] 18 25 1 # SB_DFFSR (LogicCell: slow_clock.M_count_q[18]_LC_22)
set_location slow_clock.un1_M_count_d_1_cry_18_c 18 25 1 # SB_CARRY (LogicCell: slow_clock.M_count_q[18]_LC_22)
set_location slow_clock.M_count_q_RNO[19] 17 25 4 # SB_LUT4 (LogicCell: slow_clock.M_count_q[19]_LC_23)
set_location slow_clock.M_count_q[19] 17 25 4 # SB_DFFSR (LogicCell: slow_clock.M_count_q[19]_LC_23)
set_location slow_clock.M_count_q_RNO[2] 18 23 1 # SB_LUT4 (LogicCell: slow_clock.M_count_q[2]_LC_24)
set_location slow_clock.M_count_q[2] 18 23 1 # SB_DFFSR (LogicCell: slow_clock.M_count_q[2]_LC_24)
set_location slow_clock.un1_M_count_d_1_cry_2_c 18 23 1 # SB_CARRY (LogicCell: slow_clock.M_count_q[2]_LC_24)
set_location slow_clock.M_count_q_RNO[20] 17 25 5 # SB_LUT4 (LogicCell: slow_clock.M_count_q[20]_LC_25)
set_location slow_clock.M_count_q[20] 17 25 5 # SB_DFFSR (LogicCell: slow_clock.M_count_q[20]_LC_25)
set_location slow_clock.M_count_q_RNO[21] 18 25 4 # SB_LUT4 (LogicCell: slow_clock.M_count_q[21]_LC_26)
set_location slow_clock.M_count_q[21] 18 25 4 # SB_DFFSR (LogicCell: slow_clock.M_count_q[21]_LC_26)
set_location slow_clock.un1_M_count_d_1_cry_21_c 18 25 4 # SB_CARRY (LogicCell: slow_clock.M_count_q[21]_LC_26)
set_location slow_clock.M_count_q_RNO[22] 18 25 5 # SB_LUT4 (LogicCell: slow_clock.M_count_q[22]_LC_27)
set_location slow_clock.M_count_q[22] 18 25 5 # SB_DFFSR (LogicCell: slow_clock.M_count_q[22]_LC_27)
set_location slow_clock.un1_M_count_d_1_cry_22_c 18 25 5 # SB_CARRY (LogicCell: slow_clock.M_count_q[22]_LC_27)
set_location slow_clock.M_count_q_RNO[23] 18 25 6 # SB_LUT4 (LogicCell: slow_clock.M_count_q[23]_LC_28)
set_location slow_clock.M_count_q[23] 18 25 6 # SB_DFFSR (LogicCell: slow_clock.M_count_q[23]_LC_28)
set_location slow_clock.M_count_q_RNO[3] 18 23 2 # SB_LUT4 (LogicCell: slow_clock.M_count_q[3]_LC_29)
set_location slow_clock.M_count_q[3] 18 23 2 # SB_DFFSR (LogicCell: slow_clock.M_count_q[3]_LC_29)
set_location slow_clock.un1_M_count_d_1_cry_3_c 18 23 2 # SB_CARRY (LogicCell: slow_clock.M_count_q[3]_LC_29)
set_location slow_clock.M_count_q_RNO[4] 18 23 3 # SB_LUT4 (LogicCell: slow_clock.M_count_q[4]_LC_30)
set_location slow_clock.M_count_q[4] 18 23 3 # SB_DFFSR (LogicCell: slow_clock.M_count_q[4]_LC_30)
set_location slow_clock.un1_M_count_d_1_cry_4_c 18 23 3 # SB_CARRY (LogicCell: slow_clock.M_count_q[4]_LC_30)
set_location slow_clock.M_count_q_RNO[5] 18 23 4 # SB_LUT4 (LogicCell: slow_clock.M_count_q[5]_LC_31)
set_location slow_clock.M_count_q[5] 18 23 4 # SB_DFFSR (LogicCell: slow_clock.M_count_q[5]_LC_31)
set_location slow_clock.un1_M_count_d_1_cry_5_c 18 23 4 # SB_CARRY (LogicCell: slow_clock.M_count_q[5]_LC_31)
set_location slow_clock.M_count_q_RNO[6] 18 23 5 # SB_LUT4 (LogicCell: slow_clock.M_count_q[6]_LC_32)
set_location slow_clock.M_count_q[6] 18 23 5 # SB_DFFSR (LogicCell: slow_clock.M_count_q[6]_LC_32)
set_location slow_clock.un1_M_count_d_1_cry_6_c 18 23 5 # SB_CARRY (LogicCell: slow_clock.M_count_q[6]_LC_32)
set_location slow_clock.M_count_q_RNO[7] 17 23 5 # SB_LUT4 (LogicCell: slow_clock.M_count_q[7]_LC_33)
set_location slow_clock.M_count_q[7] 17 23 5 # SB_DFFSR (LogicCell: slow_clock.M_count_q[7]_LC_33)
set_location slow_clock.M_count_q_RNO[8] 18 23 7 # SB_LUT4 (LogicCell: slow_clock.M_count_q[8]_LC_34)
set_location slow_clock.M_count_q[8] 18 23 7 # SB_DFFSR (LogicCell: slow_clock.M_count_q[8]_LC_34)
set_location slow_clock.un1_M_count_d_1_cry_8_c 18 23 7 # SB_CARRY (LogicCell: slow_clock.M_count_q[8]_LC_34)
set_location slow_clock.M_count_q_RNO[9] 17 22 1 # SB_LUT4 (LogicCell: slow_clock.M_count_q[9]_LC_35)
set_location slow_clock.M_count_q[9] 17 22 1 # SB_DFFSR (LogicCell: slow_clock.M_count_q[9]_LC_35)
set_location slow_clock.M_slow_clock_value_q_RNO 17 24 3 # SB_LUT4 (LogicCell: slow_clock.M_slow_clock_value_q_LC_36)
set_location slow_clock.M_slow_clock_value_q 17 24 3 # SB_DFF (LogicCell: slow_clock.M_slow_clock_value_q_LC_36)
set_location slow_clock.un1_M_count_d_1_cry_11_THRU_LUT4_0 18 24 3 # SB_LUT4 (LogicCell: slow_clock.un1_M_count_d_1_cry_11_THRU_LUT4_0_LC_37)
set_location slow_clock.un1_M_count_d_1_cry_12_c 18 24 3 # SB_CARRY (LogicCell: slow_clock.un1_M_count_d_1_cry_11_THRU_LUT4_0_LC_37)
set_location slow_clock.un1_M_count_d_1_cry_14_THRU_LUT4_0 18 24 6 # SB_LUT4 (LogicCell: slow_clock.un1_M_count_d_1_cry_14_THRU_LUT4_0_LC_38)
set_location slow_clock.un1_M_count_d_1_cry_15_c 18 24 6 # SB_CARRY (LogicCell: slow_clock.un1_M_count_d_1_cry_14_THRU_LUT4_0_LC_38)
set_location slow_clock.un1_M_count_d_1_cry_18_THRU_LUT4_0 18 25 2 # SB_LUT4 (LogicCell: slow_clock.un1_M_count_d_1_cry_18_THRU_LUT4_0_LC_39)
set_location slow_clock.un1_M_count_d_1_cry_19_c 18 25 2 # SB_CARRY (LogicCell: slow_clock.un1_M_count_d_1_cry_18_THRU_LUT4_0_LC_39)
set_location slow_clock.un1_M_count_d_1_cry_19_THRU_LUT4_0 18 25 3 # SB_LUT4 (LogicCell: slow_clock.un1_M_count_d_1_cry_19_THRU_LUT4_0_LC_40)
set_location slow_clock.un1_M_count_d_1_cry_20_c 18 25 3 # SB_CARRY (LogicCell: slow_clock.un1_M_count_d_1_cry_19_THRU_LUT4_0_LC_40)
set_location slow_clock.un1_M_count_d_1_cry_6_THRU_LUT4_0 18 23 6 # SB_LUT4 (LogicCell: slow_clock.un1_M_count_d_1_cry_6_THRU_LUT4_0_LC_41)
set_location slow_clock.un1_M_count_d_1_cry_7_c 18 23 6 # SB_CARRY (LogicCell: slow_clock.un1_M_count_d_1_cry_6_THRU_LUT4_0_LC_41)
set_location slow_clock.un1_M_count_d_1_cry_8_THRU_LUT4_0 18 24 0 # SB_LUT4 (LogicCell: slow_clock.un1_M_count_d_1_cry_8_THRU_LUT4_0_LC_42)
set_location slow_clock.un1_M_count_d_1_cry_9_c 18 24 0 # SB_CARRY (LogicCell: slow_clock.un1_M_count_d_1_cry_8_THRU_LUT4_0_LC_42)
set_location slow_clock.un1_M_count_d_1_cry_9_THRU_LUT4_0 18 24 1 # SB_LUT4 (LogicCell: slow_clock.un1_M_count_d_1_cry_9_THRU_LUT4_0_LC_43)
set_location slow_clock.un1_M_count_d_1_cry_10_c 18 24 1 # SB_CARRY (LogicCell: slow_clock.un1_M_count_d_1_cry_9_THRU_LUT4_0_LC_43)
set_location slow_clock.un1_M_count_d_1_cry_1_c 18 23 0 # SB_CARRY (LogicCell: slow_clock.un1_M_count_d_1_cry_1_c_LC_44)
set_location GND -1 -1 -1 # GND
set_io clk_ibuf_gb_io 16 0 1 # ICE_GB_IO
set_io led_obuf[0] 33 6 0 # ICE_IO
set_io led_obuf[1] 33 4 1 # ICE_IO
set_io led_obuf[2] 33 4 0 # ICE_IO
set_io led_obuf[3] 33 5 0 # ICE_IO
set_io led_obuf[4] 33 2 0 # ICE_IO
set_io led_obuf[5] 33 3 1 # ICE_IO
set_io led_obuf[6] 33 1 0 # ICE_IO
set_io led_obuf[7] 33 2 1 # ICE_IO
set_io reset_cond.M_stage_q_RNIFG9D[3] 16 33 1 # ICE_GB
set_io rst_n_ibuf 17 0 0 # ICE_IO
set_io usb_rx_ibuf 33 1 1 # ICE_IO
set_io usb_tx_obuf 22 0 1 # ICE_IO
