set_location IN_MUX_bfv_30_19_0_ 30 19 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_30_18_0_ 30 18 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_28_18_0_ 28 18 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_28_19_0_ 28 19 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_28_20_0_ 28 20 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_28_21_0_ 28 21 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_32_17_0_ 32 17 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_32_18_0_ 32 18 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_32_19_0_ 32 19 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_32_20_0_ 32 20 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 27 20 6 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_9_s1_THRU_LUT4_0 28 19 2 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_8_s1_THRU_LUT4_0 28 19 1 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_7_s1_THRU_LUT4_0 28 19 0 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_6_s1_THRU_LUT4_0 28 18 7 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_5_s1_THRU_LUT4_0 28 18 6 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_4_s1_THRU_LUT4_0 28 18 5 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_3_s1_THRU_LUT4_0 28 18 4 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_2_s1_THRU_LUT4_0 28 18 3 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_22_s1_THRU_LUT4_0 28 20 7 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_21_s1_THRU_LUT4_0 28 20 6 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_20_s1_THRU_LUT4_0 28 20 5 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_1_s1_THRU_LUT4_0 28 18 2 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_19_s1_THRU_LUT4_0 28 20 4 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_18_s1_THRU_LUT4_0 28 20 3 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_17_s1_THRU_LUT4_0 28 20 2 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_16_s1_THRU_LUT4_0 28 20 1 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_15_s1_THRU_LUT4_0 28 20 0 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_14_s1_THRU_LUT4_0 28 19 7 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_13_s1_THRU_LUT4_0 28 19 6 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_12_s1_THRU_LUT4_0 28 19 5 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_11_s1_THRU_LUT4_0 28 19 4 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_10_s1_THRU_LUT4_0 28 19 3 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_0_s1_THRU_LUT4_0 28 18 1 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_1_6_THRU_LUT4_0 30 19 7 #SB_LUT4
set_location sr_chain.M_main_clock_count_d8_THRU_LUT4_0 30 18 7 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_9_s1_c 28 19 1 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_8_s1_c 28 19 0 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_7_s1_c 28 18 7 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_6_s1_c 28 18 6 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_5_s1_c 28 18 5 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_4_s1_c 28 18 4 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_3_s1_c 28 18 3 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_2_s1_c 28 18 2 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_23_s1_c 28 20 7 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_22_s1_c 28 20 6 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_21_s1_c 28 20 5 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_20_s1_c 28 20 4 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_1_s1_c 28 18 1 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_19_s1_c 28 20 3 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_18_s1_c 28 20 2 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_17_s1_c 28 20 1 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_16_s1_c 28 20 0 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_15_s1_c 28 19 7 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_14_s1_c 28 19 6 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_13_s1_c 28 19 5 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_12_s1_c 28 19 4 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_11_s1_c 28 19 3 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_10_s1_c 28 19 2 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_9_cry_0_s1_c 28 18 0 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_1_6_c_inv 30 19 6 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_1_6_c_RNIH9O82 27 21 7 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_1_6_c_RNIFAS5 28 21 2 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_1_6_c 30 19 6 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_1_5_c_RNO 29 21 5 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_1_5_c 30 19 5 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_1_4_c_RNO 30 20 6 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_1_4_c 30 19 4 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_1_3_c_RNO 29 19 6 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_1_3_c 30 19 3 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_1_2_c_RNO 29 18 5 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_1_2_c 30 19 2 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_1_1_c_RNO 30 20 0 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_1_1_c 30 19 1 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_1_0_c_RNO 29 19 0 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_1_0_c 30 19 0 #SB_CARRY
set_location sr_chain.un1_M_main_clock_count_q_1_cry_9_c 32 18 1 #SB_CARRY
set_location sr_chain.un1_M_main_clock_count_q_1_cry_8_c 32 18 0 #SB_CARRY
set_location sr_chain.un1_M_main_clock_count_q_1_cry_7_c 32 17 7 #SB_CARRY
set_location sr_chain.un1_M_main_clock_count_q_1_cry_6_c 32 17 6 #SB_CARRY
set_location sr_chain.un1_M_main_clock_count_q_1_cry_5_c 32 17 5 #SB_CARRY
set_location sr_chain.un1_M_main_clock_count_q_1_cry_4_c 32 17 4 #SB_CARRY
set_location sr_chain.un1_M_main_clock_count_q_1_cry_3_c 32 17 3 #SB_CARRY
set_location sr_chain.un1_M_main_clock_count_q_1_cry_2_c 32 17 2 #SB_CARRY
set_location sr_chain.un1_M_main_clock_count_q_1_cry_23_c 32 19 7 #SB_CARRY
set_location sr_chain.un1_M_main_clock_count_q_1_cry_22_c 32 19 6 #SB_CARRY
set_location sr_chain.un1_M_main_clock_count_q_1_cry_21_c 32 19 5 #SB_CARRY
set_location sr_chain.un1_M_main_clock_count_q_1_cry_20_c 32 19 4 #SB_CARRY
set_location sr_chain.un1_M_main_clock_count_q_1_cry_1_c 32 17 1 #SB_CARRY
set_location sr_chain.un1_M_main_clock_count_q_1_cry_19_c 32 19 3 #SB_CARRY
set_location sr_chain.un1_M_main_clock_count_q_1_cry_18_c 32 19 2 #SB_CARRY
set_location sr_chain.un1_M_main_clock_count_q_1_cry_17_c 32 19 1 #SB_CARRY
set_location sr_chain.un1_M_main_clock_count_q_1_cry_16_c 32 19 0 #SB_CARRY
set_location sr_chain.un1_M_main_clock_count_q_1_cry_15_c 32 18 7 #SB_CARRY
set_location sr_chain.un1_M_main_clock_count_q_1_cry_14_c 32 18 6 #SB_CARRY
set_location sr_chain.un1_M_main_clock_count_q_1_cry_13_c 32 18 5 #SB_CARRY
set_location sr_chain.un1_M_main_clock_count_q_1_cry_12_c 32 18 4 #SB_CARRY
set_location sr_chain.un1_M_main_clock_count_q_1_cry_11_c 32 18 3 #SB_CARRY
set_location sr_chain.un1_M_main_clock_count_q_1_cry_10_c 32 18 2 #SB_CARRY
set_location sr_chain.un1_M_main_clock_count_q_1_cry_0_c 32 17 0 #SB_CARRY
set_location sr_chain.M_sr_rest_cycles_q_RNO[9] 29 18 7 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q_RNO[8] 29 18 6 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q_RNO[7] 30 21 3 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q_RNO[6] 30 21 0 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q_RNO[5] 29 20 7 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q_RNO[4] 29 20 3 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q_RNO[3] 29 19 3 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q_RNO[24] 28 21 0 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q_RNO[23] 28 21 3 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q_RNO[22] 29 21 7 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q_RNO[21] 29 21 6 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q_RNO[20] 29 21 4 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q_RNO[2] 29 20 0 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q_RNO[19] 29 20 2 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q_RNO[18] 29 21 2 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q_RNO[17] 29 20 1 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q_RNO[16] 29 20 4 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q_RNO[15] 29 19 5 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q_RNO[14] 29 20 6 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q_RNO[13] 29 20 5 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q_RNO[12] 29 19 7 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q_RNO[11] 29 18 4 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q_RNO[10] 29 19 4 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q_RNO[1] 29 19 1 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q_RNO[0] 28 18 0 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q[9] 29 18 7 #SB_DFFSR
set_location sr_chain.M_sr_rest_cycles_q[8] 29 18 6 #SB_DFFSR
set_location sr_chain.M_sr_rest_cycles_q[7] 30 21 3 #SB_DFFSR
set_location sr_chain.M_sr_rest_cycles_q[6] 30 21 0 #SB_DFFSR
set_location sr_chain.M_sr_rest_cycles_q[5] 29 20 7 #SB_DFFSR
set_location sr_chain.M_sr_rest_cycles_q[4] 29 20 3 #SB_DFFSR
set_location sr_chain.M_sr_rest_cycles_q[3] 29 19 3 #SB_DFFSR
set_location sr_chain.M_sr_rest_cycles_q[24] 28 21 0 #SB_DFFSR
set_location sr_chain.M_sr_rest_cycles_q[23] 28 21 3 #SB_DFFSR
set_location sr_chain.M_sr_rest_cycles_q[22] 29 21 7 #SB_DFFSR
set_location sr_chain.M_sr_rest_cycles_q[21] 29 21 6 #SB_DFFSR
set_location sr_chain.M_sr_rest_cycles_q[20] 29 21 4 #SB_DFFSR
set_location sr_chain.M_sr_rest_cycles_q[2] 29 20 0 #SB_DFFSR
set_location sr_chain.M_sr_rest_cycles_q[19] 29 20 2 #SB_DFFSR
set_location sr_chain.M_sr_rest_cycles_q[18] 29 21 2 #SB_DFFSR
set_location sr_chain.M_sr_rest_cycles_q[17] 29 20 1 #SB_DFFSR
set_location sr_chain.M_sr_rest_cycles_q[16] 29 20 4 #SB_DFFSR
set_location sr_chain.M_sr_rest_cycles_q[15] 29 19 5 #SB_DFFSR
set_location sr_chain.M_sr_rest_cycles_q[14] 29 20 6 #SB_DFFSR
set_location sr_chain.M_sr_rest_cycles_q[13] 29 20 5 #SB_DFFSR
set_location sr_chain.M_sr_rest_cycles_q[12] 29 19 7 #SB_DFFSR
set_location sr_chain.M_sr_rest_cycles_q[11] 29 18 4 #SB_DFFSR
set_location sr_chain.M_sr_rest_cycles_q[10] 29 19 4 #SB_DFFSR
set_location sr_chain.M_sr_rest_cycles_q[1] 29 19 1 #SB_DFFSR
set_location sr_chain.M_sr_rest_cycles_q[0] 28 18 0 #SB_DFFSR
set_location sr_chain.M_sr_is_sending_q_RNO 31 18 3 #SB_LUT4
set_location sr_chain.M_sr_is_sending_q_RNIMJKT 30 17 3 #SB_LUT4
set_location sr_chain.M_sr_is_sending_q_RNI73BG_0 30 17 2 #SB_LUT4
set_location sr_chain.M_sr_is_sending_q_RNI73BG 31 18 6 #SB_LUT4
set_location sr_chain.M_sr_is_sending_q 31 18 3 #SB_DFF
set_location sr_chain.M_sr_data_buffer_q_RNO[3] 31 17 3 #SB_LUT4
set_location sr_chain.M_sr_data_buffer_q[3] 31 17 3 #SB_DFF
set_location sr_chain.M_sr_clock_count_q_RNO[4] 29 17 0 #SB_LUT4
set_location sr_chain.M_sr_clock_count_q_RNO[3] 29 17 2 #SB_LUT4
set_location sr_chain.M_sr_clock_count_q_RNO[2] 30 17 5 #SB_LUT4
set_location sr_chain.M_sr_clock_count_q_RNO[1] 30 17 7 #SB_LUT4
set_location sr_chain.M_sr_clock_count_q_RNO[0] 31 17 2 #SB_LUT4
set_location sr_chain.M_sr_clock_count_q_RNIV7TL1[4] 30 17 1 #SB_LUT4
set_location sr_chain.M_sr_clock_count_q_RNIL1D81[1] 30 17 4 #SB_LUT4
set_location sr_chain.M_sr_clock_count_q_RNI63IL[1] 30 17 0 #SB_LUT4
set_location sr_chain.M_sr_clock_count_q_RNI29HJ2[0] 31 19 5 #SB_LUT4
set_location sr_chain.M_sr_clock_count_q[4] 29 17 0 #SB_DFFSR
set_location sr_chain.M_sr_clock_count_q[3] 29 17 2 #SB_DFFSR
set_location sr_chain.M_sr_clock_count_q[2] 30 17 5 #SB_DFF
set_location sr_chain.M_sr_clock_count_q[1] 30 17 7 #SB_DFF
set_location sr_chain.M_sr_clock_count_q[0] 31 17 2 #SB_DFF
set_location sr_chain.M_sr_bit_q_RNO_3 30 20 3 #SB_LUT4
set_location sr_chain.M_sr_bit_q_RNO_2 30 17 6 #SB_LUT4
set_location sr_chain.M_sr_bit_q_RNO_1 30 20 4 #SB_LUT4
set_location sr_chain.M_sr_bit_q_RNO_0 30 20 2 #SB_LUT4
set_location sr_chain.M_sr_bit_q_RNO 30 20 5 #SB_LUT4
set_location sr_chain.M_sr_bit_q 30 20 5 #SB_DFF
set_location sr_chain.M_main_clock_count_q_RNO[9] 32 18 1 #SB_LUT4
set_location sr_chain.M_main_clock_count_q_RNO[8] 32 18 0 #SB_LUT4
set_location sr_chain.M_main_clock_count_q_RNO[7] 32 17 7 #SB_LUT4
set_location sr_chain.M_main_clock_count_q_RNO[6] 32 17 6 #SB_LUT4
set_location sr_chain.M_main_clock_count_q_RNO[5] 32 17 5 #SB_LUT4
set_location sr_chain.M_main_clock_count_q_RNO[4] 32 17 4 #SB_LUT4
set_location sr_chain.M_main_clock_count_q_RNO[3] 32 17 3 #SB_LUT4
set_location sr_chain.M_main_clock_count_q_RNO[24] 32 20 0 #SB_LUT4
set_location sr_chain.M_main_clock_count_q_RNO[23] 32 19 7 #SB_LUT4
set_location sr_chain.M_main_clock_count_q_RNO[22] 32 19 6 #SB_LUT4
set_location sr_chain.M_main_clock_count_q_RNO[21] 32 19 5 #SB_LUT4
set_location sr_chain.M_main_clock_count_q_RNO[20] 32 19 4 #SB_LUT4
set_location sr_chain.M_main_clock_count_q_RNO[2] 32 17 2 #SB_LUT4
set_location sr_chain.M_main_clock_count_q_RNO[19] 32 19 3 #SB_LUT4
set_location sr_chain.M_main_clock_count_q_RNO[18] 32 19 2 #SB_LUT4
set_location sr_chain.M_main_clock_count_q_RNO[17] 32 19 1 #SB_LUT4
set_location sr_chain.M_main_clock_count_q_RNO[16] 32 19 0 #SB_LUT4
set_location sr_chain.M_main_clock_count_q_RNO[15] 32 18 7 #SB_LUT4
set_location sr_chain.M_main_clock_count_q_RNO[14] 32 18 6 #SB_LUT4
set_location sr_chain.M_main_clock_count_q_RNO[13] 32 18 5 #SB_LUT4
set_location sr_chain.M_main_clock_count_q_RNO[12] 32 18 4 #SB_LUT4
set_location sr_chain.M_main_clock_count_q_RNO[11] 32 18 3 #SB_LUT4
set_location sr_chain.M_main_clock_count_q_RNO[10] 32 18 2 #SB_LUT4
set_location sr_chain.M_main_clock_count_q_RNO[1] 32 17 1 #SB_LUT4
set_location sr_chain.M_main_clock_count_q_RNO[0] 32 17 0 #SB_LUT4
set_location sr_chain.M_main_clock_count_q[9] 32 18 1 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q[8] 32 18 0 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q[7] 32 17 7 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q[6] 32 17 6 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q[5] 32 17 5 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q[4] 32 17 4 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q[3] 32 17 3 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q[24] 32 20 0 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q[23] 32 19 7 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q[22] 32 19 6 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q[21] 32 19 5 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q[20] 32 19 4 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q[2] 32 17 2 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q[19] 32 19 3 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q[18] 32 19 2 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q[17] 32 19 1 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q[16] 32 19 0 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q[15] 32 18 7 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q[14] 32 18 6 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q[13] 32 18 5 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q[12] 32 18 4 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q[11] 32 18 3 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q[10] 32 18 2 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q[1] 32 17 1 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q[0] 32 17 0 #SB_DFFSR
set_location sr_chain.M_main_clock_count_d8_6_c_inv 30 18 6 #SB_LUT4
set_location sr_chain.M_main_clock_count_d8_6_c_RNII1RI 31 17 4 #SB_LUT4
set_location sr_chain.M_main_clock_count_d8_6_c_RNIA6DO1 31 18 2 #SB_LUT4
set_location sr_chain.M_main_clock_count_d8_6_c_RNI2VR22 29 18 3 #SB_LUT4
set_location sr_chain.M_main_clock_count_d8_6_c_RNI1I401 31 17 5 #SB_LUT4
set_location sr_chain.M_main_clock_count_d8_6_c 30 18 6 #SB_CARRY
set_location sr_chain.M_main_clock_count_d8_5_c_RNO 31 18 7 #SB_LUT4
set_location sr_chain.M_main_clock_count_d8_5_c 30 18 5 #SB_CARRY
set_location sr_chain.M_main_clock_count_d8_4_c_RNO 31 17 1 #SB_LUT4
set_location sr_chain.M_main_clock_count_d8_4_c 30 18 4 #SB_CARRY
set_location sr_chain.M_main_clock_count_d8_3_c_RNO 31 17 0 #SB_LUT4
set_location sr_chain.M_main_clock_count_d8_3_c 30 18 3 #SB_CARRY
set_location sr_chain.M_main_clock_count_d8_2_c_RNO 31 19 3 #SB_LUT4
set_location sr_chain.M_main_clock_count_d8_2_c 30 18 2 #SB_CARRY
set_location sr_chain.M_main_clock_count_d8_1_c_RNO 31 18 1 #SB_LUT4
set_location sr_chain.M_main_clock_count_d8_1_c 30 18 1 #SB_CARRY
set_location sr_chain.M_main_clock_count_d8_0_c_RNO 31 18 4 #SB_LUT4
set_location sr_chain.M_main_clock_count_d8_0_c 30 18 0 #SB_CARRY
set_location reset_cond.M_stage_q_RNO[3] 17 17 7 #SB_LUT4
set_location reset_cond.M_stage_q_RNO[2] 17 17 3 #SB_LUT4
set_location reset_cond.M_stage_q_RNO[1] 17 17 0 #SB_LUT4
set_location reset_cond.M_stage_q_RNO[0] 17 17 4 #SB_LUT4
set_location reset_cond.M_stage_q[3] 17 17 7 #SB_DFF
set_location reset_cond.M_stage_q[2] 17 17 3 #SB_DFF
set_location reset_cond.M_stage_q[1] 17 17 0 #SB_DFF
set_location reset_cond.M_stage_q[0] 17 17 4 #SB_DFF
set_location GND -1 -1 -1 #GND
set_io usb_tx M9
set_io usb_rx P14
set_io sr_latch H1
set_io sr_data H3
set_io sr_clk G3
set_io rst_n P8
set_io last C1
set_io dout[6] B1
set_io dout[5] F3
set_io dout[4] F4
set_io dout[3] E1
set_io dout[2] D1
set_io dout[1] G4
set_io dout[0] D4
set_io clk P7
