set_location IN_MUX_bfv_28_17_0_ 28 17 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_29_18_0_ 29 18 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_26_18_0_ 26 18 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_26_19_0_ 26 19 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_26_20_0_ 26 20 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_26_21_0_ 26 21 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_30_15_0_ 30 15 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_30_16_0_ 30 16 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_30_17_0_ 30 17 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_30_18_0_ 30 18 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 26 17 0 #SB_LUT4
set_location sr_chain_un1_M_sr_rest_cycles_q_1_6_THRU_LUT4_0 28 17 7 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_11_cry_9_s1_THRU_LUT4_0 26 19 2 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_11_cry_8_s1_THRU_LUT4_0 26 19 1 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_11_cry_7_s1_THRU_LUT4_0 26 19 0 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_11_cry_6_s1_THRU_LUT4_0 26 18 7 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_11_cry_5_s1_THRU_LUT4_0 26 18 6 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_11_cry_4_s1_THRU_LUT4_0 26 18 5 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_11_cry_3_s1_THRU_LUT4_0 26 18 4 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_11_cry_2_s1_THRU_LUT4_0 26 18 3 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_11_cry_23_s1_THRU_LUT4_0 26 21 0 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_11_cry_22_s1_THRU_LUT4_0 26 20 7 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_11_cry_21_s1_THRU_LUT4_0 26 20 6 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_11_cry_20_s1_THRU_LUT4_0 26 20 5 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_11_cry_1_s1_THRU_LUT4_0 26 18 2 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_11_cry_19_s1_THRU_LUT4_0 26 20 4 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_11_cry_18_s1_THRU_LUT4_0 26 20 3 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_11_cry_17_s1_THRU_LUT4_0 26 20 2 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_11_cry_16_s1_THRU_LUT4_0 26 20 1 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_11_cry_15_s1_THRU_LUT4_0 26 20 0 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_11_cry_14_s1_THRU_LUT4_0 26 19 7 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_11_cry_13_s1_THRU_LUT4_0 26 19 6 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_11_cry_12_s1_THRU_LUT4_0 26 19 5 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_11_cry_11_s1_THRU_LUT4_0 26 19 4 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_11_cry_10_s1_THRU_LUT4_0 26 19 3 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_11_cry_0_s1_THRU_LUT4_0 26 18 1 #SB_LUT4
set_location sr_chain.M_main_clock_count_d8_THRU_LUT4_0 29 18 7 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_1_6_c_inv 28 17 6 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_1_6_c_RNIH9O82 27 21 5 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_1_6_c_RNIFAS5 28 19 6 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_1_6_c 28 17 6 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_1_5_c_RNO 28 19 0 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_1_5_c 28 17 5 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_1_4_c_RNO 28 18 5 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_1_4_c 28 17 4 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_1_3_c_RNO 28 18 0 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_1_3_c 28 17 3 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_1_2_c_RNO 27 17 5 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_1_2_c 28 17 2 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_1_1_c_RNO 27 18 0 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_1_1_c 28 17 1 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_1_0_c_RNO 27 17 0 #SB_LUT4
set_location sr_chain.un1_M_sr_rest_cycles_q_1_0_c 28 17 0 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_11_cry_9_s1_c 26 19 1 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_11_cry_8_s1_c 26 19 0 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_11_cry_7_s1_c 26 18 7 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_11_cry_6_s1_c 26 18 6 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_11_cry_5_s1_c 26 18 5 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_11_cry_4_s1_c 26 18 4 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_11_cry_3_s1_c 26 18 3 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_11_cry_2_s1_c 26 18 2 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_11_cry_23_s1_c 26 20 7 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_11_cry_22_s1_c 26 20 6 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_11_cry_21_s1_c 26 20 5 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_11_cry_20_s1_c 26 20 4 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_11_cry_1_s1_c 26 18 1 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_11_cry_19_s1_c 26 20 3 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_11_cry_18_s1_c 26 20 2 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_11_cry_17_s1_c 26 20 1 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_11_cry_16_s1_c 26 20 0 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_11_cry_15_s1_c 26 19 7 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_11_cry_14_s1_c 26 19 6 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_11_cry_13_s1_c 26 19 5 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_11_cry_12_s1_c 26 19 4 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_11_cry_11_s1_c 26 19 3 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_11_cry_10_s1_c 26 19 2 #SB_CARRY
set_location sr_chain.un1_M_sr_rest_cycles_q_11_cry_0_s1_c 26 18 0 #SB_CARRY
set_location sr_chain.un1_M_main_clock_count_q_1_cry_9_c 30 16 1 #SB_CARRY
set_location sr_chain.un1_M_main_clock_count_q_1_cry_8_c 30 16 0 #SB_CARRY
set_location sr_chain.un1_M_main_clock_count_q_1_cry_7_c 30 15 7 #SB_CARRY
set_location sr_chain.un1_M_main_clock_count_q_1_cry_6_c 30 15 6 #SB_CARRY
set_location sr_chain.un1_M_main_clock_count_q_1_cry_5_c 30 15 5 #SB_CARRY
set_location sr_chain.un1_M_main_clock_count_q_1_cry_4_c 30 15 4 #SB_CARRY
set_location sr_chain.un1_M_main_clock_count_q_1_cry_3_c 30 15 3 #SB_CARRY
set_location sr_chain.un1_M_main_clock_count_q_1_cry_2_c 30 15 2 #SB_CARRY
set_location sr_chain.un1_M_main_clock_count_q_1_cry_23_c 30 17 7 #SB_CARRY
set_location sr_chain.un1_M_main_clock_count_q_1_cry_22_c 30 17 6 #SB_CARRY
set_location sr_chain.un1_M_main_clock_count_q_1_cry_21_c 30 17 5 #SB_CARRY
set_location sr_chain.un1_M_main_clock_count_q_1_cry_20_c 30 17 4 #SB_CARRY
set_location sr_chain.un1_M_main_clock_count_q_1_cry_1_c 30 15 1 #SB_CARRY
set_location sr_chain.un1_M_main_clock_count_q_1_cry_19_c 30 17 3 #SB_CARRY
set_location sr_chain.un1_M_main_clock_count_q_1_cry_18_c 30 17 2 #SB_CARRY
set_location sr_chain.un1_M_main_clock_count_q_1_cry_17_c 30 17 1 #SB_CARRY
set_location sr_chain.un1_M_main_clock_count_q_1_cry_16_c 30 17 0 #SB_CARRY
set_location sr_chain.un1_M_main_clock_count_q_1_cry_15_c 30 16 7 #SB_CARRY
set_location sr_chain.un1_M_main_clock_count_q_1_cry_14_c 30 16 6 #SB_CARRY
set_location sr_chain.un1_M_main_clock_count_q_1_cry_13_c 30 16 5 #SB_CARRY
set_location sr_chain.un1_M_main_clock_count_q_1_cry_12_c 30 16 4 #SB_CARRY
set_location sr_chain.un1_M_main_clock_count_q_1_cry_11_c 30 16 3 #SB_CARRY
set_location sr_chain.un1_M_main_clock_count_q_1_cry_10_c 30 16 2 #SB_CARRY
set_location sr_chain.un1_M_main_clock_count_q_1_cry_0_c 30 15 0 #SB_CARRY
set_location sr_chain.M_sr_rest_cycles_q_RNO[9] 27 16 2 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q_RNO[8] 27 17 6 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q_RNO[7] 27 19 7 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q_RNO[6] 27 19 4 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q_RNO[5] 27 18 2 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q_RNO[4] 27 18 1 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q_RNO[3] 27 17 3 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q_RNO[24] 27 18 5 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q_RNO[23] 27 20 7 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q_RNO[22] 28 20 2 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q_RNO[21] 28 20 6 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q_RNO[20] 28 20 4 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q_RNO[2] 27 17 2 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q_RNO[19] 27 19 5 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q_RNO[18] 27 19 6 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q_RNO[17] 27 19 3 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q_RNO[16] 28 18 4 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q_RNO[15] 28 18 1 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q_RNO[14] 27 19 1 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q_RNO[13] 27 19 0 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q_RNO[12] 27 18 7 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q_RNO[11] 27 18 6 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q_RNO[10] 27 17 4 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q_RNO[1] 27 17 1 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q_RNO[0] 26 18 0 #SB_LUT4
set_location sr_chain.M_sr_rest_cycles_q[9] 27 16 2 #SB_DFFSR
set_location sr_chain.M_sr_rest_cycles_q[8] 27 17 6 #SB_DFFSR
set_location sr_chain.M_sr_rest_cycles_q[7] 27 19 7 #SB_DFFSR
set_location sr_chain.M_sr_rest_cycles_q[6] 27 19 4 #SB_DFFSR
set_location sr_chain.M_sr_rest_cycles_q[5] 27 18 2 #SB_DFFSR
set_location sr_chain.M_sr_rest_cycles_q[4] 27 18 1 #SB_DFFSR
set_location sr_chain.M_sr_rest_cycles_q[3] 27 17 3 #SB_DFFSR
set_location sr_chain.M_sr_rest_cycles_q[24] 27 18 5 #SB_DFFSR
set_location sr_chain.M_sr_rest_cycles_q[23] 27 20 7 #SB_DFFSR
set_location sr_chain.M_sr_rest_cycles_q[22] 28 20 2 #SB_DFFSR
set_location sr_chain.M_sr_rest_cycles_q[21] 28 20 6 #SB_DFFSR
set_location sr_chain.M_sr_rest_cycles_q[20] 28 20 4 #SB_DFFSR
set_location sr_chain.M_sr_rest_cycles_q[2] 27 17 2 #SB_DFFSR
set_location sr_chain.M_sr_rest_cycles_q[19] 27 19 5 #SB_DFFSR
set_location sr_chain.M_sr_rest_cycles_q[18] 27 19 6 #SB_DFFSR
set_location sr_chain.M_sr_rest_cycles_q[17] 27 19 3 #SB_DFFSR
set_location sr_chain.M_sr_rest_cycles_q[16] 28 18 4 #SB_DFFSR
set_location sr_chain.M_sr_rest_cycles_q[15] 28 18 1 #SB_DFFSR
set_location sr_chain.M_sr_rest_cycles_q[14] 27 19 1 #SB_DFFSR
set_location sr_chain.M_sr_rest_cycles_q[13] 27 19 0 #SB_DFFSR
set_location sr_chain.M_sr_rest_cycles_q[12] 27 18 7 #SB_DFFSR
set_location sr_chain.M_sr_rest_cycles_q[11] 27 18 6 #SB_DFFSR
set_location sr_chain.M_sr_rest_cycles_q[10] 27 17 4 #SB_DFFSR
set_location sr_chain.M_sr_rest_cycles_q[1] 27 17 1 #SB_DFFSR
set_location sr_chain.M_sr_rest_cycles_q[0] 26 18 0 #SB_DFFSR
set_location sr_chain.M_sr_is_sending_q_RNO 29 16 4 #SB_LUT4
set_location sr_chain.M_sr_is_sending_q_RNIMJKT 29 17 2 #SB_LUT4
set_location sr_chain.M_sr_is_sending_q_RNI73BG_0 28 14 6 #SB_LUT4
set_location sr_chain.M_sr_is_sending_q_RNI73BG 29 16 5 #SB_LUT4
set_location sr_chain.M_sr_is_sending_q 29 16 4 #SB_DFFSR
set_location sr_chain.M_sr_data_buffer_q_esr_RNO[7] 28 15 6 #SB_LUT4
set_location sr_chain.M_sr_data_buffer_q_esr_RNO[6] 28 15 5 #SB_LUT4
set_location sr_chain.M_sr_data_buffer_q_esr_RNO[5] 28 15 4 #SB_LUT4
set_location sr_chain.M_sr_data_buffer_q_esr_RNO[4] 28 15 3 #SB_LUT4
set_location sr_chain.M_sr_data_buffer_q_esr_RNO[3] 28 15 2 #SB_LUT4
set_location sr_chain.M_sr_data_buffer_q_esr_RNO[2] 28 15 1 #SB_LUT4
set_location sr_chain.M_sr_data_buffer_q_esr_RNO[1] 28 15 0 #SB_LUT4
set_location sr_chain.M_sr_data_buffer_q_esr[7] 28 15 6 #SB_DFFESR
set_location sr_chain.M_sr_data_buffer_q_esr[6] 28 15 5 #SB_DFFESR
set_location sr_chain.M_sr_data_buffer_q_esr[5] 28 15 4 #SB_DFFESR
set_location sr_chain.M_sr_data_buffer_q_esr[4] 28 15 3 #SB_DFFESR
set_location sr_chain.M_sr_data_buffer_q_esr[3] 28 15 2 #SB_DFFESR
set_location sr_chain.M_sr_data_buffer_q_esr[2] 28 15 1 #SB_DFFESR
set_location sr_chain.M_sr_data_buffer_q_esr[1] 28 15 0 #SB_DFFESR
set_location sr_chain.M_sr_data_buffer_q_RNO[0] 29 16 3 #SB_LUT4
set_location sr_chain.M_sr_data_buffer_q[0] 29 16 3 #SB_DFFSR
set_location sr_chain.M_sr_clock_count_q_RNO[4] 30 14 0 #SB_LUT4
set_location sr_chain.M_sr_clock_count_q_RNO[3] 30 14 1 #SB_LUT4
set_location sr_chain.M_sr_clock_count_q_RNO[2] 29 15 2 #SB_LUT4
set_location sr_chain.M_sr_clock_count_q_RNO[1] 29 15 4 #SB_LUT4
set_location sr_chain.M_sr_clock_count_q_RNO[0] 29 15 7 #SB_LUT4
set_location sr_chain.M_sr_clock_count_q_RNIV7TL1[1] 29 15 6 #SB_LUT4
set_location sr_chain.M_sr_clock_count_q_RNIL1D81[1] 29 15 1 #SB_LUT4
set_location sr_chain.M_sr_clock_count_q_RNIHJDP2[0] 29 19 6 #SB_LUT4
set_location sr_chain.M_sr_clock_count_q_RNI74IL[3] 29 15 5 #SB_LUT4
set_location sr_chain.M_sr_clock_count_q[4] 30 14 0 #SB_DFFSR
set_location sr_chain.M_sr_clock_count_q[3] 30 14 1 #SB_DFFSR
set_location sr_chain.M_sr_clock_count_q[2] 29 15 2 #SB_DFF
set_location sr_chain.M_sr_clock_count_q[1] 29 15 4 #SB_DFF
set_location sr_chain.M_sr_clock_count_q[0] 29 15 7 #SB_DFF
set_location sr_chain.M_sr_bit_q_RNO_1 31 15 6 #SB_LUT4
set_location sr_chain.M_sr_bit_q_RNO_0 29 19 0 #SB_LUT4
set_location sr_chain.M_sr_bit_q_RNO 30 19 3 #SB_LUT4
set_location sr_chain.M_sr_bit_q 30 19 3 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q_RNO[9] 30 16 1 #SB_LUT4
set_location sr_chain.M_main_clock_count_q_RNO[8] 30 16 0 #SB_LUT4
set_location sr_chain.M_main_clock_count_q_RNO[7] 30 15 7 #SB_LUT4
set_location sr_chain.M_main_clock_count_q_RNO[6] 30 15 6 #SB_LUT4
set_location sr_chain.M_main_clock_count_q_RNO[5] 30 15 5 #SB_LUT4
set_location sr_chain.M_main_clock_count_q_RNO[4] 30 15 4 #SB_LUT4
set_location sr_chain.M_main_clock_count_q_RNO[3] 30 15 3 #SB_LUT4
set_location sr_chain.M_main_clock_count_q_RNO[24] 30 18 0 #SB_LUT4
set_location sr_chain.M_main_clock_count_q_RNO[23] 30 17 7 #SB_LUT4
set_location sr_chain.M_main_clock_count_q_RNO[22] 30 17 6 #SB_LUT4
set_location sr_chain.M_main_clock_count_q_RNO[21] 30 17 5 #SB_LUT4
set_location sr_chain.M_main_clock_count_q_RNO[20] 30 17 4 #SB_LUT4
set_location sr_chain.M_main_clock_count_q_RNO[2] 30 15 2 #SB_LUT4
set_location sr_chain.M_main_clock_count_q_RNO[19] 30 17 3 #SB_LUT4
set_location sr_chain.M_main_clock_count_q_RNO[18] 30 17 2 #SB_LUT4
set_location sr_chain.M_main_clock_count_q_RNO[17] 30 17 1 #SB_LUT4
set_location sr_chain.M_main_clock_count_q_RNO[16] 30 17 0 #SB_LUT4
set_location sr_chain.M_main_clock_count_q_RNO[15] 30 16 7 #SB_LUT4
set_location sr_chain.M_main_clock_count_q_RNO[14] 30 16 6 #SB_LUT4
set_location sr_chain.M_main_clock_count_q_RNO[13] 30 16 5 #SB_LUT4
set_location sr_chain.M_main_clock_count_q_RNO[12] 30 16 4 #SB_LUT4
set_location sr_chain.M_main_clock_count_q_RNO[11] 30 16 3 #SB_LUT4
set_location sr_chain.M_main_clock_count_q_RNO[10] 30 16 2 #SB_LUT4
set_location sr_chain.M_main_clock_count_q_RNO[1] 30 15 1 #SB_LUT4
set_location sr_chain.M_main_clock_count_q_RNO[0] 30 15 0 #SB_LUT4
set_location sr_chain.M_main_clock_count_q[9] 30 16 1 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q[8] 30 16 0 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q[7] 30 15 7 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q[6] 30 15 6 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q[5] 30 15 5 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q[4] 30 15 4 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q[3] 30 15 3 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q[24] 30 18 0 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q[23] 30 17 7 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q[22] 30 17 6 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q[21] 30 17 5 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q[20] 30 17 4 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q[2] 30 15 2 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q[19] 30 17 3 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q[18] 30 17 2 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q[17] 30 17 1 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q[16] 30 17 0 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q[15] 30 16 7 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q[14] 30 16 6 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q[13] 30 16 5 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q[12] 30 16 4 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q[11] 30 16 3 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q[10] 30 16 2 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q[1] 30 15 1 #SB_DFFSR
set_location sr_chain.M_main_clock_count_q[0] 30 15 0 #SB_DFFSR
set_location sr_chain.M_main_clock_count_d8_6_c_inv 29 18 6 #SB_LUT4
set_location sr_chain.M_main_clock_count_d8_6_c_RNIPG9U1 29 19 5 #SB_LUT4
set_location sr_chain.M_main_clock_count_d8_6_c_RNIIHTA1 29 16 1 #SB_LUT4
set_location sr_chain.M_main_clock_count_d8_6_c_RNII1RI 29 17 4 #SB_LUT4
set_location sr_chain.M_main_clock_count_d8_6_c_RNI31KT 29 17 0 #SB_LUT4
set_location sr_chain.M_main_clock_count_d8_6_c_RNI2VR22 29 19 4 #SB_LUT4
set_location sr_chain.M_main_clock_count_d8_6_c_RNI1I401 29 17 5 #SB_LUT4
set_location sr_chain.M_main_clock_count_d8_6_c 29 18 6 #SB_CARRY
set_location sr_chain.M_main_clock_count_d8_5_c_RNO 29 17 6 #SB_LUT4
set_location sr_chain.M_main_clock_count_d8_5_c 29 18 5 #SB_CARRY
set_location sr_chain.M_main_clock_count_d8_4_c_RNO 29 15 0 #SB_LUT4
set_location sr_chain.M_main_clock_count_d8_4_c 29 18 4 #SB_CARRY
set_location sr_chain.M_main_clock_count_d8_3_c_RNO 29 15 3 #SB_LUT4
set_location sr_chain.M_main_clock_count_d8_3_c 29 18 3 #SB_CARRY
set_location sr_chain.M_main_clock_count_d8_2_c_RNO 29 17 7 #SB_LUT4
set_location sr_chain.M_main_clock_count_d8_2_c 29 18 2 #SB_CARRY
set_location sr_chain.M_main_clock_count_d8_1_c_RNO 29 17 1 #SB_LUT4
set_location sr_chain.M_main_clock_count_d8_1_c 29 18 1 #SB_CARRY
set_location sr_chain.M_main_clock_count_d8_0_c_RNO 29 17 3 #SB_LUT4
set_location sr_chain.M_main_clock_count_d8_0_c 29 18 0 #SB_CARRY
set_location reset_cond.M_stage_q_RNO[3] 17 13 6 #SB_LUT4
set_location reset_cond.M_stage_q_RNO[2] 17 13 2 #SB_LUT4
set_location reset_cond.M_stage_q_RNO[1] 17 13 1 #SB_LUT4
set_location reset_cond.M_stage_q_RNO[0] 17 13 5 #SB_LUT4
set_location reset_cond.M_stage_q[3] 17 13 6 #SB_DFF
set_location reset_cond.M_stage_q[2] 17 13 2 #SB_DFF
set_location reset_cond.M_stage_q[1] 17 13 1 #SB_DFF
set_location reset_cond.M_stage_q[0] 17 13 5 #SB_DFF
set_location M_count_q_RNO[7] 28 14 1 #SB_LUT4
set_location M_count_q_RNO[6] 28 16 3 #SB_LUT4
set_location M_count_q_RNO[5] 28 16 5 #SB_LUT4
set_location M_count_q_RNO[4] 28 16 4 #SB_LUT4
set_location M_count_q_RNO[3] 27 15 4 #SB_LUT4
set_location M_count_q_RNO[2] 27 15 5 #SB_LUT4
set_location M_count_q_RNO_1[7] 27 14 4 #SB_LUT4
set_location M_count_q_RNO[1] 27 15 0 #SB_LUT4
set_location M_count_q_RNO_0[7] 27 14 5 #SB_LUT4
set_location M_count_q_RNO[0] 27 15 7 #SB_LUT4
set_location M_count_q_RNIR63U[7] 28 14 2 #SB_LUT4
set_location M_count_q_RNIQ53U[6] 28 14 3 #SB_LUT4
set_location M_count_q_RNIP43U[5] 28 14 5 #SB_LUT4
set_location M_count_q_RNIO33U[4] 28 14 4 #SB_LUT4
set_location M_count_q_RNIN23U[3] 29 14 5 #SB_LUT4
set_location M_count_q_RNIM13U[2] 29 14 4 #SB_LUT4
set_location M_count_q_RNIL03U[1] 29 14 1 #SB_LUT4
set_location M_count_q_RNIKV2U[0] 28 14 7 #SB_LUT4
set_location M_count_q_RNIIR2L2[4] 28 16 2 #SB_LUT4
set_location M_count_q_RNI2TQB1[1] 28 16 1 #SB_LUT4
set_location M_count_q[7] 28 14 1 #SB_DFFSR
set_location M_count_q[6] 28 16 3 #SB_DFFSR
set_location M_count_q[5] 28 16 5 #SB_DFFSR
set_location M_count_q[4] 28 16 4 #SB_DFFSR
set_location M_count_q[3] 27 15 4 #SB_DFFSR
set_location M_count_q[2] 27 15 5 #SB_DFFSR
set_location M_count_q[1] 27 15 0 #SB_DFFSR
set_location M_count_q[0] 27 15 7 #SB_DFFSR
set_location GND -1 -1 -1 #GND
set_io sr_latch D4
set_io sr_data G4
set_io sr_clk D1
set_io rst_n P8
set_io clk P7
