ble_pack reset_cond.M_stage_q_1_LC_17_13_1 { reset_cond.M_stage_q_RNO[1], reset_cond.M_stage_q[1] }
ble_pack reset_cond.M_stage_q_2_LC_17_13_2 { reset_cond.M_stage_q_RNO[2], reset_cond.M_stage_q[2] }
ble_pack reset_cond.M_stage_q_0_LC_17_13_5 { reset_cond.M_stage_q_RNO[0], reset_cond.M_stage_q[0] }
ble_pack reset_cond.M_stage_q_3_LC_17_13_6 { reset_cond.M_stage_q_RNO[3], reset_cond.M_stage_q[3] }
clb_pack LT_17_13 { reset_cond.M_stage_q_1_LC_17_13_1, reset_cond.M_stage_q_2_LC_17_13_2, reset_cond.M_stage_q_0_LC_17_13_5, reset_cond.M_stage_q_3_LC_17_13_6 }
set_location LT_17_13 17 13
ble_pack CONSTANT_ONE_LUT4_LC_26_17_0 { CONSTANT_ONE_LUT4 }
clb_pack LT_26_17 { CONSTANT_ONE_LUT4_LC_26_17_0 }
set_location LT_26_17 26 17
ble_pack sr_chain.M_sr_rest_cycles_q_0_LC_26_18_0 { sr_chain.M_sr_rest_cycles_q_RNO[0], sr_chain.M_sr_rest_cycles_q[0], sr_chain.un1_M_sr_rest_cycles_q_11_cry_0_s1_c }
ble_pack sr_chain.un1_M_sr_rest_cycles_q_11_cry_0_s1_THRU_LUT4_0_LC_26_18_1 { sr_chain.un1_M_sr_rest_cycles_q_11_cry_0_s1_THRU_LUT4_0, sr_chain.un1_M_sr_rest_cycles_q_11_cry_1_s1_c }
ble_pack sr_chain.un1_M_sr_rest_cycles_q_11_cry_1_s1_THRU_LUT4_0_LC_26_18_2 { sr_chain.un1_M_sr_rest_cycles_q_11_cry_1_s1_THRU_LUT4_0, sr_chain.un1_M_sr_rest_cycles_q_11_cry_2_s1_c }
ble_pack sr_chain.un1_M_sr_rest_cycles_q_11_cry_2_s1_THRU_LUT4_0_LC_26_18_3 { sr_chain.un1_M_sr_rest_cycles_q_11_cry_2_s1_THRU_LUT4_0, sr_chain.un1_M_sr_rest_cycles_q_11_cry_3_s1_c }
ble_pack sr_chain.un1_M_sr_rest_cycles_q_11_cry_3_s1_THRU_LUT4_0_LC_26_18_4 { sr_chain.un1_M_sr_rest_cycles_q_11_cry_3_s1_THRU_LUT4_0, sr_chain.un1_M_sr_rest_cycles_q_11_cry_4_s1_c }
ble_pack sr_chain.un1_M_sr_rest_cycles_q_11_cry_4_s1_THRU_LUT4_0_LC_26_18_5 { sr_chain.un1_M_sr_rest_cycles_q_11_cry_4_s1_THRU_LUT4_0, sr_chain.un1_M_sr_rest_cycles_q_11_cry_5_s1_c }
ble_pack sr_chain.un1_M_sr_rest_cycles_q_11_cry_5_s1_THRU_LUT4_0_LC_26_18_6 { sr_chain.un1_M_sr_rest_cycles_q_11_cry_5_s1_THRU_LUT4_0, sr_chain.un1_M_sr_rest_cycles_q_11_cry_6_s1_c }
ble_pack sr_chain.un1_M_sr_rest_cycles_q_11_cry_6_s1_THRU_LUT4_0_LC_26_18_7 { sr_chain.un1_M_sr_rest_cycles_q_11_cry_6_s1_THRU_LUT4_0, sr_chain.un1_M_sr_rest_cycles_q_11_cry_7_s1_c }
clb_pack LT_26_18 { sr_chain.M_sr_rest_cycles_q_0_LC_26_18_0, sr_chain.un1_M_sr_rest_cycles_q_11_cry_0_s1_THRU_LUT4_0_LC_26_18_1, sr_chain.un1_M_sr_rest_cycles_q_11_cry_1_s1_THRU_LUT4_0_LC_26_18_2, sr_chain.un1_M_sr_rest_cycles_q_11_cry_2_s1_THRU_LUT4_0_LC_26_18_3, sr_chain.un1_M_sr_rest_cycles_q_11_cry_3_s1_THRU_LUT4_0_LC_26_18_4, sr_chain.un1_M_sr_rest_cycles_q_11_cry_4_s1_THRU_LUT4_0_LC_26_18_5, sr_chain.un1_M_sr_rest_cycles_q_11_cry_5_s1_THRU_LUT4_0_LC_26_18_6, sr_chain.un1_M_sr_rest_cycles_q_11_cry_6_s1_THRU_LUT4_0_LC_26_18_7 }
set_location LT_26_18 26 18
ble_pack sr_chain.un1_M_sr_rest_cycles_q_11_cry_7_s1_THRU_LUT4_0_LC_26_19_0 { sr_chain.un1_M_sr_rest_cycles_q_11_cry_7_s1_THRU_LUT4_0, sr_chain.un1_M_sr_rest_cycles_q_11_cry_8_s1_c }
ble_pack sr_chain.un1_M_sr_rest_cycles_q_11_cry_8_s1_THRU_LUT4_0_LC_26_19_1 { sr_chain.un1_M_sr_rest_cycles_q_11_cry_8_s1_THRU_LUT4_0, sr_chain.un1_M_sr_rest_cycles_q_11_cry_9_s1_c }
ble_pack sr_chain.un1_M_sr_rest_cycles_q_11_cry_9_s1_THRU_LUT4_0_LC_26_19_2 { sr_chain.un1_M_sr_rest_cycles_q_11_cry_9_s1_THRU_LUT4_0, sr_chain.un1_M_sr_rest_cycles_q_11_cry_10_s1_c }
ble_pack sr_chain.un1_M_sr_rest_cycles_q_11_cry_10_s1_THRU_LUT4_0_LC_26_19_3 { sr_chain.un1_M_sr_rest_cycles_q_11_cry_10_s1_THRU_LUT4_0, sr_chain.un1_M_sr_rest_cycles_q_11_cry_11_s1_c }
ble_pack sr_chain.un1_M_sr_rest_cycles_q_11_cry_11_s1_THRU_LUT4_0_LC_26_19_4 { sr_chain.un1_M_sr_rest_cycles_q_11_cry_11_s1_THRU_LUT4_0, sr_chain.un1_M_sr_rest_cycles_q_11_cry_12_s1_c }
ble_pack sr_chain.un1_M_sr_rest_cycles_q_11_cry_12_s1_THRU_LUT4_0_LC_26_19_5 { sr_chain.un1_M_sr_rest_cycles_q_11_cry_12_s1_THRU_LUT4_0, sr_chain.un1_M_sr_rest_cycles_q_11_cry_13_s1_c }
ble_pack sr_chain.un1_M_sr_rest_cycles_q_11_cry_13_s1_THRU_LUT4_0_LC_26_19_6 { sr_chain.un1_M_sr_rest_cycles_q_11_cry_13_s1_THRU_LUT4_0, sr_chain.un1_M_sr_rest_cycles_q_11_cry_14_s1_c }
ble_pack sr_chain.un1_M_sr_rest_cycles_q_11_cry_14_s1_THRU_LUT4_0_LC_26_19_7 { sr_chain.un1_M_sr_rest_cycles_q_11_cry_14_s1_THRU_LUT4_0, sr_chain.un1_M_sr_rest_cycles_q_11_cry_15_s1_c }
clb_pack LT_26_19 { sr_chain.un1_M_sr_rest_cycles_q_11_cry_7_s1_THRU_LUT4_0_LC_26_19_0, sr_chain.un1_M_sr_rest_cycles_q_11_cry_8_s1_THRU_LUT4_0_LC_26_19_1, sr_chain.un1_M_sr_rest_cycles_q_11_cry_9_s1_THRU_LUT4_0_LC_26_19_2, sr_chain.un1_M_sr_rest_cycles_q_11_cry_10_s1_THRU_LUT4_0_LC_26_19_3, sr_chain.un1_M_sr_rest_cycles_q_11_cry_11_s1_THRU_LUT4_0_LC_26_19_4, sr_chain.un1_M_sr_rest_cycles_q_11_cry_12_s1_THRU_LUT4_0_LC_26_19_5, sr_chain.un1_M_sr_rest_cycles_q_11_cry_13_s1_THRU_LUT4_0_LC_26_19_6, sr_chain.un1_M_sr_rest_cycles_q_11_cry_14_s1_THRU_LUT4_0_LC_26_19_7 }
set_location LT_26_19 26 19
ble_pack sr_chain.un1_M_sr_rest_cycles_q_11_cry_15_s1_THRU_LUT4_0_LC_26_20_0 { sr_chain.un1_M_sr_rest_cycles_q_11_cry_15_s1_THRU_LUT4_0, sr_chain.un1_M_sr_rest_cycles_q_11_cry_16_s1_c }
ble_pack sr_chain.un1_M_sr_rest_cycles_q_11_cry_16_s1_THRU_LUT4_0_LC_26_20_1 { sr_chain.un1_M_sr_rest_cycles_q_11_cry_16_s1_THRU_LUT4_0, sr_chain.un1_M_sr_rest_cycles_q_11_cry_17_s1_c }
ble_pack sr_chain.un1_M_sr_rest_cycles_q_11_cry_17_s1_THRU_LUT4_0_LC_26_20_2 { sr_chain.un1_M_sr_rest_cycles_q_11_cry_17_s1_THRU_LUT4_0, sr_chain.un1_M_sr_rest_cycles_q_11_cry_18_s1_c }
ble_pack sr_chain.un1_M_sr_rest_cycles_q_11_cry_18_s1_THRU_LUT4_0_LC_26_20_3 { sr_chain.un1_M_sr_rest_cycles_q_11_cry_18_s1_THRU_LUT4_0, sr_chain.un1_M_sr_rest_cycles_q_11_cry_19_s1_c }
ble_pack sr_chain.un1_M_sr_rest_cycles_q_11_cry_19_s1_THRU_LUT4_0_LC_26_20_4 { sr_chain.un1_M_sr_rest_cycles_q_11_cry_19_s1_THRU_LUT4_0, sr_chain.un1_M_sr_rest_cycles_q_11_cry_20_s1_c }
ble_pack sr_chain.un1_M_sr_rest_cycles_q_11_cry_20_s1_THRU_LUT4_0_LC_26_20_5 { sr_chain.un1_M_sr_rest_cycles_q_11_cry_20_s1_THRU_LUT4_0, sr_chain.un1_M_sr_rest_cycles_q_11_cry_21_s1_c }
ble_pack sr_chain.un1_M_sr_rest_cycles_q_11_cry_21_s1_THRU_LUT4_0_LC_26_20_6 { sr_chain.un1_M_sr_rest_cycles_q_11_cry_21_s1_THRU_LUT4_0, sr_chain.un1_M_sr_rest_cycles_q_11_cry_22_s1_c }
ble_pack sr_chain.un1_M_sr_rest_cycles_q_11_cry_22_s1_THRU_LUT4_0_LC_26_20_7 { sr_chain.un1_M_sr_rest_cycles_q_11_cry_22_s1_THRU_LUT4_0, sr_chain.un1_M_sr_rest_cycles_q_11_cry_23_s1_c }
clb_pack LT_26_20 { sr_chain.un1_M_sr_rest_cycles_q_11_cry_15_s1_THRU_LUT4_0_LC_26_20_0, sr_chain.un1_M_sr_rest_cycles_q_11_cry_16_s1_THRU_LUT4_0_LC_26_20_1, sr_chain.un1_M_sr_rest_cycles_q_11_cry_17_s1_THRU_LUT4_0_LC_26_20_2, sr_chain.un1_M_sr_rest_cycles_q_11_cry_18_s1_THRU_LUT4_0_LC_26_20_3, sr_chain.un1_M_sr_rest_cycles_q_11_cry_19_s1_THRU_LUT4_0_LC_26_20_4, sr_chain.un1_M_sr_rest_cycles_q_11_cry_20_s1_THRU_LUT4_0_LC_26_20_5, sr_chain.un1_M_sr_rest_cycles_q_11_cry_21_s1_THRU_LUT4_0_LC_26_20_6, sr_chain.un1_M_sr_rest_cycles_q_11_cry_22_s1_THRU_LUT4_0_LC_26_20_7 }
set_location LT_26_20 26 20
ble_pack sr_chain.un1_M_sr_rest_cycles_q_11_cry_23_s1_THRU_LUT4_0_LC_26_21_0 { sr_chain.un1_M_sr_rest_cycles_q_11_cry_23_s1_THRU_LUT4_0 }
clb_pack LT_26_21 { sr_chain.un1_M_sr_rest_cycles_q_11_cry_23_s1_THRU_LUT4_0_LC_26_21_0 }
set_location LT_26_21 26 21
ble_pack M_count_q_RNO_1_7_LC_27_14_4 { M_count_q_RNO_1[7] }
ble_pack M_count_q_RNO_0_7_LC_27_14_5 { M_count_q_RNO_0[7] }
clb_pack LT_27_14 { M_count_q_RNO_1_7_LC_27_14_4, M_count_q_RNO_0_7_LC_27_14_5 }
set_location LT_27_14 27 14
ble_pack M_count_q_1_LC_27_15_0 { M_count_q_RNO[1], M_count_q[1] }
ble_pack M_count_q_3_LC_27_15_4 { M_count_q_RNO[3], M_count_q[3] }
ble_pack M_count_q_2_LC_27_15_5 { M_count_q_RNO[2], M_count_q[2] }
ble_pack M_count_q_0_LC_27_15_7 { M_count_q_RNO[0], M_count_q[0] }
clb_pack LT_27_15 { M_count_q_1_LC_27_15_0, M_count_q_3_LC_27_15_4, M_count_q_2_LC_27_15_5, M_count_q_0_LC_27_15_7 }
set_location LT_27_15 27 15
ble_pack sr_chain.M_sr_rest_cycles_q_9_LC_27_16_2 { sr_chain.M_sr_rest_cycles_q_RNO[9], sr_chain.M_sr_rest_cycles_q[9] }
clb_pack LT_27_16 { sr_chain.M_sr_rest_cycles_q_9_LC_27_16_2 }
set_location LT_27_16 27 16
ble_pack sr_chain.un1_M_sr_rest_cycles_q_1_0_c_RNO_LC_27_17_0 { sr_chain.un1_M_sr_rest_cycles_q_1_0_c_RNO }
ble_pack sr_chain.M_sr_rest_cycles_q_1_LC_27_17_1 { sr_chain.M_sr_rest_cycles_q_RNO[1], sr_chain.M_sr_rest_cycles_q[1] }
ble_pack sr_chain.M_sr_rest_cycles_q_2_LC_27_17_2 { sr_chain.M_sr_rest_cycles_q_RNO[2], sr_chain.M_sr_rest_cycles_q[2] }
ble_pack sr_chain.M_sr_rest_cycles_q_3_LC_27_17_3 { sr_chain.M_sr_rest_cycles_q_RNO[3], sr_chain.M_sr_rest_cycles_q[3] }
ble_pack sr_chain.M_sr_rest_cycles_q_10_LC_27_17_4 { sr_chain.M_sr_rest_cycles_q_RNO[10], sr_chain.M_sr_rest_cycles_q[10] }
ble_pack sr_chain.un1_M_sr_rest_cycles_q_1_2_c_RNO_LC_27_17_5 { sr_chain.un1_M_sr_rest_cycles_q_1_2_c_RNO }
ble_pack sr_chain.M_sr_rest_cycles_q_8_LC_27_17_6 { sr_chain.M_sr_rest_cycles_q_RNO[8], sr_chain.M_sr_rest_cycles_q[8] }
clb_pack LT_27_17 { sr_chain.un1_M_sr_rest_cycles_q_1_0_c_RNO_LC_27_17_0, sr_chain.M_sr_rest_cycles_q_1_LC_27_17_1, sr_chain.M_sr_rest_cycles_q_2_LC_27_17_2, sr_chain.M_sr_rest_cycles_q_3_LC_27_17_3, sr_chain.M_sr_rest_cycles_q_10_LC_27_17_4, sr_chain.un1_M_sr_rest_cycles_q_1_2_c_RNO_LC_27_17_5, sr_chain.M_sr_rest_cycles_q_8_LC_27_17_6 }
set_location LT_27_17 27 17
ble_pack sr_chain.un1_M_sr_rest_cycles_q_1_1_c_RNO_LC_27_18_0 { sr_chain.un1_M_sr_rest_cycles_q_1_1_c_RNO }
ble_pack sr_chain.M_sr_rest_cycles_q_4_LC_27_18_1 { sr_chain.M_sr_rest_cycles_q_RNO[4], sr_chain.M_sr_rest_cycles_q[4] }
ble_pack sr_chain.M_sr_rest_cycles_q_5_LC_27_18_2 { sr_chain.M_sr_rest_cycles_q_RNO[5], sr_chain.M_sr_rest_cycles_q[5] }
ble_pack sr_chain.M_sr_rest_cycles_q_24_LC_27_18_5 { sr_chain.M_sr_rest_cycles_q_RNO[24], sr_chain.M_sr_rest_cycles_q[24] }
ble_pack sr_chain.M_sr_rest_cycles_q_11_LC_27_18_6 { sr_chain.M_sr_rest_cycles_q_RNO[11], sr_chain.M_sr_rest_cycles_q[11] }
ble_pack sr_chain.M_sr_rest_cycles_q_12_LC_27_18_7 { sr_chain.M_sr_rest_cycles_q_RNO[12], sr_chain.M_sr_rest_cycles_q[12] }
clb_pack LT_27_18 { sr_chain.un1_M_sr_rest_cycles_q_1_1_c_RNO_LC_27_18_0, sr_chain.M_sr_rest_cycles_q_4_LC_27_18_1, sr_chain.M_sr_rest_cycles_q_5_LC_27_18_2, sr_chain.M_sr_rest_cycles_q_24_LC_27_18_5, sr_chain.M_sr_rest_cycles_q_11_LC_27_18_6, sr_chain.M_sr_rest_cycles_q_12_LC_27_18_7 }
set_location LT_27_18 27 18
ble_pack sr_chain.M_sr_rest_cycles_q_13_LC_27_19_0 { sr_chain.M_sr_rest_cycles_q_RNO[13], sr_chain.M_sr_rest_cycles_q[13] }
ble_pack sr_chain.M_sr_rest_cycles_q_14_LC_27_19_1 { sr_chain.M_sr_rest_cycles_q_RNO[14], sr_chain.M_sr_rest_cycles_q[14] }
ble_pack sr_chain.M_sr_rest_cycles_q_17_LC_27_19_3 { sr_chain.M_sr_rest_cycles_q_RNO[17], sr_chain.M_sr_rest_cycles_q[17] }
ble_pack sr_chain.M_sr_rest_cycles_q_6_LC_27_19_4 { sr_chain.M_sr_rest_cycles_q_RNO[6], sr_chain.M_sr_rest_cycles_q[6] }
ble_pack sr_chain.M_sr_rest_cycles_q_19_LC_27_19_5 { sr_chain.M_sr_rest_cycles_q_RNO[19], sr_chain.M_sr_rest_cycles_q[19] }
ble_pack sr_chain.M_sr_rest_cycles_q_18_LC_27_19_6 { sr_chain.M_sr_rest_cycles_q_RNO[18], sr_chain.M_sr_rest_cycles_q[18] }
ble_pack sr_chain.M_sr_rest_cycles_q_7_LC_27_19_7 { sr_chain.M_sr_rest_cycles_q_RNO[7], sr_chain.M_sr_rest_cycles_q[7] }
clb_pack LT_27_19 { sr_chain.M_sr_rest_cycles_q_13_LC_27_19_0, sr_chain.M_sr_rest_cycles_q_14_LC_27_19_1, sr_chain.M_sr_rest_cycles_q_17_LC_27_19_3, sr_chain.M_sr_rest_cycles_q_6_LC_27_19_4, sr_chain.M_sr_rest_cycles_q_19_LC_27_19_5, sr_chain.M_sr_rest_cycles_q_18_LC_27_19_6, sr_chain.M_sr_rest_cycles_q_7_LC_27_19_7 }
set_location LT_27_19 27 19
ble_pack sr_chain.M_sr_rest_cycles_q_23_LC_27_20_7 { sr_chain.M_sr_rest_cycles_q_RNO[23], sr_chain.M_sr_rest_cycles_q[23] }
clb_pack LT_27_20 { sr_chain.M_sr_rest_cycles_q_23_LC_27_20_7 }
set_location LT_27_20 27 20
ble_pack sr_chain.un1_M_sr_rest_cycles_q_1_6_c_RNIH9O82_LC_27_21_5 { sr_chain.un1_M_sr_rest_cycles_q_1_6_c_RNIH9O82 }
clb_pack LT_27_21 { sr_chain.un1_M_sr_rest_cycles_q_1_6_c_RNIH9O82_LC_27_21_5 }
set_location LT_27_21 27 21
ble_pack M_count_q_7_LC_28_14_1 { M_count_q_RNO[7], M_count_q[7] }
ble_pack M_count_q_RNIR63U_7_LC_28_14_2 { M_count_q_RNIR63U[7] }
ble_pack M_count_q_RNIQ53U_6_LC_28_14_3 { M_count_q_RNIQ53U[6] }
ble_pack M_count_q_RNIO33U_4_LC_28_14_4 { M_count_q_RNIO33U[4] }
ble_pack M_count_q_RNIP43U_5_LC_28_14_5 { M_count_q_RNIP43U[5] }
ble_pack sr_chain.M_sr_is_sending_q_RNI73BG_0_LC_28_14_6 { sr_chain.M_sr_is_sending_q_RNI73BG_0 }
ble_pack M_count_q_RNIKV2U_0_LC_28_14_7 { M_count_q_RNIKV2U[0] }
clb_pack LT_28_14 { M_count_q_7_LC_28_14_1, M_count_q_RNIR63U_7_LC_28_14_2, M_count_q_RNIQ53U_6_LC_28_14_3, M_count_q_RNIO33U_4_LC_28_14_4, M_count_q_RNIP43U_5_LC_28_14_5, sr_chain.M_sr_is_sending_q_RNI73BG_0_LC_28_14_6, M_count_q_RNIKV2U_0_LC_28_14_7 }
set_location LT_28_14 28 14
ble_pack sr_chain.M_sr_data_buffer_q_esr_1_LC_28_15_0 { sr_chain.M_sr_data_buffer_q_esr_RNO[1], sr_chain.M_sr_data_buffer_q_esr[1] }
ble_pack sr_chain.M_sr_data_buffer_q_esr_2_LC_28_15_1 { sr_chain.M_sr_data_buffer_q_esr_RNO[2], sr_chain.M_sr_data_buffer_q_esr[2] }
ble_pack sr_chain.M_sr_data_buffer_q_esr_3_LC_28_15_2 { sr_chain.M_sr_data_buffer_q_esr_RNO[3], sr_chain.M_sr_data_buffer_q_esr[3] }
ble_pack sr_chain.M_sr_data_buffer_q_esr_4_LC_28_15_3 { sr_chain.M_sr_data_buffer_q_esr_RNO[4], sr_chain.M_sr_data_buffer_q_esr[4] }
ble_pack sr_chain.M_sr_data_buffer_q_esr_5_LC_28_15_4 { sr_chain.M_sr_data_buffer_q_esr_RNO[5], sr_chain.M_sr_data_buffer_q_esr[5] }
ble_pack sr_chain.M_sr_data_buffer_q_esr_6_LC_28_15_5 { sr_chain.M_sr_data_buffer_q_esr_RNO[6], sr_chain.M_sr_data_buffer_q_esr[6] }
ble_pack sr_chain.M_sr_data_buffer_q_esr_7_LC_28_15_6 { sr_chain.M_sr_data_buffer_q_esr_RNO[7], sr_chain.M_sr_data_buffer_q_esr[7] }
clb_pack LT_28_15 { sr_chain.M_sr_data_buffer_q_esr_1_LC_28_15_0, sr_chain.M_sr_data_buffer_q_esr_2_LC_28_15_1, sr_chain.M_sr_data_buffer_q_esr_3_LC_28_15_2, sr_chain.M_sr_data_buffer_q_esr_4_LC_28_15_3, sr_chain.M_sr_data_buffer_q_esr_5_LC_28_15_4, sr_chain.M_sr_data_buffer_q_esr_6_LC_28_15_5, sr_chain.M_sr_data_buffer_q_esr_7_LC_28_15_6 }
set_location LT_28_15 28 15
ble_pack M_count_q_RNI2TQB1_1_LC_28_16_1 { M_count_q_RNI2TQB1[1] }
ble_pack M_count_q_RNIIR2L2_4_LC_28_16_2 { M_count_q_RNIIR2L2[4] }
ble_pack M_count_q_6_LC_28_16_3 { M_count_q_RNO[6], M_count_q[6] }
ble_pack M_count_q_4_LC_28_16_4 { M_count_q_RNO[4], M_count_q[4] }
ble_pack M_count_q_5_LC_28_16_5 { M_count_q_RNO[5], M_count_q[5] }
clb_pack LT_28_16 { M_count_q_RNI2TQB1_1_LC_28_16_1, M_count_q_RNIIR2L2_4_LC_28_16_2, M_count_q_6_LC_28_16_3, M_count_q_4_LC_28_16_4, M_count_q_5_LC_28_16_5 }
set_location LT_28_16 28 16
ble_pack sr_chain.un1_M_sr_rest_cycles_q_1_0_c_LC_28_17_0 { sr_chain.un1_M_sr_rest_cycles_q_1_0_c }
ble_pack sr_chain.un1_M_sr_rest_cycles_q_1_1_c_LC_28_17_1 { sr_chain.un1_M_sr_rest_cycles_q_1_1_c }
ble_pack sr_chain.un1_M_sr_rest_cycles_q_1_2_c_LC_28_17_2 { sr_chain.un1_M_sr_rest_cycles_q_1_2_c }
ble_pack sr_chain.un1_M_sr_rest_cycles_q_1_3_c_LC_28_17_3 { sr_chain.un1_M_sr_rest_cycles_q_1_3_c }
ble_pack sr_chain.un1_M_sr_rest_cycles_q_1_4_c_LC_28_17_4 { sr_chain.un1_M_sr_rest_cycles_q_1_4_c }
ble_pack sr_chain.un1_M_sr_rest_cycles_q_1_5_c_LC_28_17_5 { sr_chain.un1_M_sr_rest_cycles_q_1_5_c }
ble_pack sr_chain.un1_M_sr_rest_cycles_q_1_6_c_inv_LC_28_17_6 { sr_chain.un1_M_sr_rest_cycles_q_1_6_c_inv, sr_chain.un1_M_sr_rest_cycles_q_1_6_c }
ble_pack sr_chain_un1_M_sr_rest_cycles_q_1_6_THRU_LUT4_0_LC_28_17_7 { sr_chain_un1_M_sr_rest_cycles_q_1_6_THRU_LUT4_0 }
clb_pack LT_28_17 { sr_chain.un1_M_sr_rest_cycles_q_1_0_c_LC_28_17_0, sr_chain.un1_M_sr_rest_cycles_q_1_1_c_LC_28_17_1, sr_chain.un1_M_sr_rest_cycles_q_1_2_c_LC_28_17_2, sr_chain.un1_M_sr_rest_cycles_q_1_3_c_LC_28_17_3, sr_chain.un1_M_sr_rest_cycles_q_1_4_c_LC_28_17_4, sr_chain.un1_M_sr_rest_cycles_q_1_5_c_LC_28_17_5, sr_chain.un1_M_sr_rest_cycles_q_1_6_c_inv_LC_28_17_6, sr_chain_un1_M_sr_rest_cycles_q_1_6_THRU_LUT4_0_LC_28_17_7 }
set_location LT_28_17 28 17
ble_pack sr_chain.un1_M_sr_rest_cycles_q_1_3_c_RNO_LC_28_18_0 { sr_chain.un1_M_sr_rest_cycles_q_1_3_c_RNO }
ble_pack sr_chain.M_sr_rest_cycles_q_15_LC_28_18_1 { sr_chain.M_sr_rest_cycles_q_RNO[15], sr_chain.M_sr_rest_cycles_q[15] }
ble_pack sr_chain.M_sr_rest_cycles_q_16_LC_28_18_4 { sr_chain.M_sr_rest_cycles_q_RNO[16], sr_chain.M_sr_rest_cycles_q[16] }
ble_pack sr_chain.un1_M_sr_rest_cycles_q_1_4_c_RNO_LC_28_18_5 { sr_chain.un1_M_sr_rest_cycles_q_1_4_c_RNO }
clb_pack LT_28_18 { sr_chain.un1_M_sr_rest_cycles_q_1_3_c_RNO_LC_28_18_0, sr_chain.M_sr_rest_cycles_q_15_LC_28_18_1, sr_chain.M_sr_rest_cycles_q_16_LC_28_18_4, sr_chain.un1_M_sr_rest_cycles_q_1_4_c_RNO_LC_28_18_5 }
set_location LT_28_18 28 18
ble_pack sr_chain.un1_M_sr_rest_cycles_q_1_5_c_RNO_LC_28_19_0 { sr_chain.un1_M_sr_rest_cycles_q_1_5_c_RNO }
ble_pack sr_chain.un1_M_sr_rest_cycles_q_1_6_c_RNIFAS5_LC_28_19_6 { sr_chain.un1_M_sr_rest_cycles_q_1_6_c_RNIFAS5 }
clb_pack LT_28_19 { sr_chain.un1_M_sr_rest_cycles_q_1_5_c_RNO_LC_28_19_0, sr_chain.un1_M_sr_rest_cycles_q_1_6_c_RNIFAS5_LC_28_19_6 }
set_location LT_28_19 28 19
ble_pack sr_chain.M_sr_rest_cycles_q_22_LC_28_20_2 { sr_chain.M_sr_rest_cycles_q_RNO[22], sr_chain.M_sr_rest_cycles_q[22] }
ble_pack sr_chain.M_sr_rest_cycles_q_20_LC_28_20_4 { sr_chain.M_sr_rest_cycles_q_RNO[20], sr_chain.M_sr_rest_cycles_q[20] }
ble_pack sr_chain.M_sr_rest_cycles_q_21_LC_28_20_6 { sr_chain.M_sr_rest_cycles_q_RNO[21], sr_chain.M_sr_rest_cycles_q[21] }
clb_pack LT_28_20 { sr_chain.M_sr_rest_cycles_q_22_LC_28_20_2, sr_chain.M_sr_rest_cycles_q_20_LC_28_20_4, sr_chain.M_sr_rest_cycles_q_21_LC_28_20_6 }
set_location LT_28_20 28 20
ble_pack M_count_q_RNIL03U_1_LC_29_14_1 { M_count_q_RNIL03U[1] }
ble_pack M_count_q_RNIM13U_2_LC_29_14_4 { M_count_q_RNIM13U[2] }
ble_pack M_count_q_RNIN23U_3_LC_29_14_5 { M_count_q_RNIN23U[3] }
clb_pack LT_29_14 { M_count_q_RNIL03U_1_LC_29_14_1, M_count_q_RNIM13U_2_LC_29_14_4, M_count_q_RNIN23U_3_LC_29_14_5 }
set_location LT_29_14 29 14
ble_pack sr_chain.M_main_clock_count_d8_4_c_RNO_LC_29_15_0 { sr_chain.M_main_clock_count_d8_4_c_RNO }
ble_pack sr_chain.M_sr_clock_count_q_RNIL1D81_1_LC_29_15_1 { sr_chain.M_sr_clock_count_q_RNIL1D81[1] }
ble_pack sr_chain.M_sr_clock_count_q_2_LC_29_15_2 { sr_chain.M_sr_clock_count_q_RNO[2], sr_chain.M_sr_clock_count_q[2] }
ble_pack sr_chain.M_main_clock_count_d8_3_c_RNO_LC_29_15_3 { sr_chain.M_main_clock_count_d8_3_c_RNO }
ble_pack sr_chain.M_sr_clock_count_q_1_LC_29_15_4 { sr_chain.M_sr_clock_count_q_RNO[1], sr_chain.M_sr_clock_count_q[1] }
ble_pack sr_chain.M_sr_clock_count_q_RNI74IL_3_LC_29_15_5 { sr_chain.M_sr_clock_count_q_RNI74IL[3] }
ble_pack sr_chain.M_sr_clock_count_q_RNIV7TL1_1_LC_29_15_6 { sr_chain.M_sr_clock_count_q_RNIV7TL1[1] }
ble_pack sr_chain.M_sr_clock_count_q_0_LC_29_15_7 { sr_chain.M_sr_clock_count_q_RNO[0], sr_chain.M_sr_clock_count_q[0] }
clb_pack LT_29_15 { sr_chain.M_main_clock_count_d8_4_c_RNO_LC_29_15_0, sr_chain.M_sr_clock_count_q_RNIL1D81_1_LC_29_15_1, sr_chain.M_sr_clock_count_q_2_LC_29_15_2, sr_chain.M_main_clock_count_d8_3_c_RNO_LC_29_15_3, sr_chain.M_sr_clock_count_q_1_LC_29_15_4, sr_chain.M_sr_clock_count_q_RNI74IL_3_LC_29_15_5, sr_chain.M_sr_clock_count_q_RNIV7TL1_1_LC_29_15_6, sr_chain.M_sr_clock_count_q_0_LC_29_15_7 }
set_location LT_29_15 29 15
ble_pack sr_chain.M_main_clock_count_d8_6_c_RNIIHTA1_LC_29_16_1 { sr_chain.M_main_clock_count_d8_6_c_RNIIHTA1 }
ble_pack sr_chain.M_sr_data_buffer_q_0_LC_29_16_3 { sr_chain.M_sr_data_buffer_q_RNO[0], sr_chain.M_sr_data_buffer_q[0] }
ble_pack sr_chain.M_sr_is_sending_q_LC_29_16_4 { sr_chain.M_sr_is_sending_q_RNO, sr_chain.M_sr_is_sending_q }
ble_pack sr_chain.M_sr_is_sending_q_RNI73BG_LC_29_16_5 { sr_chain.M_sr_is_sending_q_RNI73BG }
clb_pack LT_29_16 { sr_chain.M_main_clock_count_d8_6_c_RNIIHTA1_LC_29_16_1, sr_chain.M_sr_data_buffer_q_0_LC_29_16_3, sr_chain.M_sr_is_sending_q_LC_29_16_4, sr_chain.M_sr_is_sending_q_RNI73BG_LC_29_16_5 }
set_location LT_29_16 29 16
ble_pack sr_chain.M_main_clock_count_d8_6_c_RNI31KT_LC_29_17_0 { sr_chain.M_main_clock_count_d8_6_c_RNI31KT }
ble_pack sr_chain.M_main_clock_count_d8_1_c_RNO_LC_29_17_1 { sr_chain.M_main_clock_count_d8_1_c_RNO }
ble_pack sr_chain.M_sr_is_sending_q_RNIMJKT_LC_29_17_2 { sr_chain.M_sr_is_sending_q_RNIMJKT }
ble_pack sr_chain.M_main_clock_count_d8_0_c_RNO_LC_29_17_3 { sr_chain.M_main_clock_count_d8_0_c_RNO }
ble_pack sr_chain.M_main_clock_count_d8_6_c_RNII1RI_LC_29_17_4 { sr_chain.M_main_clock_count_d8_6_c_RNII1RI }
ble_pack sr_chain.M_main_clock_count_d8_6_c_RNI1I401_LC_29_17_5 { sr_chain.M_main_clock_count_d8_6_c_RNI1I401 }
ble_pack sr_chain.M_main_clock_count_d8_5_c_RNO_LC_29_17_6 { sr_chain.M_main_clock_count_d8_5_c_RNO }
ble_pack sr_chain.M_main_clock_count_d8_2_c_RNO_LC_29_17_7 { sr_chain.M_main_clock_count_d8_2_c_RNO }
clb_pack LT_29_17 { sr_chain.M_main_clock_count_d8_6_c_RNI31KT_LC_29_17_0, sr_chain.M_main_clock_count_d8_1_c_RNO_LC_29_17_1, sr_chain.M_sr_is_sending_q_RNIMJKT_LC_29_17_2, sr_chain.M_main_clock_count_d8_0_c_RNO_LC_29_17_3, sr_chain.M_main_clock_count_d8_6_c_RNII1RI_LC_29_17_4, sr_chain.M_main_clock_count_d8_6_c_RNI1I401_LC_29_17_5, sr_chain.M_main_clock_count_d8_5_c_RNO_LC_29_17_6, sr_chain.M_main_clock_count_d8_2_c_RNO_LC_29_17_7 }
set_location LT_29_17 29 17
ble_pack sr_chain.M_main_clock_count_d8_0_c_LC_29_18_0 { sr_chain.M_main_clock_count_d8_0_c }
ble_pack sr_chain.M_main_clock_count_d8_1_c_LC_29_18_1 { sr_chain.M_main_clock_count_d8_1_c }
ble_pack sr_chain.M_main_clock_count_d8_2_c_LC_29_18_2 { sr_chain.M_main_clock_count_d8_2_c }
ble_pack sr_chain.M_main_clock_count_d8_3_c_LC_29_18_3 { sr_chain.M_main_clock_count_d8_3_c }
ble_pack sr_chain.M_main_clock_count_d8_4_c_LC_29_18_4 { sr_chain.M_main_clock_count_d8_4_c }
ble_pack sr_chain.M_main_clock_count_d8_5_c_LC_29_18_5 { sr_chain.M_main_clock_count_d8_5_c }
ble_pack sr_chain.M_main_clock_count_d8_6_c_inv_LC_29_18_6 { sr_chain.M_main_clock_count_d8_6_c_inv, sr_chain.M_main_clock_count_d8_6_c }
ble_pack sr_chain.M_main_clock_count_d8_THRU_LUT4_0_LC_29_18_7 { sr_chain.M_main_clock_count_d8_THRU_LUT4_0 }
clb_pack LT_29_18 { sr_chain.M_main_clock_count_d8_0_c_LC_29_18_0, sr_chain.M_main_clock_count_d8_1_c_LC_29_18_1, sr_chain.M_main_clock_count_d8_2_c_LC_29_18_2, sr_chain.M_main_clock_count_d8_3_c_LC_29_18_3, sr_chain.M_main_clock_count_d8_4_c_LC_29_18_4, sr_chain.M_main_clock_count_d8_5_c_LC_29_18_5, sr_chain.M_main_clock_count_d8_6_c_inv_LC_29_18_6, sr_chain.M_main_clock_count_d8_THRU_LUT4_0_LC_29_18_7 }
set_location LT_29_18 29 18
ble_pack sr_chain.M_sr_bit_q_RNO_0_LC_29_19_0 { sr_chain.M_sr_bit_q_RNO_0 }
ble_pack sr_chain.M_main_clock_count_d8_6_c_RNI2VR22_LC_29_19_4 { sr_chain.M_main_clock_count_d8_6_c_RNI2VR22 }
ble_pack sr_chain.M_main_clock_count_d8_6_c_RNIPG9U1_LC_29_19_5 { sr_chain.M_main_clock_count_d8_6_c_RNIPG9U1 }
ble_pack sr_chain.M_sr_clock_count_q_RNIHJDP2_0_LC_29_19_6 { sr_chain.M_sr_clock_count_q_RNIHJDP2[0] }
clb_pack LT_29_19 { sr_chain.M_sr_bit_q_RNO_0_LC_29_19_0, sr_chain.M_main_clock_count_d8_6_c_RNI2VR22_LC_29_19_4, sr_chain.M_main_clock_count_d8_6_c_RNIPG9U1_LC_29_19_5, sr_chain.M_sr_clock_count_q_RNIHJDP2_0_LC_29_19_6 }
set_location LT_29_19 29 19
ble_pack sr_chain.M_sr_clock_count_q_4_LC_30_14_0 { sr_chain.M_sr_clock_count_q_RNO[4], sr_chain.M_sr_clock_count_q[4] }
ble_pack sr_chain.M_sr_clock_count_q_3_LC_30_14_1 { sr_chain.M_sr_clock_count_q_RNO[3], sr_chain.M_sr_clock_count_q[3] }
clb_pack LT_30_14 { sr_chain.M_sr_clock_count_q_4_LC_30_14_0, sr_chain.M_sr_clock_count_q_3_LC_30_14_1 }
set_location LT_30_14 30 14
ble_pack sr_chain.M_main_clock_count_q_0_LC_30_15_0 { sr_chain.M_main_clock_count_q_RNO[0], sr_chain.M_main_clock_count_q[0], sr_chain.un1_M_main_clock_count_q_1_cry_0_c }
ble_pack sr_chain.M_main_clock_count_q_1_LC_30_15_1 { sr_chain.M_main_clock_count_q_RNO[1], sr_chain.M_main_clock_count_q[1], sr_chain.un1_M_main_clock_count_q_1_cry_1_c }
ble_pack sr_chain.M_main_clock_count_q_2_LC_30_15_2 { sr_chain.M_main_clock_count_q_RNO[2], sr_chain.M_main_clock_count_q[2], sr_chain.un1_M_main_clock_count_q_1_cry_2_c }
ble_pack sr_chain.M_main_clock_count_q_3_LC_30_15_3 { sr_chain.M_main_clock_count_q_RNO[3], sr_chain.M_main_clock_count_q[3], sr_chain.un1_M_main_clock_count_q_1_cry_3_c }
ble_pack sr_chain.M_main_clock_count_q_4_LC_30_15_4 { sr_chain.M_main_clock_count_q_RNO[4], sr_chain.M_main_clock_count_q[4], sr_chain.un1_M_main_clock_count_q_1_cry_4_c }
ble_pack sr_chain.M_main_clock_count_q_5_LC_30_15_5 { sr_chain.M_main_clock_count_q_RNO[5], sr_chain.M_main_clock_count_q[5], sr_chain.un1_M_main_clock_count_q_1_cry_5_c }
ble_pack sr_chain.M_main_clock_count_q_6_LC_30_15_6 { sr_chain.M_main_clock_count_q_RNO[6], sr_chain.M_main_clock_count_q[6], sr_chain.un1_M_main_clock_count_q_1_cry_6_c }
ble_pack sr_chain.M_main_clock_count_q_7_LC_30_15_7 { sr_chain.M_main_clock_count_q_RNO[7], sr_chain.M_main_clock_count_q[7], sr_chain.un1_M_main_clock_count_q_1_cry_7_c }
clb_pack LT_30_15 { sr_chain.M_main_clock_count_q_0_LC_30_15_0, sr_chain.M_main_clock_count_q_1_LC_30_15_1, sr_chain.M_main_clock_count_q_2_LC_30_15_2, sr_chain.M_main_clock_count_q_3_LC_30_15_3, sr_chain.M_main_clock_count_q_4_LC_30_15_4, sr_chain.M_main_clock_count_q_5_LC_30_15_5, sr_chain.M_main_clock_count_q_6_LC_30_15_6, sr_chain.M_main_clock_count_q_7_LC_30_15_7 }
set_location LT_30_15 30 15
ble_pack sr_chain.M_main_clock_count_q_8_LC_30_16_0 { sr_chain.M_main_clock_count_q_RNO[8], sr_chain.M_main_clock_count_q[8], sr_chain.un1_M_main_clock_count_q_1_cry_8_c }
ble_pack sr_chain.M_main_clock_count_q_9_LC_30_16_1 { sr_chain.M_main_clock_count_q_RNO[9], sr_chain.M_main_clock_count_q[9], sr_chain.un1_M_main_clock_count_q_1_cry_9_c }
ble_pack sr_chain.M_main_clock_count_q_10_LC_30_16_2 { sr_chain.M_main_clock_count_q_RNO[10], sr_chain.M_main_clock_count_q[10], sr_chain.un1_M_main_clock_count_q_1_cry_10_c }
ble_pack sr_chain.M_main_clock_count_q_11_LC_30_16_3 { sr_chain.M_main_clock_count_q_RNO[11], sr_chain.M_main_clock_count_q[11], sr_chain.un1_M_main_clock_count_q_1_cry_11_c }
ble_pack sr_chain.M_main_clock_count_q_12_LC_30_16_4 { sr_chain.M_main_clock_count_q_RNO[12], sr_chain.M_main_clock_count_q[12], sr_chain.un1_M_main_clock_count_q_1_cry_12_c }
ble_pack sr_chain.M_main_clock_count_q_13_LC_30_16_5 { sr_chain.M_main_clock_count_q_RNO[13], sr_chain.M_main_clock_count_q[13], sr_chain.un1_M_main_clock_count_q_1_cry_13_c }
ble_pack sr_chain.M_main_clock_count_q_14_LC_30_16_6 { sr_chain.M_main_clock_count_q_RNO[14], sr_chain.M_main_clock_count_q[14], sr_chain.un1_M_main_clock_count_q_1_cry_14_c }
ble_pack sr_chain.M_main_clock_count_q_15_LC_30_16_7 { sr_chain.M_main_clock_count_q_RNO[15], sr_chain.M_main_clock_count_q[15], sr_chain.un1_M_main_clock_count_q_1_cry_15_c }
clb_pack LT_30_16 { sr_chain.M_main_clock_count_q_8_LC_30_16_0, sr_chain.M_main_clock_count_q_9_LC_30_16_1, sr_chain.M_main_clock_count_q_10_LC_30_16_2, sr_chain.M_main_clock_count_q_11_LC_30_16_3, sr_chain.M_main_clock_count_q_12_LC_30_16_4, sr_chain.M_main_clock_count_q_13_LC_30_16_5, sr_chain.M_main_clock_count_q_14_LC_30_16_6, sr_chain.M_main_clock_count_q_15_LC_30_16_7 }
set_location LT_30_16 30 16
ble_pack sr_chain.M_main_clock_count_q_16_LC_30_17_0 { sr_chain.M_main_clock_count_q_RNO[16], sr_chain.M_main_clock_count_q[16], sr_chain.un1_M_main_clock_count_q_1_cry_16_c }
ble_pack sr_chain.M_main_clock_count_q_17_LC_30_17_1 { sr_chain.M_main_clock_count_q_RNO[17], sr_chain.M_main_clock_count_q[17], sr_chain.un1_M_main_clock_count_q_1_cry_17_c }
ble_pack sr_chain.M_main_clock_count_q_18_LC_30_17_2 { sr_chain.M_main_clock_count_q_RNO[18], sr_chain.M_main_clock_count_q[18], sr_chain.un1_M_main_clock_count_q_1_cry_18_c }
ble_pack sr_chain.M_main_clock_count_q_19_LC_30_17_3 { sr_chain.M_main_clock_count_q_RNO[19], sr_chain.M_main_clock_count_q[19], sr_chain.un1_M_main_clock_count_q_1_cry_19_c }
ble_pack sr_chain.M_main_clock_count_q_20_LC_30_17_4 { sr_chain.M_main_clock_count_q_RNO[20], sr_chain.M_main_clock_count_q[20], sr_chain.un1_M_main_clock_count_q_1_cry_20_c }
ble_pack sr_chain.M_main_clock_count_q_21_LC_30_17_5 { sr_chain.M_main_clock_count_q_RNO[21], sr_chain.M_main_clock_count_q[21], sr_chain.un1_M_main_clock_count_q_1_cry_21_c }
ble_pack sr_chain.M_main_clock_count_q_22_LC_30_17_6 { sr_chain.M_main_clock_count_q_RNO[22], sr_chain.M_main_clock_count_q[22], sr_chain.un1_M_main_clock_count_q_1_cry_22_c }
ble_pack sr_chain.M_main_clock_count_q_23_LC_30_17_7 { sr_chain.M_main_clock_count_q_RNO[23], sr_chain.M_main_clock_count_q[23], sr_chain.un1_M_main_clock_count_q_1_cry_23_c }
clb_pack LT_30_17 { sr_chain.M_main_clock_count_q_16_LC_30_17_0, sr_chain.M_main_clock_count_q_17_LC_30_17_1, sr_chain.M_main_clock_count_q_18_LC_30_17_2, sr_chain.M_main_clock_count_q_19_LC_30_17_3, sr_chain.M_main_clock_count_q_20_LC_30_17_4, sr_chain.M_main_clock_count_q_21_LC_30_17_5, sr_chain.M_main_clock_count_q_22_LC_30_17_6, sr_chain.M_main_clock_count_q_23_LC_30_17_7 }
set_location LT_30_17 30 17
ble_pack sr_chain.M_main_clock_count_q_24_LC_30_18_0 { sr_chain.M_main_clock_count_q_RNO[24], sr_chain.M_main_clock_count_q[24] }
clb_pack LT_30_18 { sr_chain.M_main_clock_count_q_24_LC_30_18_0 }
set_location LT_30_18 30 18
ble_pack sr_chain.M_sr_bit_q_LC_30_19_3 { sr_chain.M_sr_bit_q_RNO, sr_chain.M_sr_bit_q }
clb_pack LT_30_19 { sr_chain.M_sr_bit_q_LC_30_19_3 }
set_location LT_30_19 30 19
ble_pack sr_chain.M_sr_bit_q_RNO_1_LC_31_15_6 { sr_chain.M_sr_bit_q_RNO_1 }
clb_pack LT_31_15 { sr_chain.M_sr_bit_q_RNO_1_LC_31_15_6 }
set_location LT_31_15 31 15
set_location sr_chain.M_main_clock_count_d8_6_c_RNI1I401_0 33 17
set_location reset_cond.M_stage_q_RNIFG9D[3] 16 33
set_io sr_latch D4
set_io sr_data G4
set_io sr_clk D1
set_io rst_n P8
set_io clk P7
