set_location M_count_q_RNI0H5P2[1] 17 25 3 # SB_LUT4 (LogicCell: M_count_q_RNI0H5P2[1]_LC_0)
set_location M_count_q_RNI2B741[0] 18 24 4 # SB_LUT4 (LogicCell: M_count_q_RNI2B741[0]_LC_1)
set_location M_count_q_RNIF6FD2[1] 18 25 3 # SB_LUT4 (LogicCell: M_count_q_RNIF6FD2[1]_LC_2)
set_location M_count_q_RNIGFD24[4] 17 25 6 # SB_LUT4 (LogicCell: M_count_q_RNIGFD24[4]_LC_3)
set_location M_count_q_RNITRFR[3] 18 25 2 # SB_LUT4 (LogicCell: M_count_q_RNITRFR[3]_LC_4)
set_location M_count_q_RNO[0] 18 25 6 # SB_LUT4 (LogicCell: M_count_q[0]_LC_5)
set_location M_count_q[0] 18 25 6 # SB_DFFSR (LogicCell: M_count_q[0]_LC_5)
set_location M_count_q_RNO_0[7] 16 26 6 # SB_LUT4 (LogicCell: M_count_q_RNO_0[7]_LC_6)
set_location M_count_q_RNO[1] 18 25 0 # SB_LUT4 (LogicCell: M_count_q[1]_LC_7)
set_location M_count_q[1] 18 25 0 # SB_DFFSR (LogicCell: M_count_q[1]_LC_7)
set_location M_count_q_RNO[2] 16 25 6 # SB_LUT4 (LogicCell: M_count_q[2]_LC_8)
set_location M_count_q[2] 16 25 6 # SB_DFFSR (LogicCell: M_count_q[2]_LC_8)
set_location M_count_q_RNO[3] 17 25 4 # SB_LUT4 (LogicCell: M_count_q[3]_LC_9)
set_location M_count_q[3] 17 25 4 # SB_DFFSR (LogicCell: M_count_q[3]_LC_9)
set_location M_count_q_RNO[4] 18 25 4 # SB_LUT4 (LogicCell: M_count_q[4]_LC_10)
set_location M_count_q[4] 18 25 4 # SB_DFFSR (LogicCell: M_count_q[4]_LC_10)
set_location M_count_q_RNO[5] 16 25 1 # SB_LUT4 (LogicCell: M_count_q[5]_LC_11)
set_location M_count_q[5] 16 25 1 # SB_DFFSR (LogicCell: M_count_q[5]_LC_11)
set_location M_count_q_RNO[6] 17 25 7 # SB_LUT4 (LogicCell: M_count_q[6]_LC_12)
set_location M_count_q[6] 17 25 7 # SB_DFFSR (LogicCell: M_count_q[6]_LC_12)
set_location M_count_q_RNO[7] 16 25 2 # SB_LUT4 (LogicCell: M_count_q[7]_LC_13)
set_location M_count_q[7] 16 25 2 # SB_DFFSR (LogicCell: M_count_q[7]_LC_13)
set_location btn_cond.M_ctr_q_RNIA1N2_0[19] 17 28 5 # SB_LUT4 (LogicCell: btn_cond.M_ctr_q_RNIA1N2_0[19]_LC_14)
set_location btn_cond.M_ctr_q_RNIA1N2[19] 17 28 6 # SB_LUT4 (LogicCell: btn_cond.M_ctr_q_RNIA1N2[19]_LC_15)
set_location btn_cond.M_ctr_q_RNIB6B1[12] 17 28 1 # SB_LUT4 (LogicCell: btn_cond.M_ctr_q_RNIB6B1[12]_LC_16)
set_location btn_cond.M_ctr_q_RNICJ341[14] 17 28 4 # SB_LUT4 (LogicCell: btn_cond.M_ctr_q_RNICJ341[14]_LC_17)
set_location btn_cond.M_ctr_q_RNICJ341[19] 17 24 1 # SB_LUT4 (LogicCell: btn_cond.M_ctr_q_RNICJ341[19]_LC_18)
set_location btn_cond.M_ctr_q_RNIE6NB[0] 17 26 3 # SB_LUT4 (LogicCell: btn_cond.M_ctr_q_RNIE6NB[0]_LC_19)
set_location btn_cond.M_ctr_q_RNIE6NB_0[0] 17 27 2 # SB_LUT4 (LogicCell: btn_cond.M_ctr_q_RNIE6NB_0[0]_LC_20)
set_location btn_cond.M_ctr_q_RNIKBLL[10] 17 26 7 # SB_LUT4 (LogicCell: btn_cond.M_ctr_q_RNIKBLL[10]_LC_21)
set_location btn_cond.M_ctr_q_RNIMKT9[14] 17 28 3 # SB_LUT4 (LogicCell: btn_cond.M_ctr_q_RNIMKT9[14]_LC_22)
set_location btn_cond.M_ctr_q_RNIQGM2[12] 17 27 0 # SB_LUT4 (LogicCell: btn_cond.M_ctr_q_RNIQGM2[12]_LC_23)
set_location btn_cond.M_ctr_q_RNIS377_0[10] 17 28 2 # SB_LUT4 (LogicCell: btn_cond.M_ctr_q_RNIS377_0[10]_LC_24)
set_location btn_cond.M_ctr_q_RNIS377[10] 17 27 1 # SB_LUT4 (LogicCell: btn_cond.M_ctr_q_RNIS377[10]_LC_25)
set_location btn_cond.M_ctr_q_RNIUMNB_0[4] 17 27 3 # SB_LUT4 (LogicCell: btn_cond.M_ctr_q_RNIUMNB_0[4]_LC_26)
set_location btn_cond.M_ctr_q_RNIUMNB[4] 17 26 6 # SB_LUT4 (LogicCell: btn_cond.M_ctr_q_RNIUMNB[4]_LC_27)
set_location btn_cond.M_ctr_q_RNO[0] 18 27 0 # SB_LUT4 (LogicCell: btn_cond.M_ctr_q[0]_LC_28)
set_location btn_cond.M_ctr_q[0] 18 27 0 # SB_DFFSR (LogicCell: btn_cond.M_ctr_q[0]_LC_28)
set_location btn_cond.un1_M_ctr_q_cry_0_c 18 27 0 # SB_CARRY (LogicCell: btn_cond.M_ctr_q[0]_LC_28)
set_location btn_cond.M_ctr_q_RNO[1] 18 27 1 # SB_LUT4 (LogicCell: btn_cond.M_ctr_q[1]_LC_29)
set_location btn_cond.M_ctr_q[1] 18 27 1 # SB_DFFSR (LogicCell: btn_cond.M_ctr_q[1]_LC_29)
set_location btn_cond.un1_M_ctr_q_cry_1_c 18 27 1 # SB_CARRY (LogicCell: btn_cond.M_ctr_q[1]_LC_29)
set_location btn_cond.M_ctr_q_RNO[10] 18 28 2 # SB_LUT4 (LogicCell: btn_cond.M_ctr_q[10]_LC_30)
set_location btn_cond.M_ctr_q[10] 18 28 2 # SB_DFFSR (LogicCell: btn_cond.M_ctr_q[10]_LC_30)
set_location btn_cond.un1_M_ctr_q_cry_10_c 18 28 2 # SB_CARRY (LogicCell: btn_cond.M_ctr_q[10]_LC_30)
set_location btn_cond.M_ctr_q_RNO[11] 18 28 3 # SB_LUT4 (LogicCell: btn_cond.M_ctr_q[11]_LC_31)
set_location btn_cond.M_ctr_q[11] 18 28 3 # SB_DFFSR (LogicCell: btn_cond.M_ctr_q[11]_LC_31)
set_location btn_cond.un1_M_ctr_q_cry_11_c 18 28 3 # SB_CARRY (LogicCell: btn_cond.M_ctr_q[11]_LC_31)
set_location btn_cond.M_ctr_q_RNO[12] 18 28 4 # SB_LUT4 (LogicCell: btn_cond.M_ctr_q[12]_LC_32)
set_location btn_cond.M_ctr_q[12] 18 28 4 # SB_DFFSR (LogicCell: btn_cond.M_ctr_q[12]_LC_32)
set_location btn_cond.un1_M_ctr_q_cry_12_c 18 28 4 # SB_CARRY (LogicCell: btn_cond.M_ctr_q[12]_LC_32)
set_location btn_cond.M_ctr_q_RNO[13] 18 28 5 # SB_LUT4 (LogicCell: btn_cond.M_ctr_q[13]_LC_33)
set_location btn_cond.M_ctr_q[13] 18 28 5 # SB_DFFSR (LogicCell: btn_cond.M_ctr_q[13]_LC_33)
set_location btn_cond.un1_M_ctr_q_cry_13_c 18 28 5 # SB_CARRY (LogicCell: btn_cond.M_ctr_q[13]_LC_33)
set_location btn_cond.M_ctr_q_RNO[14] 18 28 6 # SB_LUT4 (LogicCell: btn_cond.M_ctr_q[14]_LC_34)
set_location btn_cond.M_ctr_q[14] 18 28 6 # SB_DFFSR (LogicCell: btn_cond.M_ctr_q[14]_LC_34)
set_location btn_cond.un1_M_ctr_q_cry_14_c 18 28 6 # SB_CARRY (LogicCell: btn_cond.M_ctr_q[14]_LC_34)
set_location btn_cond.M_ctr_q_RNO[15] 18 28 7 # SB_LUT4 (LogicCell: btn_cond.M_ctr_q[15]_LC_35)
set_location btn_cond.M_ctr_q[15] 18 28 7 # SB_DFFSR (LogicCell: btn_cond.M_ctr_q[15]_LC_35)
set_location btn_cond.un1_M_ctr_q_cry_15_c 18 28 7 # SB_CARRY (LogicCell: btn_cond.M_ctr_q[15]_LC_35)
set_location btn_cond.M_ctr_q_RNO[16] 18 29 0 # SB_LUT4 (LogicCell: btn_cond.M_ctr_q[16]_LC_36)
set_location btn_cond.M_ctr_q[16] 18 29 0 # SB_DFFSR (LogicCell: btn_cond.M_ctr_q[16]_LC_36)
set_location btn_cond.un1_M_ctr_q_cry_16_c 18 29 0 # SB_CARRY (LogicCell: btn_cond.M_ctr_q[16]_LC_36)
set_location btn_cond.M_ctr_q_RNO[17] 18 29 1 # SB_LUT4 (LogicCell: btn_cond.M_ctr_q[17]_LC_37)
set_location btn_cond.M_ctr_q[17] 18 29 1 # SB_DFFSR (LogicCell: btn_cond.M_ctr_q[17]_LC_37)
set_location btn_cond.un1_M_ctr_q_cry_17_c 18 29 1 # SB_CARRY (LogicCell: btn_cond.M_ctr_q[17]_LC_37)
set_location btn_cond.M_ctr_q_RNO[18] 18 29 2 # SB_LUT4 (LogicCell: btn_cond.M_ctr_q[18]_LC_38)
set_location btn_cond.M_ctr_q[18] 18 29 2 # SB_DFFSR (LogicCell: btn_cond.M_ctr_q[18]_LC_38)
set_location btn_cond.un1_M_ctr_q_cry_18_c 18 29 2 # SB_CARRY (LogicCell: btn_cond.M_ctr_q[18]_LC_38)
set_location btn_cond.M_ctr_q_RNO[19] 18 29 3 # SB_LUT4 (LogicCell: btn_cond.M_ctr_q[19]_LC_39)
set_location btn_cond.M_ctr_q[19] 18 29 3 # SB_DFFSR (LogicCell: btn_cond.M_ctr_q[19]_LC_39)
set_location btn_cond.M_ctr_q_RNO[2] 18 27 2 # SB_LUT4 (LogicCell: btn_cond.M_ctr_q[2]_LC_40)
set_location btn_cond.M_ctr_q[2] 18 27 2 # SB_DFFSR (LogicCell: btn_cond.M_ctr_q[2]_LC_40)
set_location btn_cond.un1_M_ctr_q_cry_2_c 18 27 2 # SB_CARRY (LogicCell: btn_cond.M_ctr_q[2]_LC_40)
set_location btn_cond.M_ctr_q_RNO[3] 18 27 3 # SB_LUT4 (LogicCell: btn_cond.M_ctr_q[3]_LC_41)
set_location btn_cond.M_ctr_q[3] 18 27 3 # SB_DFFSR (LogicCell: btn_cond.M_ctr_q[3]_LC_41)
set_location btn_cond.un1_M_ctr_q_cry_3_c 18 27 3 # SB_CARRY (LogicCell: btn_cond.M_ctr_q[3]_LC_41)
set_location btn_cond.M_ctr_q_RNO[4] 18 27 4 # SB_LUT4 (LogicCell: btn_cond.M_ctr_q[4]_LC_42)
set_location btn_cond.M_ctr_q[4] 18 27 4 # SB_DFFSR (LogicCell: btn_cond.M_ctr_q[4]_LC_42)
set_location btn_cond.un1_M_ctr_q_cry_4_c 18 27 4 # SB_CARRY (LogicCell: btn_cond.M_ctr_q[4]_LC_42)
set_location btn_cond.M_ctr_q_RNO[5] 18 27 5 # SB_LUT4 (LogicCell: btn_cond.M_ctr_q[5]_LC_43)
set_location btn_cond.M_ctr_q[5] 18 27 5 # SB_DFFSR (LogicCell: btn_cond.M_ctr_q[5]_LC_43)
set_location btn_cond.un1_M_ctr_q_cry_5_c 18 27 5 # SB_CARRY (LogicCell: btn_cond.M_ctr_q[5]_LC_43)
set_location btn_cond.M_ctr_q_RNO[6] 18 27 6 # SB_LUT4 (LogicCell: btn_cond.M_ctr_q[6]_LC_44)
set_location btn_cond.M_ctr_q[6] 18 27 6 # SB_DFFSR (LogicCell: btn_cond.M_ctr_q[6]_LC_44)
set_location btn_cond.un1_M_ctr_q_cry_6_c 18 27 6 # SB_CARRY (LogicCell: btn_cond.M_ctr_q[6]_LC_44)
set_location btn_cond.M_ctr_q_RNO[7] 18 27 7 # SB_LUT4 (LogicCell: btn_cond.M_ctr_q[7]_LC_45)
set_location btn_cond.M_ctr_q[7] 18 27 7 # SB_DFFSR (LogicCell: btn_cond.M_ctr_q[7]_LC_45)
set_location btn_cond.un1_M_ctr_q_cry_7_c 18 27 7 # SB_CARRY (LogicCell: btn_cond.M_ctr_q[7]_LC_45)
set_location btn_cond.M_ctr_q_RNO[8] 18 28 0 # SB_LUT4 (LogicCell: btn_cond.M_ctr_q[8]_LC_46)
set_location btn_cond.M_ctr_q[8] 18 28 0 # SB_DFFSR (LogicCell: btn_cond.M_ctr_q[8]_LC_46)
set_location btn_cond.un1_M_ctr_q_cry_8_c 18 28 0 # SB_CARRY (LogicCell: btn_cond.M_ctr_q[8]_LC_46)
set_location btn_cond.M_ctr_q_RNO[9] 18 28 1 # SB_LUT4 (LogicCell: btn_cond.M_ctr_q[9]_LC_47)
set_location btn_cond.M_ctr_q[9] 18 28 1 # SB_DFFSR (LogicCell: btn_cond.M_ctr_q[9]_LC_47)
set_location btn_cond.un1_M_ctr_q_cry_9_c 18 28 1 # SB_CARRY (LogicCell: btn_cond.M_ctr_q[9]_LC_47)
set_location btn_cond.sync.M_pipe_q_RNIJLM5[1] 16 32 1 # SB_LUT4 (LogicCell: btn_cond.sync.M_pipe_q_RNIJLM5[1]_LC_48)
set_location click_dtct.M_last_q_RNIE6EK8 17 25 2 # SB_LUT4 (LogicCell: click_dtct.M_last_q_RNIE6EK8_LC_49)
set_location click_dtct.M_last_q_RNIJC4S1 17 24 2 # SB_LUT4 (LogicCell: click_dtct.M_last_q_RNIJC4S1_LC_50)
set_location click_dtct.M_last_q_RNIUTK51 17 26 4 # SB_LUT4 (LogicCell: click_dtct.M_last_q_RNIUTK51_LC_51)
set_location click_dtct.M_last_q_RNIUTK51_0 18 25 5 # SB_LUT4 (LogicCell: click_dtct.M_last_q_RNIUTK51_0_LC_52)
set_location click_dtct.M_last_q_RNIUTK51_1 17 25 1 # SB_LUT4 (LogicCell: click_dtct.M_last_q_RNIUTK51_1_LC_53)
set_location reset_cond.M_stage_q_RNO[0] 18 22 6 # SB_LUT4 (LogicCell: reset_cond.M_stage_q[0]_LC_54)
set_location reset_cond.M_stage_q[0] 18 22 6 # SB_DFF (LogicCell: reset_cond.M_stage_q[0]_LC_54)
set_location reset_cond.M_stage_q_RNO[1] 18 22 4 # SB_LUT4 (LogicCell: reset_cond.M_stage_q[1]_LC_55)
set_location reset_cond.M_stage_q[1] 18 22 4 # SB_DFF (LogicCell: reset_cond.M_stage_q[1]_LC_55)
set_location reset_cond.M_stage_q_RNO[2] 18 22 3 # SB_LUT4 (LogicCell: reset_cond.M_stage_q[2]_LC_56)
set_location reset_cond.M_stage_q[2] 18 22 3 # SB_DFF (LogicCell: reset_cond.M_stage_q[2]_LC_56)
set_location reset_cond.M_stage_q_RNO[3] 18 22 5 # SB_LUT4 (LogicCell: reset_cond.M_stage_q[3]_LC_57)
set_location reset_cond.M_stage_q[3] 18 22 5 # SB_DFF (LogicCell: reset_cond.M_stage_q[3]_LC_57)
set_location uart_tx.M_bitCtr_q_RNIP5AF3[0] 17 23 4 # SB_LUT4 (LogicCell: uart_tx.M_bitCtr_q_RNIP5AF3[0]_LC_58)
set_location uart_tx.M_bitCtr_q_RNITT1L[1] 17 24 5 # SB_LUT4 (LogicCell: uart_tx.M_bitCtr_q_RNITT1L[1]_LC_59)
set_location uart_tx.M_bitCtr_q_RNIUE4P3[2] 17 24 6 # SB_LUT4 (LogicCell: uart_tx.M_bitCtr_q_RNIUE4P3[2]_LC_60)
set_location uart_tx.M_bitCtr_q_RNO[0] 17 24 7 # SB_LUT4 (LogicCell: uart_tx.M_bitCtr_q[0]_LC_61)
set_location uart_tx.M_bitCtr_q[0] 17 24 7 # SB_DFF (LogicCell: uart_tx.M_bitCtr_q[0]_LC_61)
set_location uart_tx.M_bitCtr_q_RNO[1] 17 23 5 # SB_LUT4 (LogicCell: uart_tx.M_bitCtr_q[1]_LC_62)
set_location uart_tx.M_bitCtr_q[1] 17 23 5 # SB_DFF (LogicCell: uart_tx.M_bitCtr_q[1]_LC_62)
set_location uart_tx.M_bitCtr_q_RNO[2] 17 23 0 # SB_LUT4 (LogicCell: uart_tx.M_bitCtr_q[2]_LC_63)
set_location uart_tx.M_bitCtr_q[2] 17 23 0 # SB_DFF (LogicCell: uart_tx.M_bitCtr_q[2]_LC_63)
set_location uart_tx.M_ctr_q_RNI3KTJ2[6] 17 23 2 # SB_LUT4 (LogicCell: uart_tx.M_ctr_q_RNI3KTJ2[6]_LC_64)
set_location uart_tx.M_ctr_q_RNIGGUF1[0] 17 23 1 # SB_LUT4 (LogicCell: uart_tx.M_ctr_q_RNIGGUF1[0]_LC_65)
set_location uart_tx.M_ctr_q_RNO[0] 17 22 0 # SB_LUT4 (LogicCell: uart_tx.M_ctr_q[0]_LC_66)
set_location uart_tx.M_ctr_q[0] 17 22 0 # SB_DFF (LogicCell: uart_tx.M_ctr_q[0]_LC_66)
set_location uart_tx.un1_M_ctr_q_3_cry_0_c 17 22 0 # SB_CARRY (LogicCell: uart_tx.M_ctr_q[0]_LC_66)
set_location uart_tx.M_ctr_q_RNO_0[2] 17 22 2 # SB_LUT4 (LogicCell: uart_tx.M_ctr_q_RNO_0[2]_LC_67)
set_location uart_tx.un1_M_ctr_q_3_cry_2_c 17 22 2 # SB_CARRY (LogicCell: uart_tx.M_ctr_q_RNO_0[2]_LC_67)
set_location uart_tx.M_ctr_q_RNO_0[5] 17 22 5 # SB_LUT4 (LogicCell: uart_tx.M_ctr_q_RNO_0[5]_LC_68)
set_location uart_tx.un1_M_ctr_q_3_cry_5_c 17 22 5 # SB_CARRY (LogicCell: uart_tx.M_ctr_q_RNO_0[5]_LC_68)
set_location uart_tx.M_ctr_q_RNO_0[6] 17 22 6 # SB_LUT4 (LogicCell: uart_tx.M_ctr_q_RNO_0[6]_LC_69)
set_location uart_tx.M_ctr_q_RNO[1] 17 22 1 # SB_LUT4 (LogicCell: uart_tx.M_ctr_q[1]_LC_70)
set_location uart_tx.M_ctr_q[1] 17 22 1 # SB_DFF (LogicCell: uart_tx.M_ctr_q[1]_LC_70)
set_location uart_tx.un1_M_ctr_q_3_cry_1_c 17 22 1 # SB_CARRY (LogicCell: uart_tx.M_ctr_q[1]_LC_70)
set_location uart_tx.M_ctr_q_RNO[2] 17 23 3 # SB_LUT4 (LogicCell: uart_tx.M_ctr_q[2]_LC_71)
set_location uart_tx.M_ctr_q[2] 17 23 3 # SB_DFF (LogicCell: uart_tx.M_ctr_q[2]_LC_71)
set_location uart_tx.M_ctr_q_RNO[3] 17 22 3 # SB_LUT4 (LogicCell: uart_tx.M_ctr_q[3]_LC_72)
set_location uart_tx.M_ctr_q[3] 17 22 3 # SB_DFF (LogicCell: uart_tx.M_ctr_q[3]_LC_72)
set_location uart_tx.un1_M_ctr_q_3_cry_3_c 17 22 3 # SB_CARRY (LogicCell: uart_tx.M_ctr_q[3]_LC_72)
set_location uart_tx.M_ctr_q_RNO[4] 17 22 4 # SB_LUT4 (LogicCell: uart_tx.M_ctr_q[4]_LC_73)
set_location uart_tx.M_ctr_q[4] 17 22 4 # SB_DFF (LogicCell: uart_tx.M_ctr_q[4]_LC_73)
set_location uart_tx.un1_M_ctr_q_3_cry_4_c 17 22 4 # SB_CARRY (LogicCell: uart_tx.M_ctr_q[4]_LC_73)
set_location uart_tx.M_ctr_q_RNO[5] 17 23 7 # SB_LUT4 (LogicCell: uart_tx.M_ctr_q[5]_LC_74)
set_location uart_tx.M_ctr_q[5] 17 23 7 # SB_DFF (LogicCell: uart_tx.M_ctr_q[5]_LC_74)
set_location uart_tx.M_ctr_q_RNO[6] 17 22 7 # SB_LUT4 (LogicCell: uart_tx.M_ctr_q[6]_LC_75)
set_location uart_tx.M_ctr_q[6] 17 22 7 # SB_DFF (LogicCell: uart_tx.M_ctr_q[6]_LC_75)
set_location uart_tx.M_state_q_RNILEFM_0[1] 17 23 6 # SB_LUT4 (LogicCell: uart_tx.M_state_q_RNILEFM_0[1]_LC_76)
set_location uart_tx.M_state_q_RNILEFM[1] 18 23 1 # SB_LUT4 (LogicCell: uart_tx.M_state_q_RNILEFM[1]_LC_77)
set_location uart_tx.M_state_q_RNILEFM_1[1] 18 24 3 # SB_LUT4 (LogicCell: uart_tx.M_state_q_RNILEFM_1[1]_LC_78)
set_location uart_tx.M_state_q_RNITA5V2[0] 17 24 3 # SB_LUT4 (LogicCell: uart_tx.M_state_q_RNITA5V2[0]_LC_79)
set_location uart_tx.M_state_q_RNO[0] 18 24 2 # SB_LUT4 (LogicCell: uart_tx.M_state_q[0]_LC_80)
set_location uart_tx.M_state_q[0] 18 24 2 # SB_DFF (LogicCell: uart_tx.M_state_q[0]_LC_80)
set_location uart_tx.M_state_q_RNO[1] 17 24 0 # SB_LUT4 (LogicCell: uart_tx.M_state_q[1]_LC_81)
set_location uart_tx.M_state_q[1] 17 24 0 # SB_DFF (LogicCell: uart_tx.M_state_q[1]_LC_81)
set_location uart_tx.M_txReg_q_RNO 16 22 2 # SB_LUT4 (LogicCell: uart_tx.M_txReg_q_LC_82)
set_location uart_tx.M_txReg_q 16 22 2 # SB_DFFSS (LogicCell: uart_tx.M_txReg_q_LC_82)
set_location uart_tx.M_txReg_q_RNO_0 16 23 5 # SB_LUT4 (LogicCell: uart_tx.M_txReg_q_RNO_0_LC_83)
set_location uart_tx.M_txReg_q_RNO_1 16 23 2 # SB_LUT4 (LogicCell: uart_tx.M_txReg_q_RNO_1_LC_84)
set_location uart_tx.M_txReg_q_RNO_2 16 23 1 # SB_LUT4 (LogicCell: uart_tx.M_txReg_q_RNO_2_LC_85)
set_location uart_tx.M_txReg_q_RNO_3 16 23 4 # SB_LUT4 (LogicCell: uart_tx.M_txReg_q_RNO_3_LC_86)
set_location uart_tx.M_txReg_q_RNO_4 16 23 3 # SB_LUT4 (LogicCell: uart_tx.M_txReg_q_RNO_4_LC_87)
set_location uart_tx.M_txReg_q_RNO_5 16 23 0 # SB_LUT4 (LogicCell: uart_tx.M_txReg_q_RNO_5_LC_88)
set_location btn_cond.M_ctr_q_RNICJ341_19_click_dtct.M_last_q_REP_LUT4_0 17 26 2 # SB_LUT4 (LogicCell: click_dtct.M_last_q_LC_89)
set_location click_dtct.M_last_q 17 26 2 # SB_DFF (LogicCell: click_dtct.M_last_q_LC_89)
set_location btn_cond.sync.M_pipe_q_0_THRU_LUT4_0 16 31 0 # SB_LUT4 (LogicCell: btn_cond.sync.M_pipe_q[0]_LC_90)
set_location btn_cond.sync.M_pipe_q[0] 16 31 0 # SB_DFF (LogicCell: btn_cond.sync.M_pipe_q[0]_LC_90)
set_location btn_cond.sync.M_pipe_q_1_THRU_LUT4_0 16 32 4 # SB_LUT4 (LogicCell: btn_cond.sync.M_pipe_q[1]_LC_91)
set_location btn_cond.sync.M_pipe_q[1] 16 32 4 # SB_DFF (LogicCell: btn_cond.sync.M_pipe_q[1]_LC_91)
set_location uart_tx.M_savedData_q_0_THRU_LUT4_0 16 24 2 # SB_LUT4 (LogicCell: uart_tx.M_savedData_q[0]_LC_92)
set_location uart_tx.M_savedData_q[0] 16 24 2 # SB_DFFE (LogicCell: uart_tx.M_savedData_q[0]_LC_92)
set_location uart_tx.M_savedData_q_1_THRU_LUT4_0 16 24 4 # SB_LUT4 (LogicCell: uart_tx.M_savedData_q[1]_LC_93)
set_location uart_tx.M_savedData_q[1] 16 24 4 # SB_DFFE (LogicCell: uart_tx.M_savedData_q[1]_LC_93)
set_location uart_tx.M_savedData_q_2_THRU_LUT4_0 16 24 1 # SB_LUT4 (LogicCell: uart_tx.M_savedData_q[2]_LC_94)
set_location uart_tx.M_savedData_q[2] 16 24 1 # SB_DFFE (LogicCell: uart_tx.M_savedData_q[2]_LC_94)
set_location uart_tx.M_savedData_q_3_THRU_LUT4_0 16 24 3 # SB_LUT4 (LogicCell: uart_tx.M_savedData_q[3]_LC_95)
set_location uart_tx.M_savedData_q[3] 16 24 3 # SB_DFFE (LogicCell: uart_tx.M_savedData_q[3]_LC_95)
set_location uart_tx.M_savedData_q_4_THRU_LUT4_0 16 24 5 # SB_LUT4 (LogicCell: uart_tx.M_savedData_q[4]_LC_96)
set_location uart_tx.M_savedData_q[4] 16 24 5 # SB_DFFE (LogicCell: uart_tx.M_savedData_q[4]_LC_96)
set_location uart_tx.M_savedData_q_5_THRU_LUT4_0 16 24 0 # SB_LUT4 (LogicCell: uart_tx.M_savedData_q[5]_LC_97)
set_location uart_tx.M_savedData_q[5] 16 24 0 # SB_DFFE (LogicCell: uart_tx.M_savedData_q[5]_LC_97)
set_location uart_tx.M_savedData_q_6_THRU_LUT4_0 16 24 6 # SB_LUT4 (LogicCell: uart_tx.M_savedData_q[6]_LC_98)
set_location uart_tx.M_savedData_q[6] 16 24 6 # SB_DFFE (LogicCell: uart_tx.M_savedData_q[6]_LC_98)
set_location uart_tx.M_savedData_q_7_THRU_LUT4_0 16 24 7 # SB_LUT4 (LogicCell: uart_tx.M_savedData_q[7]_LC_99)
set_location uart_tx.M_savedData_q[7] 16 24 7 # SB_DFFE (LogicCell: uart_tx.M_savedData_q[7]_LC_99)
set_location GND -1 -1 -1 # GND
set_io btn_cond.sync.M_pipe_q_RNIJLM5_0[1] 16 33 1 # ICE_GB
set_io clk_ibuf_gb_io 16 0 1 # ICE_GB_IO
set_io led_obuf[0] 33 6 0 # ICE_IO
set_io led_obuf[1] 33 4 1 # ICE_IO
set_io led_obuf[2] 33 4 0 # ICE_IO
set_io led_obuf[3] 33 5 0 # ICE_IO
set_io led_obuf[4] 33 2 0 # ICE_IO
set_io led_obuf[5] 33 3 1 # ICE_IO
set_io led_obuf[6] 33 1 0 # ICE_IO
set_io led_obuf[7] 33 2 1 # ICE_IO
set_io rst_n_ibuf 17 0 0 # ICE_IO
set_io trigger_ibuf 0 16 1 # ICE_IO
set_io usb_tx_obuf 22 0 1 # ICE_IO
