set_location IN_MUX_bfv_17_22_0_ 17 22 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_18_27_0_ 18 27 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_18_28_0_ 18 28 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_18_29_0_ 18 29 0 #ICE_CARRY_IN_MUX
set_location uart_tx.M_savedData_q_7_THRU_LUT4_0 16 24 7 #SB_LUT4
set_location uart_tx.M_savedData_q_6_THRU_LUT4_0 16 24 6 #SB_LUT4
set_location uart_tx.M_savedData_q_5_THRU_LUT4_0 16 24 0 #SB_LUT4
set_location uart_tx.M_savedData_q_4_THRU_LUT4_0 16 24 5 #SB_LUT4
set_location uart_tx.M_savedData_q_3_THRU_LUT4_0 16 24 3 #SB_LUT4
set_location uart_tx.M_savedData_q_2_THRU_LUT4_0 16 24 1 #SB_LUT4
set_location uart_tx.M_savedData_q_1_THRU_LUT4_0 16 24 4 #SB_LUT4
set_location uart_tx.M_savedData_q_0_THRU_LUT4_0 16 24 2 #SB_LUT4
set_location btn_cond.sync.M_pipe_q_1_THRU_LUT4_0 16 32 4 #SB_LUT4
set_location btn_cond.sync.M_pipe_q_0_THRU_LUT4_0 16 31 0 #SB_LUT4
set_location btn_cond.M_ctr_q_RNICJ341_19_click_dtct.M_last_q_REP_LUT4_0 17 26 2 #SB_LUT4
set_location uart_tx.un1_M_ctr_q_3_cry_5_c 17 22 5 #SB_CARRY
set_location uart_tx.un1_M_ctr_q_3_cry_4_c 17 22 4 #SB_CARRY
set_location uart_tx.un1_M_ctr_q_3_cry_3_c 17 22 3 #SB_CARRY
set_location uart_tx.un1_M_ctr_q_3_cry_2_c 17 22 2 #SB_CARRY
set_location uart_tx.un1_M_ctr_q_3_cry_1_c 17 22 1 #SB_CARRY
set_location uart_tx.un1_M_ctr_q_3_cry_0_c 17 22 0 #SB_CARRY
set_location uart_tx.M_txReg_q_RNO_5 16 23 0 #SB_LUT4
set_location uart_tx.M_txReg_q_RNO_4 16 23 3 #SB_LUT4
set_location uart_tx.M_txReg_q_RNO_3 16 23 4 #SB_LUT4
set_location uart_tx.M_txReg_q_RNO_2 16 23 1 #SB_LUT4
set_location uart_tx.M_txReg_q_RNO_1 16 23 2 #SB_LUT4
set_location uart_tx.M_txReg_q_RNO_0 16 23 5 #SB_LUT4
set_location uart_tx.M_txReg_q_RNO 16 22 2 #SB_LUT4
set_location uart_tx.M_txReg_q 16 22 2 #SB_DFFSS
set_location uart_tx.M_state_q_RNO[1] 17 24 0 #SB_LUT4
set_location uart_tx.M_state_q_RNO[0] 18 24 2 #SB_LUT4
set_location uart_tx.M_state_q_RNITA5V2[0] 17 24 3 #SB_LUT4
set_location uart_tx.M_state_q_RNILEFM_1[1] 18 24 3 #SB_LUT4
set_location uart_tx.M_state_q_RNILEFM[1] 18 23 1 #SB_LUT4
set_location uart_tx.M_state_q_RNILEFM_0[1] 17 23 6 #SB_LUT4
set_location uart_tx.M_state_q[1] 17 24 0 #SB_DFF
set_location uart_tx.M_state_q[0] 18 24 2 #SB_DFF
set_location uart_tx.M_savedData_q[7] 16 24 7 #SB_DFFE
set_location uart_tx.M_savedData_q[6] 16 24 6 #SB_DFFE
set_location uart_tx.M_savedData_q[5] 16 24 0 #SB_DFFE
set_location uart_tx.M_savedData_q[4] 16 24 5 #SB_DFFE
set_location uart_tx.M_savedData_q[3] 16 24 3 #SB_DFFE
set_location uart_tx.M_savedData_q[2] 16 24 1 #SB_DFFE
set_location uart_tx.M_savedData_q[1] 16 24 4 #SB_DFFE
set_location uart_tx.M_savedData_q[0] 16 24 2 #SB_DFFE
set_location uart_tx.M_ctr_q_RNO[6] 17 22 7 #SB_LUT4
set_location uart_tx.M_ctr_q_RNO[5] 17 23 7 #SB_LUT4
set_location uart_tx.M_ctr_q_RNO[4] 17 22 4 #SB_LUT4
set_location uart_tx.M_ctr_q_RNO[3] 17 22 3 #SB_LUT4
set_location uart_tx.M_ctr_q_RNO[2] 17 23 3 #SB_LUT4
set_location uart_tx.M_ctr_q_RNO[1] 17 22 1 #SB_LUT4
set_location uart_tx.M_ctr_q_RNO_0[6] 17 22 6 #SB_LUT4
set_location uart_tx.M_ctr_q_RNO_0[5] 17 22 5 #SB_LUT4
set_location uart_tx.M_ctr_q_RNO_0[2] 17 22 2 #SB_LUT4
set_location uart_tx.M_ctr_q_RNO[0] 17 22 0 #SB_LUT4
set_location uart_tx.M_ctr_q_RNIGGUF1[0] 17 23 1 #SB_LUT4
set_location uart_tx.M_ctr_q_RNI3KTJ2[6] 17 23 2 #SB_LUT4
set_location uart_tx.M_ctr_q[6] 17 22 7 #SB_DFF
set_location uart_tx.M_ctr_q[5] 17 23 7 #SB_DFF
set_location uart_tx.M_ctr_q[4] 17 22 4 #SB_DFF
set_location uart_tx.M_ctr_q[3] 17 22 3 #SB_DFF
set_location uart_tx.M_ctr_q[2] 17 23 3 #SB_DFF
set_location uart_tx.M_ctr_q[1] 17 22 1 #SB_DFF
set_location uart_tx.M_ctr_q[0] 17 22 0 #SB_DFF
set_location uart_tx.M_bitCtr_q_RNO[2] 17 23 0 #SB_LUT4
set_location uart_tx.M_bitCtr_q_RNO[1] 17 23 5 #SB_LUT4
set_location uart_tx.M_bitCtr_q_RNO[0] 17 24 7 #SB_LUT4
set_location uart_tx.M_bitCtr_q_RNIUE4P3[2] 17 24 6 #SB_LUT4
set_location uart_tx.M_bitCtr_q_RNITT1L[1] 17 24 5 #SB_LUT4
set_location uart_tx.M_bitCtr_q_RNIP5AF3[0] 17 23 4 #SB_LUT4
set_location uart_tx.M_bitCtr_q[2] 17 23 0 #SB_DFF
set_location uart_tx.M_bitCtr_q[1] 17 23 5 #SB_DFF
set_location uart_tx.M_bitCtr_q[0] 17 24 7 #SB_DFF
set_location reset_cond.M_stage_q_RNO[3] 18 22 5 #SB_LUT4
set_location reset_cond.M_stage_q_RNO[2] 18 22 3 #SB_LUT4
set_location reset_cond.M_stage_q_RNO[1] 18 22 4 #SB_LUT4
set_location reset_cond.M_stage_q_RNO[0] 18 22 6 #SB_LUT4
set_location reset_cond.M_stage_q[3] 18 22 5 #SB_DFF
set_location reset_cond.M_stage_q[2] 18 22 3 #SB_DFF
set_location reset_cond.M_stage_q[1] 18 22 4 #SB_DFF
set_location reset_cond.M_stage_q[0] 18 22 6 #SB_DFF
set_location click_dtct.M_last_q_RNIUTK51_1 17 25 1 #SB_LUT4
set_location click_dtct.M_last_q_RNIUTK51_0 18 25 5 #SB_LUT4
set_location click_dtct.M_last_q_RNIUTK51 17 26 4 #SB_LUT4
set_location click_dtct.M_last_q_RNIJC4S1 17 24 2 #SB_LUT4
set_location click_dtct.M_last_q_RNIE6EK8 17 25 2 #SB_LUT4
set_location click_dtct.M_last_q 17 26 2 #SB_DFF
set_location btn_cond.un1_M_ctr_q_cry_9_c 18 28 1 #SB_CARRY
set_location btn_cond.un1_M_ctr_q_cry_8_c 18 28 0 #SB_CARRY
set_location btn_cond.un1_M_ctr_q_cry_7_c 18 27 7 #SB_CARRY
set_location btn_cond.un1_M_ctr_q_cry_6_c 18 27 6 #SB_CARRY
set_location btn_cond.un1_M_ctr_q_cry_5_c 18 27 5 #SB_CARRY
set_location btn_cond.un1_M_ctr_q_cry_4_c 18 27 4 #SB_CARRY
set_location btn_cond.un1_M_ctr_q_cry_3_c 18 27 3 #SB_CARRY
set_location btn_cond.un1_M_ctr_q_cry_2_c 18 27 2 #SB_CARRY
set_location btn_cond.un1_M_ctr_q_cry_1_c 18 27 1 #SB_CARRY
set_location btn_cond.un1_M_ctr_q_cry_18_c 18 29 2 #SB_CARRY
set_location btn_cond.un1_M_ctr_q_cry_17_c 18 29 1 #SB_CARRY
set_location btn_cond.un1_M_ctr_q_cry_16_c 18 29 0 #SB_CARRY
set_location btn_cond.un1_M_ctr_q_cry_15_c 18 28 7 #SB_CARRY
set_location btn_cond.un1_M_ctr_q_cry_14_c 18 28 6 #SB_CARRY
set_location btn_cond.un1_M_ctr_q_cry_13_c 18 28 5 #SB_CARRY
set_location btn_cond.un1_M_ctr_q_cry_12_c 18 28 4 #SB_CARRY
set_location btn_cond.un1_M_ctr_q_cry_11_c 18 28 3 #SB_CARRY
set_location btn_cond.un1_M_ctr_q_cry_10_c 18 28 2 #SB_CARRY
set_location btn_cond.un1_M_ctr_q_cry_0_c 18 27 0 #SB_CARRY
set_location btn_cond.sync.M_pipe_q_RNIJLM5[1] 16 32 1 #SB_LUT4
set_location btn_cond.sync.M_pipe_q[1] 16 32 4 #SB_DFF
set_location btn_cond.sync.M_pipe_q[0] 16 31 0 #SB_DFF
set_location btn_cond.M_ctr_q_RNO[9] 18 28 1 #SB_LUT4
set_location btn_cond.M_ctr_q_RNO[8] 18 28 0 #SB_LUT4
set_location btn_cond.M_ctr_q_RNO[7] 18 27 7 #SB_LUT4
set_location btn_cond.M_ctr_q_RNO[6] 18 27 6 #SB_LUT4
set_location btn_cond.M_ctr_q_RNO[5] 18 27 5 #SB_LUT4
set_location btn_cond.M_ctr_q_RNO[4] 18 27 4 #SB_LUT4
set_location btn_cond.M_ctr_q_RNO[3] 18 27 3 #SB_LUT4
set_location btn_cond.M_ctr_q_RNO[2] 18 27 2 #SB_LUT4
set_location btn_cond.M_ctr_q_RNO[19] 18 29 3 #SB_LUT4
set_location btn_cond.M_ctr_q_RNO[18] 18 29 2 #SB_LUT4
set_location btn_cond.M_ctr_q_RNO[17] 18 29 1 #SB_LUT4
set_location btn_cond.M_ctr_q_RNO[16] 18 29 0 #SB_LUT4
set_location btn_cond.M_ctr_q_RNO[15] 18 28 7 #SB_LUT4
set_location btn_cond.M_ctr_q_RNO[14] 18 28 6 #SB_LUT4
set_location btn_cond.M_ctr_q_RNO[13] 18 28 5 #SB_LUT4
set_location btn_cond.M_ctr_q_RNO[12] 18 28 4 #SB_LUT4
set_location btn_cond.M_ctr_q_RNO[11] 18 28 3 #SB_LUT4
set_location btn_cond.M_ctr_q_RNO[10] 18 28 2 #SB_LUT4
set_location btn_cond.M_ctr_q_RNO[1] 18 27 1 #SB_LUT4
set_location btn_cond.M_ctr_q_RNO[0] 18 27 0 #SB_LUT4
set_location btn_cond.M_ctr_q_RNIUMNB[4] 17 26 6 #SB_LUT4
set_location btn_cond.M_ctr_q_RNIUMNB_0[4] 17 27 3 #SB_LUT4
set_location btn_cond.M_ctr_q_RNIS377[10] 17 27 1 #SB_LUT4
set_location btn_cond.M_ctr_q_RNIS377_0[10] 17 28 2 #SB_LUT4
set_location btn_cond.M_ctr_q_RNIQGM2[12] 17 27 0 #SB_LUT4
set_location btn_cond.M_ctr_q_RNIMKT9[14] 17 28 3 #SB_LUT4
set_location btn_cond.M_ctr_q_RNIKBLL[10] 17 26 7 #SB_LUT4
set_location btn_cond.M_ctr_q_RNIE6NB_0[0] 17 27 2 #SB_LUT4
set_location btn_cond.M_ctr_q_RNIE6NB[0] 17 26 3 #SB_LUT4
set_location btn_cond.M_ctr_q_RNICJ341[19] 17 24 1 #SB_LUT4
set_location btn_cond.M_ctr_q_RNICJ341[14] 17 28 4 #SB_LUT4
set_location btn_cond.M_ctr_q_RNIB6B1[12] 17 28 1 #SB_LUT4
set_location btn_cond.M_ctr_q_RNIA1N2[19] 17 28 6 #SB_LUT4
set_location btn_cond.M_ctr_q_RNIA1N2_0[19] 17 28 5 #SB_LUT4
set_location btn_cond.M_ctr_q[9] 18 28 1 #SB_DFFSR
set_location btn_cond.M_ctr_q[8] 18 28 0 #SB_DFFSR
set_location btn_cond.M_ctr_q[7] 18 27 7 #SB_DFFSR
set_location btn_cond.M_ctr_q[6] 18 27 6 #SB_DFFSR
set_location btn_cond.M_ctr_q[5] 18 27 5 #SB_DFFSR
set_location btn_cond.M_ctr_q[4] 18 27 4 #SB_DFFSR
set_location btn_cond.M_ctr_q[3] 18 27 3 #SB_DFFSR
set_location btn_cond.M_ctr_q[2] 18 27 2 #SB_DFFSR
set_location btn_cond.M_ctr_q[19] 18 29 3 #SB_DFFSR
set_location btn_cond.M_ctr_q[18] 18 29 2 #SB_DFFSR
set_location btn_cond.M_ctr_q[17] 18 29 1 #SB_DFFSR
set_location btn_cond.M_ctr_q[16] 18 29 0 #SB_DFFSR
set_location btn_cond.M_ctr_q[15] 18 28 7 #SB_DFFSR
set_location btn_cond.M_ctr_q[14] 18 28 6 #SB_DFFSR
set_location btn_cond.M_ctr_q[13] 18 28 5 #SB_DFFSR
set_location btn_cond.M_ctr_q[12] 18 28 4 #SB_DFFSR
set_location btn_cond.M_ctr_q[11] 18 28 3 #SB_DFFSR
set_location btn_cond.M_ctr_q[10] 18 28 2 #SB_DFFSR
set_location btn_cond.M_ctr_q[1] 18 27 1 #SB_DFFSR
set_location btn_cond.M_ctr_q[0] 18 27 0 #SB_DFFSR
set_location M_count_q_RNO[7] 16 25 2 #SB_LUT4
set_location M_count_q_RNO[6] 17 25 7 #SB_LUT4
set_location M_count_q_RNO[5] 16 25 1 #SB_LUT4
set_location M_count_q_RNO[4] 18 25 4 #SB_LUT4
set_location M_count_q_RNO[3] 17 25 4 #SB_LUT4
set_location M_count_q_RNO[2] 16 25 6 #SB_LUT4
set_location M_count_q_RNO[1] 18 25 0 #SB_LUT4
set_location M_count_q_RNO_0[7] 16 26 6 #SB_LUT4
set_location M_count_q_RNO[0] 18 25 6 #SB_LUT4
set_location M_count_q_RNITRFR[3] 18 25 2 #SB_LUT4
set_location M_count_q_RNIGFD24[4] 17 25 6 #SB_LUT4
set_location M_count_q_RNIF6FD2[1] 18 25 3 #SB_LUT4
set_location M_count_q_RNI2B741[0] 18 24 4 #SB_LUT4
set_location M_count_q_RNI0H5P2[1] 17 25 3 #SB_LUT4
set_location M_count_q[7] 16 25 2 #SB_DFFSR
set_location M_count_q[6] 17 25 7 #SB_DFFSR
set_location M_count_q[5] 16 25 1 #SB_DFFSR
set_location M_count_q[4] 18 25 4 #SB_DFFSR
set_location M_count_q[3] 17 25 4 #SB_DFFSR
set_location M_count_q[2] 16 25 6 #SB_DFFSR
set_location M_count_q[1] 18 25 0 #SB_DFFSR
set_location M_count_q[0] 18 25 6 #SB_DFFSR
set_location GND -1 -1 -1 #GND
set_io usb_tx M9
set_io trigger H1
set_io rst_n P8
set_io led[7] N14
set_io led[6] M12
set_io led[5] L14
set_io led[4] L12
set_io led[3] K14
set_io led[2] K12
set_io led[1] K11
set_io led[0] J11
set_io clk P7
